page-core-login-credentials {
    .content {
        background: -webkit-radial-gradient(white, $gray-light);
        background: radial-gradient(white, $gray-light);
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $white;
        border: 1px solid $gray;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    .item-input {
        margin-bottom: 20px;
    }
}
