<!-- Render (no edit). -->
<ion-item *ngIf="!edit && field && field.name">
    <h2>{{ field.name }}</h2>
    <p><core-format-text [text]="field.value"></core-format-text></p>
</ion-item>
<!-- Edit. -->
<ion-item *ngIf="edit && field && field.shortname" text-wrap>
    <ion-label [core-mark-required]="field.required">{{ field.name }}</ion-label>
    <ion-textarea [name]="field.modelName" [(ngModel)]="model[field.modelName]" [placeholder]="field.name" [disabled]="!signup && field.locked" [required]="field.required"></ion-textarea>
</ion-item>
