
.mma-forum-discussion-link {
    text-decoration: none;
}

.mma-forum-align-right {
    justify-content: flex-end;
}

.mma-forum-border {
    border-color: $item-default-border;
    border-width: $item-border-width;
    border-style: solid;
}

.mm-site_mod_forum-discussion .card.highlight .item.item-heading {
    background-color: $stable;
    font-weight: bold;

    h2 {
        font-weight: bold;
    }
}
