/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Colors.
$positive: #387ef5 !default;

// Theme.
$bar-content-bg: #f70;
$bar-content-border: transparent;
$bar-content-text: #fff;
$bar-side-menu-height: 80px;
$bar-side-menu-color: $bar-content-bg;
$bar-side-menu-border-color: $bar-content-border;
$bar-side-menu-text-color: $bar-content-text;

// Setting the default button to button-outline.
$button-default-bg: transparent;
$button-default-text: $positive;
$button-default-border: $positive;
$button-default-active-bg: $positive;
$button-default-active-border: $positive;

// Small avatar ideal for icons.
$item-media-width: 32px;
$item-media-height: 32px;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic.
@import "www/lib/ionic/scss/ionic";

// Bar styles
.bar-content {
  @include bar-style($bar-content-bg, $bar-content-border, $bar-content-text);
  .button {
    @include button-style($bar-content-bg, $bar-content-border, $bar-content-bg, $bar-content-border, $bar-content-text);
    @include button-clear(#fff, $bar-title-font-size);
  }
}

.bar-side-menu {
  @include bar-style($bar-side-menu-color, $bar-side-menu-border-color, $bar-side-menu-text-color);
  height: $bar-side-menu-height;
  .item {
    background: transparent;
    border: none;
  }
  .item-avatar {
    h2,
    p {
      color: $bar-side-menu-text-color;
    }
  }
}

.has-side-menu-header {
  top: $bar-side-menu-height;
}

// Setting the default button to button-outline.
.button.active,
.button.activated {
  box-shadow: none;
  color: #fff;
}

// Media item, ideal for icons.
.item-media {
  @extend .item-avatar;
  padding-left: $item-media-width + ($item-padding * 2);
  min-height: $item-media-width + ($item-padding * 2);
  > img:first-child {
    max-width: $item-media-width;
    max-height: $item-media-height;
    border-radius: 0;
  }
}

// Split pane.
.mm-split-pane {
  @include display-flex();
  @include align-items(stretch);
  width: 100%;
  height: 100%;
}

.mm-split-pane-menu {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.mm-split-pane-content {
  @include flex(1, 0, auto);
  position: relative;
  display: none;
}

.tablet {
  .mm-split-pane-menu {
    @include flex(0, 0, $menu-width);
    width: $menu-width;
    border-right: 1px solid #ddd;
  }
  .mm-split-pane-content {
    display: block;
  }
}