:host {

    h1 {
        margin-top: 0;
        font-size: var(--mdl-typography-heading2-fontSize);
    }

    h1, p {
        text-align: center;
    }

    ion-button {
        margin: 0;
    }

}
