@use "theme/globals" as *;


:host {
    .addon-mod_resource-outdated {
        @include padding(4px, 0px, 0px, 0px);

        ion-icon {
            font-size: var(--mdl-typography-icon-fontSize-lg);
        }
    }

    .addon-mod_resource-afterlink {
        font-size: var(--text-size);
    }

    // Styles for inline document viewer
    iframe {
        width: 100%;
        height: 90vh;
        min-height: 600px;
        border: none;
        background-color: #fff;
        display: block;
        margin: 0;
    }

    // Hide elements when showing iframe
    &.iframe-mode {
        .description,
        .addon-mod_resource-afterlink {
            display: none;
        }
    }
}
