:host {
    ion-card.section ion-card-header {
        margin-bottom: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    ion-card.section .item-heading {
        font-weight: bold;
        font-size: 1.2rem;
    }
}
