ion-app.app-root core-course-module-completion button {
    display: block;
    background-color: transparent;

    img {
        padding: 5px;
        width: 30px;
        vertical-align: middle;
        max-width: none;
    }
}
