<ion-grid no-padding  *ngIf="previous || info || next">
    <ion-row>
        <ion-col text-left>
            <a ion-button icon-only clear color="info" *ngIf="previous" (click)="action.emit(previous)" [title]="'core.previous' | translate">
                <ion-icon name="arrow-dropleft-circle"></ion-icon>
            </a>
        </ion-col>
        <ion-col text-center>
            <a ion-button icon-only clear color="info" *ngIf="info" (click)="showInfo()" [title]="title">
                <ion-icon name="information-circle"></ion-icon>
            </a>
        </ion-col>
        <ion-col text-right>
            <a ion-button icon-only clear color="info" *ngIf="next" (click)="action.emit(next)" [title]="'core.next' | translate">
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </a>
        </ion-col>
    </ion-row>
</ion-grid>
