page-addon-mod-lesson-player {
    .addon-mod_lesson-slideshow {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    ion-input[padding-left] input[padding-left] {
        // Applying padding-left to the ion-input applies it twice since it's replicated in the inner input.
        padding-left: 0;
    }

    .addon-mod_lesson-pagebuttons .button-block {
        contain: content;
        height: 100%;
        display: flex;
        flex-direction: column;

        .button-inner {
            flex-grow: 1;
        }
    }
}
