ion-app.app-root page-addon-mod-lesson-player {
    .addon-mod_lesson-slideshow {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    ion-input[padding-left] input[padding-left] {
        // Applying padding-left to the ion-input applies it twice since it's replicated in the inner input.
        @include padding(null, null, null, 0);
    }

    .addon-mod_lesson-pagebuttons .button-block {
        height: 100%;
        display: flex;
        flex-direction: column;

        .button-inner {
            flex-grow: 1;
        }
    }

    table {
        width: 100%;
        margin-top: 1.5rem;

        tr:nth-child(odd) {
            background-color: $gray-lighter;
        }

        tr:last-child td {
            border-bottom: 0;
        }

        td {
            padding: 5px;
            line-height: 1.5;
        }
    }

    .item-ios table td {
        border-bottom: $hairlines-width solid $list-ios-border-color;
    }

    .item-md table td {
        border-bottom: 1px solid $list-md-border-color;
    }

    .item-wp table td {
        border-bottom: 1px solid $list-wp-border-color;
    }

    .item-ios table {
        @extend .card-ios;
    }

    .item-md table {
        @extend .card-md;
    }

    .item-wp table {
        @extend .card-wp;
    }
}
