.mm-site_frontpage {
    .mma-frontpage-item-container .item-media {
        min-height: 55px;
        padding-left: 54px;

        img {
            top: 11px;
            left: 11px;
        }
    }
}