<ion-view view-title="{{ 'mm.sharedfiles.sharedfiles' | translate }}">
    <ion-content mm-state-class>
        <mm-loading hide-until="loaded">
            <div class="list">
                <div class="item item-text-wrap">
                    <h2>{{ 'mm.sharedfiles.chooseaccountstorefile' | translate }}</h2>
                    <p>{{filename}}</p>
                </div>
                <ion-item class="item item-thumbnail-left" ng-repeat="site in sites track by $index" ng-click="storeInSite(site.id)">
                    <img ng-src="{{site.avatar}}">
                    <h2>{{site.fullname}}</h2>
                    <p><mm-format-text clean="true" watch="true">{{site.sitename}}</mm-format-text></p>
                    <p>{{site.siteurl}}</p>
                </ion-item>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
