<ion-view view-title="{{ 'mm.sharedfiles.sharedfiles' | translate }}">
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="filesLoaded" on-refresh="refreshFiles()"></ion-refresher>
        <mm-loading hide-until="filesLoaded">
            <ul class="list">
                <li ng-repeat="file in files">
                    <mm-local-file ng-if="file.isFile" file="file" manage="true" file-deleted="fileDeleted($index)"></mm-local-file>
                </li>
                <li ng-if="files && !files.length" class="item">{{ 'mm.sharedfiles.nosharedfiles' | translate }}</li>
            </ul>
        </mm-loading>
    </ion-content>
</ion-view>
