<ion-card [class.core-course-list-item]="layout === 'list' || layout === 'listwithenrol'"
    [class.core-course-list-card]="layout === 'card' || layout === 'summarycard'"
    [class.item-dimmed]="course.hidden" 
    [ngClass]="getPastelColorClass()"
    (click)="openCourse()"
    button [attr.aria-label]="course.displayname || course.fullname">

    <ion-item class="ion-text-wrap">
        <ion-label>
            <h2 class="item-heading">
                <ion-icon *ngIf="course.isfavourite" name="fas-star" aria-hidden="true"></ion-icon>
                {{ getCleanCourseName() }}
            </h2>

            <div *ngIf="layout !== 'summarycard' && isEnrolled && progress >= 0 && completionUserTracked !== false"
                 class="core-course-progress">
                <p>{{ 'core.courses.progress' | translate }}: {{ progress }}%</p>
                <core-progress-bar [progress]="progress" a11yText="core.courses.aria:courseprogress"></core-progress-bar>
            </div>
        </ion-label>
    </ion-item>

</ion-card>