
.mm-site_mod_data {
  .recordcheckbox {
    display: none;
  }
}

.mm-data-contents {
  overflow: visible;
  white-space: normal;
  word-break: break-word;
  padding: $item-padding;
  background-color: white;
  border-top-width: $item-border-width;
  border-bottom-width: $item-border-width;
  border-style: solid;
  border-color: $item-default-border;

  td {
    padding-left: 2px;
    padding-right: 2px;
  }
}

#mma-mod_data-advanced-search-form,
#mma-mod_data-edit-form  {
  table {
    width: 100%;
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .item-select,
  mm-attachments>.item-border {
    width: 100%;
    margin: -1px;
    border: 1px solid $gray;
    padding: 16px 0 16px 16px;
    height: 56px;
  }

  mm-attachments .item-media {
    width: 100%;
    margin: -1px;
    border: 1px solid $gray;
    height: 56px;
  }

  mm-multiple-select .item {
    width: 100%;
    margin: -1px;
    border: 1px solid $gray;
    padding: 16px 0 16px 16px;
  }

  mm-attachments .item {
    width: 100%;
    margin: -1px;
    border: 1px solid $gray;
  }

  .item-checkbox {
    margin-right: 1px;
  }

  .item-select select {
      width: 100%;
      left: 0;
      max-width: none;
  }

  .item-input.mm-latlong {
    width: 100%;
    margin: -1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    input {
      border: 0;
    }
  }
}