// Style multianswer content a bit. All these styles are copied from Moodle.
addon-qtype-multianswer {
    p {
        margin: 0 0 .5em;
    }

    .answer div.r0, .answer div.r1, .answer td.r0, .answer td.r1 {
        padding: 0.3em;
    }

    table {
        width: 100%;
        display: table;
    }

    tr {
        display: table-row;
    }

    td {
        display: table-cell;
    }

    input, select {
        @include border-radius(4px);

        display: inline-block;
        border: 1px solid $gray-dark;
        padding: 6px 8px;
        @include margin-horizontal(2px);
        margin-bottom: 10px;
    }

    select {
        height: 30px;
        line-height: 30px;
    }

    input[type="radio"], input[type="checkbox"] {
        @include margin(-4px, 7px, null, null);
    }
}
