@import "~theme/globals";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    color: var(--text-color);
    margin: 0 auto;
    text-align: center;
    padding: 16px;
    --image-size: 120px;

    height: 100%;

    ion-icon {
        font-size: var(--image-size);
    }
    img {
        height: var(--image-size);
    }
    p {
        font-size: 120%;
    }

    &.core-empty-box-clickable {
        z-index: 0;
    }
}

@include media-breakpoint-down(sm) {
    :host {
        --image-size: 100px;
    }
}
