<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-browsers-outline" ng-href="{{assignurl}}" mm-browser></a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentLoaded" on-refresh="refreshAssignment()"></ion-refresher>
        <mm-loading hide-until="assignmentLoaded">
            <mm-course-mod-description description="description" watch="true"></mm-course-mod-description>
            <mm-file ng-repeat="attachment in assign.introattachments" file="attachment" component="{{assigncomponent}}" component-id="{{assign.id}}"></mm-file>
            <div ng-if="assign.allowsubmissionsfromdate" class="item item-text-wrap">
                <h2>{{ 'mma.mod_assign.allowsubmissionsfromdate' | translate }}</h2>
                <p>{{ assign.allowsubmissionsfromdate * 1000 | mmFormatDate:"dfmediumdate" }}</p>
            </div>
            <div class="item item-text-wrap" ng-if="assign.duedate">
                <h2>{{ 'mma.mod_assign.duedate' | translate }}</h2>
                <p ng-if="assign.duedate" >{{ assign.duedate * 1000 | mmFormatDate:"dfmediumdate" }}</p>
                <p ng-if="!assign.duedate" >{{ 'mma.mod_assign.duedateno' | translate }}</p>
            </div>
            <div ng-if="assign.cutoffdate" class="item item-text-wrap">
                <h2>{{ 'mma.mod_assign.cutoffdate' | translate }}</h2>
                <p>{{ assign.cutoffdate * 1000 | mmFormatDate:"dfmediumdate" }}</p>
            </div>
            <div ng-if="canviewsubmissions && submissions && submissions.length" class="card" >
                <div class="item item-divider">{{ 'mma.mod_assign.submissions' | translate }}</div>
                <div ng-repeat="submission in submissions track by $index" ng-if="submission.userprofileimageurl"> <!-- Don't show deleted users -->
                    <div class="item item-divider" ng-if="$index > 0"></div>

                    <a class="item item-avatar" mm-user-link userid="{{submission.userid}}" courseid="{{courseid}}" title="{{submission.userfullname}}">
                        <img ng-src="{{submission.userprofileimageurl}}" mm-external-content alt="" role="presentation">
                        <p>{{submission.userfullname}}</p>
                        <div class="item-note">{{submission.status}}</div>
                        <p>{{ submission.timemodified * 1000 | mmFormatDate:"dfmediumdate" }}</p>
                    </a>

                    <div class="item item-body">
                        <p>{{ 'mma.mod_assign.attemptnumber' | translate }}: {{submission.attemptnumber}}</p>
                        <a ui-sref="site.mod_assign-submission({submission: submission})" ng-if="submission.text" class="button button-block">{{ 'mma.mod_assign.viewsubmission' | translate }}</a>
                        <mm-file ng-repeat="attachment in submission.attachments" file="attachment" component="{{submissioncomponent}}" component-id="{{submission.id}}"></mm-file>
                    </div>
                </div>
            </div>
            <div ng-if="assign && !canviewsubmissions">
                <a class="button button-block" ng-href="{{assignurl}}" mm-browser>{{ 'mma.mod_assign.addsubmission' | translate }}</a>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>