<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content padding="true" mm-state-class>
        <mm-course-mod-description description="description"></mm-course-mod-description>
        <div class="item item-text-wrap">
            <h2>{{ 'mma.mod_url.pointingtourl' | translate }}</h2>
            <p>{{ url }}</p>
        </div>
        <a ng-click="go()" class="button button-block"><i class="icon ion-link"></i> {{ 'mma.mod_url.accessurl' | translate }}</a>
    </ion-content>
</ion-view>