<ion-item-divider [sticky]="true">
    <ion-label>
        <h2>{{ 'addon.block_sitemainmenu.pluginname' | translate }}</h2>
    </ion-label>
</ion-item-divider>
<core-loading [hideUntil]="loaded" placeholderType="column" placeholderHeight="48px" [placeholderLimit]="8">
    @if (mainMenuBlock) {
        <ion-list class="core-course-module-list-wrapper list-item-limited-width">
            @if (mainMenuBlock.summary) {
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <core-format-text [text]="mainMenuBlock.summary" [component]="component" [componentId]="siteHomeId"
                            contextLevel="course" [contextInstanceId]="siteHomeId" />
                    </ion-label>
                </ion-item>
            }

            @for (modOrSubsection of mainMenuBlock.contents; track modOrSubsection.id) {
                @if (isModule(modOrSubsection)) {
                    <core-course-module [module]="modOrSubsection" [section]="mainMenuBlock" />
                }
            }
        </ion-list>
    }
</core-loading>
