ion-app.app-root page-addon-mod-chat-chat {
    .addon-mod-chat-notice {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .addon-mod-chat-message {
        align-items: flex-start;
    }
}
