<ion-header>
    <ion-toolbar>
        <h2>{{ 'core.courses.selfenrolment' | translate }}</h2>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="close()" [attr.aria-label]="'core.close' | translate">
                <ion-icon name="fas-times" slot="icon-only" aria-hidden="true"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form (ngSubmit)="submitPassword($event)" #enrolPasswordForm>
        <ion-item>
            <ion-label class="sr-only">{{ 'core.courses.password' | translate }}</ion-label>
            <core-show-password name="password">
                <ion-input
                    class="ion-text-wrap core-ioninput-password"
                    name="password"
                    type="password"
                    placeholder="{{ 'core.courses.password' | translate }}"
                    [(ngModel)]="password"
                    core-auto-focus
                    [clearOnEdit]="false">
                </ion-input>
            </core-show-password>
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" [disabled]="!password" type="submit">{{ 'core.courses.enrolme' | translate }}</ion-button>
        </div>
    </form>
</ion-content>
