@import "~theme/globals";

:host {
    --rotate-expandable: rotate(180deg);

    .expandable-status-icon {
        font-size: var(--text-size);
        @include margin-horizontal(0, 2px);
        @include core-transition(transform, 200ms);
    }
}
