ion-app.app-root {
    .card-md core-file + core-file > .item-md.item-block > .item-inner,
    core-file + core-file > .item-md.item-block > .item-inner {
        border-top: 1px solid $list-md-border-color;
    }

    .card-ios core-file + core-file > .item-ios.item-block > .item-inner,
    core-file + core-file > .item-ios.item-block > .item-inner {
        border-top: $hairlines-width solid $list-ios-border-color;
        .buttons {
            min-height: 53px;
            min-width: 58px;
        }
    }

    .card-wp core-file + core-file > .item-wp.item-block > .item-inner,
    core-file + core-file > .item-wp.item-block > .item-inner {
        border-top: 1px solid $list-wp-border-color;
    }

    core-file > .item.item-block > .item-inner {
        border-bottom: 0;
        @include safe-area-padding(null, 0px, null, null);
        .buttons {
            display: flex;
            flex-flow: row;
            align-items: center;
            z-index: 1;
            justify-content: space-around;
            align-content: center;
            min-height: 52px;
            min-width: 53px;
        }
    }
}