<div *ngIf="showCompletionConditions && completion && completion.isautomatic" class="core-module-automatic-completion-conditions"
    role="list" [attr.aria-label]="'core.course.completionrequirements' | translate:{ $a: moduleName }">

    <ng-container *ngIf="completion.istrackeduser">
        <ng-container *ngFor="let rule of details">
            <ion-chip *ngIf="rule.statuscomplete" color="success" role="listitem" [attr.aria-label]="rule.accessibleDescription">
                <ion-icon name="fas-check" aria-hidden="true"></ion-icon>
                <ion-label><strong>{{ 'core.course.completion_automatic:done' | translate }}</strong> {{ rule.rulevalue.description }}
                </ion-label>
            </ion-chip>

            <ion-chip *ngIf="rule.statuscompletefail" color="danger" role="listitem" [attr.aria-label]="rule.accessibleDescription">
                <ion-icon name="fas-times" aria-hidden="true"></ion-icon>
                <ion-label><strong>{{ 'core.course.completion_automatic:failed' | translate }}</strong> {{ rule.rulevalue.description }}
                </ion-label>
            </ion-chip>

            <ion-chip *ngIf="rule.statusincomplete" role="listitem" [attr.aria-label]="rule.accessibleDescription">
                <ion-icon name="fas-edit" aria-hidden="true"></ion-icon>
                <ion-label><strong>{{ 'core.course.completion_automatic:todo' | translate }}</strong> {{ rule.rulevalue.description }}
                </ion-label>
            </ion-chip>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!completion.istrackeduser">
        <ion-chip *ngFor="let rule of details" color="light" role="listitem">
            <ion-label>{{ rule.rulevalue.description }}</ion-label>
        </ion-chip>
    </ng-container>
</div>

<core-course-module-manual-completion *ngIf="showManualCompletion" [completion]="completion" [moduleName]="moduleName"
    (completionChanged)="completionChanged.emit($event)">
</core-course-module-manual-completion>
