:host {
    min-width: var(--a11y-min-target-size);
    min-height: var(--a11y-min-target-size);
    --size: 30px;

    img {
        padding: 5px;
        width: var(--size);
        vertical-align: middle;
        max-width: none;
        margin: 7px;
    }

    ion-button {
        --padding-top: 0;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
    }
}
