<header>
    <ion-item button="false" detail="false" class="ion-text-wrap">
        <ion-thumbnail slot="start">
            <img [src]="icon()" alt="" role="presentation" />
        </ion-thumbnail>

        <ion-label>{{ filename() }}</ion-label>

        <ion-button shape="round" size="default" slot="end" fill="clear" [ariaLabel]="'core.close' | translate"
            (click)="close({ status: 'cancel' })">
            <ion-icon slot="icon-only" name="close" aria-label="hidden" />
        </ion-button>
    </ion-item>
</header>

<hr>

<ion-list>
    @if (isDownloaded()) {
        <ion-item button detail="false" lines="none" (click)="close({ status: 'deleteOffline' })">
            <ion-icon slot="start" name="fam-cloud-x" aria-hidden="true" />
            <ion-label>{{ 'core.removedownloadeddata' | translate }}</ion-label>
        </ion-item>
    }

    <ion-item button detail="false" (click)="close({ status: 'deleteOnline' })" lines="none">
        <ion-icon slot="start" name="fas-trash" aria-hidden="true" color="danger" />
        <ion-label>{{ 'core.delete' | translate }}</ion-label>
    </ion-item>
</ion-list>
