<ion-row class="ion-justify-content-between ion-align-items-center ion-no-padding"
    *ngIf="previousIndex >= 0 || nextIndex >= 0 || items.length > 1">
    <ion-col class="ion-text-start ion-padding-end" [size]="showTitles ? 4 : 3">
        <ion-button *ngIf="previousIndex >=0" class="core-navigation-bar-arrow" fill="clear" [attr.aria-label]="previousTitle"
            (click)="navigate(previousIndex)">
            <ion-icon name="fas-arrow-left" [slot]="showTitles ? 'start' : 'icon-only'" aria-hidden="true"></ion-icon>
            <core-format-text *ngIf="showTitles" [text]="previousTitle" [component]="component" [componentId]="componentId"
                [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId" aria-hidden="true">
            </core-format-text>
        </ion-button>
    </ion-col>
    <ion-col class="ion-text-center" [size]="showTitles ? 4 : 6">
        <ion-range min="0" [max]="items.length -1" debounce="500" snaps="true" (ionChange)="navigateOnRange($event.target)"
            [value]="currentIndex">
            <p slot="end">{{currentIndex + 1}} / {{items.length}}</p>
        </ion-range>
    </ion-col>
    <ion-col class="ion-text-end ion-padding-start" [size]="showTitles ? 4 : 3">
        <ion-button fill="clear" *ngIf="nextIndex >= 0" class="core-navigation-bar-arrow" [attr.aria-label]="nextTitle"
            (click)="navigate(nextIndex)">
            <core-format-text *ngIf="showTitles" [text]="nextTitle" [component]="component" [componentId]="componentId"
                [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId" aria-hidden="true">
            </core-format-text>
            <ion-icon name="fas-arrow-right" [slot]="showTitles ? 'end' : 'icon-only'" aria-hidden="true"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>
