<ion-view view-title="{{ 'mma.grades.grades' | translate }}">
    <mm-split-view load-when="gradesLoaded" component="mmaCoursesGrades" menu-state="site.coursesgrades">
        <ion-content mm-state-class>
            <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="gradesLoaded" on-refresh="refreshGrades()">
            </ion-refresher>
            <mm-loading hide-until="gradesLoaded">
                <p ng-if="grades.length == 0" class="padding">{{ 'mma.grades.nogradesreturned' | translate }}</p>
                <ul class="list">
                    <li ng-repeat="grade in grades">
                        <a class="item item-icon-right" mm-split-view-link="site.grades({courseid: grade.courseid, user: userid, forcephoneview: 1})" title="{{grade.coursefullname}}">
                            <mm-format-text watch="true">{{grade.coursefullname}}</mm-format-text>
                            <span class="badge badge-stable">{{grade.grade}}</span>
                        </a>
                    </li>
                </ul>
            </mm-loading>
        </ion-content>
    </mm-split-view>
</ion-view>