<ion-item class="ion-text-wrap" *ngIf="item && (item!.canrate || item!.rating != null) && !disabled">
    <ion-label>{{ 'core.rating.rating' | translate }}</ion-label>
    <ion-select class="ion-text-start" [(ngModel)]="rating" (ngModelChange)="userRatingChanged()" interface="action-sheet"
        [disabled]="!item!.canrate" [interfaceOptions]="{header: 'core.rating.rating' | translate}">
        <ion-select-option *ngFor="let scaleItem of scale!.items" [value]="scaleItem.value">{{ scaleItem.name }}</ion-select-option>
    </ion-select>
</ion-item>
