<ion-modal-view class="mma-mod_lesson-password-modal">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mm.login.password' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <ion-input class="item item-input item-stacked-label">
                <ion-label>{{ 'mma.mod_lesson.enterpassword' | translate }}</ion-label>
                <input id="mma-mod-lesson-password-input" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="data.password" mm-show-password>
                <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="submitPassword(data.password)">{{ 'mma.mod_lesson.continue' | translate }}</button>
            </ion-input>
        </form>
    </ion-content>
</ion-modal-view>
