<ion-view can-swipe-back="false">
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content padding="true" mm-state-class delegate-handle="mmaModLessonPlayerScroll">
        <mm-loading hide-until="pageLoaded">
            <!-- TODO: Print questions and buttons. -->
            <mm-format-text watch="true" component="{{component}}" component-id="{{lesson.coursemodule}}">{{pageContent}}</mm-format-text>
        </mm-loading>
    </ion-content>
</ion-view>