.core-login-faqwhatisurlanswer img {
    max-height: 50px;
}

.core-login-faqwhereisqrcodeanswer img {
    max-height: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-weight: bold;
}
