os: linux
dist: noble
node_js: 20
jdk:
  - openjdk23

git:
  depth: 3

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  npm: true
  directories:
    - $HOME/.npm
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
    - $HOME/Library/Caches/Homebrew

before_install:
  - echo -e "machine github.com\n login $GIT_TOKEN" > ~/.netrc
  - nvm install
  - node --version
  - npm --version
  - nvm --version
  - npm ci --no-audit

before_script:
  - npx gulp

script:
  - scripts/build.sh

jobs:
  include:
  - name: "Build Android"
    if: env(DEPLOY) = 1 OR (env(DEPLOY) = 2 AND tag IS NOT blank)
    language: java
    env:
    - ANDROID_PLATFORM_VERSION=34
    - ANDROID_BUILD_TOOLS_VERSION="34.0.0"
    addons:
      apt:
        packages:
        - libsecret-1-dev
  - name: "Build iOS"
    language: node_js
    if: env(BUILD_IOS) = 1 AND (env(DEPLOY) = 1 OR (env(DEPLOY) = 2 AND tag IS NOT blank))
    os: osx
    osx_image: xcode14.2
    addons:
      homebrew:
        packages:
        - jq
    before_cache:
      - brew cleanup
