<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moodle.moodlemobile" version="3.8.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Moodle</name>
    <description>Moodle official app</description>
    <author email="mobile@moodle.com" href="http://moodle.com">Moodle Mobile team</author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="geo:*" />
    <allow-navigation href="moodleappfs:*" />
    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="AppendUserAgent" value="MoodleMobile" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="15000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="LoadUrlTimeoutValue" value="60000" />
    <preference name="CustomURLSchemePluginClearsAndroidIntent" value="true" />
    <preference name="Scheme" value="moodleappfs" />
    <preference name="iosScheme" value="moodleappfs" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <resource-file src="MainActivity.java" target="app/src/main/java/com/moodle/moodlemobile/MainActivity.java" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="resources/android/icon/drawable-ldpi-smallicon.png" target="app/src/main/res/mipmap-ldpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-mdpi-smallicon.png" target="app/src/main/res/mipmap-mdpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-hdpi-smallicon.png" target="app/src/main/res/mipmap-hdpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-xhdpi-smallicon.png" target="app/src/main/res/mipmap-xhdpi/smallicon.png" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <provider android:authorities="${applicationId}.opener.provider" android:exported="false" android:grantUriPermissions="true" android:name="io.github.pwlin.cordova.plugins.fileopener2.FileProvider">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/opener_paths" />
            </provider>
        </config-file>
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>We need your location so you can attach it as part of your submissions.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>We need your location so you can attach it as part of your submissions.</string>
        </edit-config>
    </platform>
    <plugin name="com-darryncampbell-cordova-plugin-intent" spec="1.3.0" />
    <plugin name="cordova-android-support-gradle-release" spec="3.0.1">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.1.0" />
    </plugin>
    <plugin name="cordova-clipboard" spec="1.3.0" />
    <plugin name="cordova-plugin-badge" spec="0.8.8" />
    <plugin name="cordova-plugin-camera" spec="4.1.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="4.4.0">
        <variable name="URL_SCHEME" value="moodlemobile" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="2.0.3" />
    <plugin name="cordova-plugin-file" spec="6.0.2" />
    <plugin name="cordova-plugin-file-opener2" spec="2.2.1" />
    <plugin name="cordova-plugin-file-transfer" spec="1.7.1" />
    <plugin name="cordova-plugin-geolocation" spec="4.0.2">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="We need your location so you can attach it as part of your submissions." />
    </plugin>
    <plugin name="cordova-plugin-globalization" spec="1.11.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.1.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
    <plugin name="cordova-plugin-local-notification" spec="https://github.com/moodlemobile/cordova-plugin-local-notification.git#moodle" />
    <plugin name="cordova-plugin-media-capture" spec="3.0.3" />
    <plugin name="cordova-plugin-network-information" spec="2.0.2" />
    <plugin name="cordova-plugin-qrscanner" spec="https://github.com/moodlemobile/cordova-plugin-qrscanner.git#dist" />
    <plugin name="cordova-plugin-screen-orientation" spec="3.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="cordova-plugin-wkwebview-cookies" spec="https://github.com/moodlemobile/cordova-plugin-wkwebview-cookies.git" />
    <plugin name="cordova-plugin-zip" spec="3.1.0" />
    <plugin name="cordova-sqlite-storage" spec="3.4.0" />
    <plugin name="nl.kingsquare.cordova.background-audio" spec="1.0.1" />
    <plugin name="phonegap-plugin-push" spec="https://github.com/moodlemobile/phonegap-plugin-push.git#moodle-v3">
        <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
        <variable name="FCM_VERSION" value="17.5.+" />
    </plugin>
    <plugin name="cordova-plugin-ionic-webview" spec="4.1.3" />
    <plugin name="cordova-plugin-advanced-http" spec="2.4.1" />
    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|screenLayout|smallestScreenSize" android:debuggable="true" />
    </edit-config>
    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
    </config-file>
    <config-file parent="FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED" target="*-Info.plist">
        <string>YES</string>
    </config-file>
    <engine name="android" spec="8.0.0" />
    <engine name="ios" spec="5.0.1" />
</widget>
