<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"

        xmlns:gap = "http://phonegap.com/ns/1.0"

        xmlns:android = "http://schemas.android.com/apk/res/android"

        id        = "net.onlinelearning.32online"

        versionCode = "1"

        version   = "1.0">

    <name>32BelajarOnline</name>



    <description>

        Integrated Online Learning for PKBM 32 Duren Sawit Innovational Education

    </description>



    <author href="http://moodle.com" email="mega.ciel06@gmail.com">

        Mega Kusuma

    </author>



    <gap:config-file platform="ios" parent="CFBundleShortVersionString">

        <string>1.0</string>

    </gap:config-file>



    <feature name="http://api.phonegap.com/1.0/device" />

    <feature name="http://api.phonegap.com/1.0/network"/>

    <!-- The following phonegap camera feature block Google Play to install the app on Nexus 7.

         Nothing is broken without it, so we disable it.

         Note that at the current moment we don't use phonegap video capture plugin - MOBILE-296.

         -->

    <!-- feature name="http://api.phonegap.com/1.0/camera"/ -->

    <feature name="http://api.phonegap.com/1.0/contacts"/>

    <feature name="http://api.phonegap.com/1.0/media"/>

    <feature name="http://api.phonegap.com/1.0/file"/>



    <preference name="phonegap-version" value="3.6.3" />

    <preference name="orientation"      value="default" />

    <preference name="target-device"    value="universal" />

    <preference name="fullscreen"       value="false" />

    <preference name="stay-in-webview"  value="false" />

    <preference name="webviewbounce"    value="false" />

    <preference name="prerendered-icon" value="true" />

    <preference name="load-url-timeout" value="60000" />



    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <preference name="iosPersistentFileLocation" value="Compatibility" />



    <icon src="icon.png" />

    <icon src="img/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />

    <icon src="img/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />

    <icon src="img/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />

    <icon src="img/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

    <icon src="img/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />

    <icon src="img/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />

    <icon src="img/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />

    <icon src="img/icon/ios/icon-120.png"           gap:platform="ios"        width="120" height="120" />

    <icon src="img/icon/ios/icon-152.png"           gap:platform="ios"        width="152" height="152" />

    <icon src="img/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />

    <icon src="img/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />



    <gap:splash src="img/splash/android/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>

    <gap:splash src="img/splash/android/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>

    <gap:splash src="img/splash/android/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>

    <gap:splash src="img/splash/android/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>



    <gap:splash src="img/splash/ios/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>

    <gap:splash src="img/splash/ios/iphone_retina_portrait.png" gap:platform="ios" width="640" height="960"/>

    <gap:splash src="img/splash/ios/iphone5.png" gap:platform="ios" width="640" height="1136" />



    <gap:splash src="img/splash/ios/ipad_portrait.png" gap:platform="ios" width="768" height="1004"/>

    <gap:splash src="img/splash/ios/ipad_landscape.png" gap:platform="ios" width="1024" height="748"/>

    <gap:splash src="img/splash/ios/ipad_retina_portrait.png" gap:platform="ios" width="1536" height="2008"/>

    <gap:splash src="img/splash/ios/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496"/>



    <gap:platform name="ios" />

    <gap:platform name="android" />



    <gap:plugin name="org.apache.cordova.camera" />

    <gap:plugin name="org.apache.cordova.media-capture" />

    <gap:plugin name="org.apache.cordova.console" />

    <gap:plugin name="org.apache.cordova.contacts" />

    <gap:plugin name="org.apache.cordova.device" />

    <gap:plugin name="org.apache.cordova.file" />

    <gap:plugin name="org.apache.cordova.file-transfer" />

    <gap:plugin name="org.apache.cordova.globalization" />

    <gap:plugin name="org.apache.cordova.inappbrowser" />

    <gap:plugin name="org.apache.cordova.network-information" />

    <gap:plugin name="org.apache.cordova.splashscreen" />

    <gap:plugin name="com.phonegap.plugin.statusbar" />



    <gap:plugin name="com.phonegap.plugins.pushplugin" />

    <gap:plugin name="net.tunts.webintent" />

    <gap:plugin name="nl.x-services.plugins.launchmyapp">

        <param name="URL_SCHEME" value="mootes14" />

    </gap:plugin>

    <gap:plugin name="com.ionic.keyboard" version="1.0.3" />



    <access origin="*" />



</widget>