<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.moodle.moodlemobile2" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Moodle Mobile</name>
  <description>Official Moodle Mobile app</description>
  <author href="http://moodle.com" email="juan@moodle.com">Juan Leyva</author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />
  <access origin="geo:*" launch-external="yes" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>