<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123777483463-mfm2b276ntuj48ip93pklqpbpsqmvtko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123777483463-mfm2b276ntuj48ip93pklqpbpsqmvtko</string>
	<key>API_KEY</key>
	<string>AIzaSyASAxnBIyQqy50NWi4e8qkXmVxF5vTYEhU</string>
	<key>GCM_SENDER_ID</key>
	<string>123777483463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecurei.mobile</string>
	<key>PROJECT_ID</key>
	<string>ecurei-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ecurei-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123777483463:ios:aef4dbdb96f831a336f4e2</string>
	<key>DATABASE_URL</key>
	<string>https://ecurei-app.firebaseio.com</string>
</dict>
</plist>