:host {
    swiper-container {
        height: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        &::part(container) {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow: visible;
        }

        &::part(wrapper) {
            flex-grow: 1;
            display: flex;
            align-items: stretch;
        }

        swiper-slide {
            display: block;
            justify-content: start;
            align-items: start;
            text-align: start;
        }
    }
}
