:host {
    ion-slides {
        height: 100%;
    }

    ion-slide {
        display: block;
        font-size: inherit;
        justify-content: start;
        align-items: start;
        text-align: start;
    }
}
