#tour-view .slider {
  height: 100%;
}
#tour-view .slider-slide {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#tour-view .icon-slide {
  font-size: 20em;
  display: inline-block;
}
#tour-view .slider-slide p{
  font-size: 18px;
   padding-bottom: 20px;
}
