ion-content::part(background) {
    --background: var(--core-splash-screen-background, #ffffff);

    background-image: url("../../../../../assets/img/splash.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: var(--core-splash-bgsize, 100vmax);
    background-position: center;
}

.core-bglogo {
    display: table;
    width: 100%;
    height: 100%;

    .core-center-spinner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    ion-spinner {
        --color: var(--core-splash-spinner-color, var(--core-color));
    }
}
