ion-app.app-root ion-badge.core-course-download-section-progress {
    display: block;
    @include float(start);
    @include margin(12px, 12px, null, 12px);
}

ion-app.app-root core-course-format {

    button.core-button-select .core-section-selector-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2em;
        white-space: nowrap;
    }

    .core-format-progress-list {
        margin-bottom: 0;

        .item {
            background: transparent;

            .label {
                margin-top: 0;
                margin-bottom: 0;
            }

            progress {
                .progress-bar-fallback,
                &[value]::-webkit-progress-bar {
                    background-color: $white;
                }
            }
        }
    }

    .core-course-thumb {
        display: none;
        height: 150px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        pointer-events: auto;
        position: relative;
        background: white;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
        }
    }

    .item-divider  {
        .label {
            margin-top: 0;
            margin-bottom: 0;
        }

        core-format-text {
            line-height: 44px;
        }

        &.core-section-download .label{
            @include margin(null, 0, null, null);
        }
    }

    div.core-section-download {
        @include padding(null, 0, null, null);
    }

    .core-course-section-nav-buttons {
        .button-inner core-format-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-transform: none;
        }
    }
}
