:host {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background);

    ion-card {
        --border-radius: var(--mdl-shape-borderRadius-sm);
    }

    ::ng-deep ion-item-divider {
        min-height: var(--item-divider-min-height);
    }

    ::ng-deep core-loading {
        --loading-inline-min-height: 60px;
    }
}
