:host {
    position: relative;
    display: block;
    background: var(--background);

    ion-item-divider {
        min-height: 60px;
        .core-button-spinner {
            margin: 0;
        }
    }
}
