:host {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background);

    ::ng-deep ion-item-divider {
        min-height: var(--item-divider-min-height);
    }

    ::ng-deep core-loading {
        --loading-inline-min-height: 44px;
    }
}
