<span *ngIf="mode == 'edit'" [formGroup]="form">
    <span [core-mark-required]="field.required"></span>

    <core-input-errors *ngIf="error" [errorMessages]="error"></core-input-errors>

    <core-attachments [files]="files" [maxSize]="maxSizeBytes" maxSubmissions="1" [component]="component" [componentId]="componentId" [allowOffline]="true"></core-attachments>

    <ion-item>
        <ion-label>{{ 'addon.mod_data.alttext' | translate }}</ion-label>
        <ion-input type="text" [formControlName]="'f_'+field.id+'_alttext'" [(ngModel)]="alttext" [placeholder]=" 'addon.mod_data.alttext' | translate" ></ion-input>
        <span class="placeholder-icon" item-right>°N</span>
    </ion-item>
</span>

<span *ngIf="mode == 'search'" [formGroup]="form">
    <ion-input type="text" [formControlName]="'f_'+field.id" [placeholder]="field.name"></ion-input>
</span>

<span *ngIf="mode == 'list' && imageUrl" (click)="viewAction()"><img [src]="imageUrl" [alt]="title" [title]="title" class="core-media-adapt-width list_picture" core-external-content/></span>

<img *ngIf="mode == 'show' && imageUrl" [src]="imageUrl" [alt]="title" [title]="title" class="core-media-adapt-width list_picture" [width]="width" [height]="height" core-external-content/>