<core-loading [hideUntil]="loaded">
    @if (!filteredEvents || !filteredEvents.length) {
        <core-empty-box icon="fas-calendar" [message]="'addon.calendar.noevents' | translate" />
    }

    @if (filteredEvents && filteredEvents.length) {
        <ion-list class="list-item-limited-width">
            <ng-container *ngFor="let event of filteredEvents">
                <ion-card>
                    <ion-item class="ion-text-wrap addon-calendar-event" [attr.aria-label]="event.name" (click)="eventClicked(event)" button
                        [ngClass]="['addon-calendar-eventtype-'+event.eventtype]" [detail]="false">
                        @if (event.moduleIcon) {
                            <core-mod-icon [modicon]="event.moduleIcon" slot="start" [modname]="event.modulename"
                                [componentId]="event.instance" [showAlt]="false" [purpose]="event.purpose" [isBranded]="event.branded" />
                        }
                        @if (event.eventIcon && !event.moduleIcon) {
                            <ion-icon [name]="event.eventIcon" slot="start" aria-hidden="true" />
                        }
                        <ion-label>
                            <!-- Add the icon title so accessibility tools read it. -->
                            <span class="sr-only">
                                {{ 'addon.calendar.type' + event.formattedType | translate }}
                                @if (event.moduleIcon && event.iconTitle) {
                                    <span class="sr-only">{{ event.iconTitle }}</span>
                                }
                            </span>
                            <p class="item-heading">
                                <core-format-text [text]="event.name" [contextLevel]="event.contextLevel"
                                    [contextInstanceId]="event.contextInstanceId" />
                            </p>
                            <p>
                                <core-format-text [text]="event.formattedtime" [filter]="false" />
                            </p>
                        </ion-label>
                        @if (event.offline && !event.deleted) {
                            <ion-note slot="end">
                                <ion-icon name="fas-clock" aria-hidden="true" />
                                <span class="ion-text-wrap">{{ 'core.notsent' | translate }}</span>
                            </ion-note>
                        }
                        @if (event.deleted) {
                            <ion-note slot="end">
                                <ion-icon name="fas-trash" aria-hidden="true" />
                                <span class="ion-text-wrap">{{ 'core.deletedoffline' | translate }}</span>
                            </ion-note>
                        }
                    </ion-item>
                </ion-card>
            </ng-container>
        </ion-list>
    }

</core-loading>
