<ion-card-header text-wrap no-padding >
    <ion-item text-wrap>
        <ion-avatar item-start (click)="openUserProfile(post.userid)">
            <img [src]="post.userpictureurl" onError="this.src='assets/img/user-avatar.png'" core-external-content [alt]="'core.pictureof' | translate:{$a: post.userfullname}" role="presentation">
        </ion-avatar>
        <h2><span [class.core-bold]="post.parent == 0"><core-format-text [text]="post.subject"></core-format-text></span></h2>
        <p>
            <ion-note float-end padding-left *ngIf="!post.modified"><ion-icon name="time"></ion-icon> {{ 'core.notsent' | translate }}</ion-note>
            <ion-note float-end padding-left text-end *ngIf="post.modified">
                {{post.modified | coreDateDayOrTime}}
                <div *ngIf="trackPosts && !post.postread"><core-icon name="fa-circle" color="primary"></core-icon> {{ 'addon.mod_forum.unread' | translate }}</div>
            </ion-note>
            {{post.userfullname}}
        </p>
    </ion-item>
</ion-card-header>
<ion-card-content padding-top>
    <core-format-text [component]="component" [componentId]="componentId" [text]="post.message"></core-format-text>
    <div *ngFor="let attachment of post.attachments">
        <!-- Files already attached to the submission. -->
        <core-file *ngIf="!attachment.name" [file]="attachment" [component]="component" [componentId]="componentId"></core-file>
        <!-- Files stored in offline to be sent later. -->
        <core-local-file *ngIf="attachment.name" [file]="attachment"></core-local-file>
    </div>
</ion-card-content>
<ion-item no-padding text-end *ngIf="post.id && post.canreply" class="addon-forum-reply-button">
    <button ion-button icon-left clear small (click)="showReply()" [attr.aria-controls]="'addon-forum-reply-edit-form-' + uniqueId" [attr.aria-expanded]="replyData.replyingTo === post.id">
        <ion-icon name="undo"></ion-icon> {{ 'addon.mod_forum.reply' | translate }}
    </button>
</ion-item>
<ion-item text-end *ngIf="!post.id && (!replyData.isEditing || replyData.replyingTo != post.parent)">
    <button ion-button icon-left clear small (click)="editReply()" [attr.aria-controls]="'addon-forum-reply-edit-form-' + uniqueId" [attr.aria-expanded]="replyData.replyingTo === post.parent">
        <ion-icon name="create"></ion-icon> {{ 'addon.mod_forum.edit' | translate }}
    </button>
</ion-item>
<ion-list [id]="'addon-forum-reply-edit-form-' + uniqueId" *ngIf="(post.id && !replyData.isEditing && replyData.replyingTo == post.id) || (!post.id && replyData.isEditing && replyData.replyingTo == post.parent)">
    <ion-item>
        <ion-label stacked>{{ 'addon.mod_forum.subject' | translate }}</ion-label>
        <ion-input type="text" [placeholder]="'addon.mod_forum.subject' | translate" [(ngModel)]="replyData.subject"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{ 'addon.mod_forum.message' | translate }}</ion-label>
        <core-rich-text-editor item-content [control]="messageControl" (contentChanged)="onMessageChange($event)" [placeholder]="'addon.mod_forum.message' | translate" [name]="'mod_forum_reply_' + post.id" [component]="component" [componentId]="componentId"></core-rich-text-editor>
    </ion-item>
    <core-attachments *ngIf="forum.id && forum.maxattachments > 0" [files]="replyData.files" [maxSize]="forum.maxbytes" [maxSubmissions]="forum.maxattachments" [component]="component" [componentId]="forum.cmid" [allowOffline]="true"></core-attachments>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button block (click)="reply()" [disabled]="replyData.subject == '' || replyData.message == null">{{ 'addon.mod_forum.posttoforum' | translate }}</button>
            </ion-col>
            <ion-col>
                <button ion-button block color="light" (click)="cancel()">{{ 'core.cancel' | translate }}</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="replyData.isEditing">
            <ion-col>
                <button ion-button block color="light" (click)="discard()">{{ 'core.discard' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-list>
