@use "theme/globals" as *;

// Edit and search modal.
:host {

    .addon-data-advanced-search {
        padding: 16px;
        width: 100%;
    }

    .addon-data-edit-entry form,
    form .addon-data-advanced-search {
        background-color: var(--ion-item-background);

        ::ng-deep {
            table {
                width: 100%;
                tbody {
                    display: block;
                }

                td {
                    vertical-align: top;
                }
            }

            .edit-field,
            .search-field {
                border-bottom: 1px solid var(--stroke);
            }

            .has-errors {
                .input-highlight,
                .select-highlight,
                .textarea-highlight {
                    transform: scale(1);
                }
                core-rich-text-editor.ion-touched.ng-invalid {
                    --stroke: var(--danger);
                }
            }

            .core-mark-required {
                @include float(end);

                + ion-input,
                + ion-select {
                    @include padding(null, 20px, null, null);
                }
            }
        }
    }
}
