@use "theme/globals" as *;

// Edit and search modal.
:host {

    ::ng-deep {
        table {
            width: 100%;
        }
        td {
            vertical-align: top;
        }
    }

    .addon-data-advanced-search {
        padding: 16px;
        width: 100%;
    }

    .addon-data-contents form,
    form .addon-data-advanced-search {
        background-color: var(--ion-item-background);

        ::ng-deep {
            .has-errors {
                .input-highlight,
                .select-highlight,
                .textarea-highlight {
                    transform: scale(1);
                }
                core-rich-text-editor.ion-touched.ng-invalid {
                    --stroke: var(--danger);
                }
            }

            .core-mark-required {
                @include float(end);

                + ion-input,
                + ion-select {
                    @include padding(null, 20px, null, null);
                }
            }
        }
    }
}
