@if (progressNumber() >= 0) {

    <progress max="100" [value]="progressNumber()" role="progressbar" [attr.aria-valuenow]="progressNumber()"
        [attr.aria-valuetext]="progressBarValueText()" [attr.aria-describedby]="ariaDescribedBy()">
    </progress>
    <div class="core-progress-text">
        @if (a11yText(); as a11yTextValue) {
            <span class="sr-only">{{ a11yTextValue | translate }}</span>
        }
        {{ textToDisplay() }}
    </div>

} @else {
    <ion-progress-bar [color]="color()" type="indeterminate" />
}
