// Style match content a bit.
.mma-qtype-calculated-container .item-select {
  select,
  .mm-select-fix {
    padding: 0 36px 0 0;
    max-width: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
  }
}
