ion-slides {
    min-height: 100%;
}

ion-slide {
    align-items: start;
}

::ng-deep {

    core-loading .core-loading-content {
        display: block;
        width: 100%;
    }

    ion-refresher.refresher-native {
        z-index: 2;
    }

}
