ion-slides {
    min-height: 100%;
}

ion-slide {
    align-items: start;
}

:host ::ng-deep {

    .swiper-wrapper {
        position: absolute;
    }

    core-loading .core-loading-content {
        display: block !important;
        width: 100%;
    }

    ion-refresher.refresher-native {
        z-index: 2;
    }

}
