@import "~theme/globals";

:host {
    .core-warning-item {
        --inner-border-width: 0px;
    }

    .addon-mod_h5pactivity-attempt-result-summary {
        img {
            width: 16px;
            height: 16px;
            display: inline;
            @include margin-horizontal(0, 4px);
        }
    }

    .addon-mod_h5pactivity-attempt-result-summary,
    .addon-mod_h5pactivity-result-table-header,
    .addon-mod_h5pactivity-result-table-row {
        ion-icon {
            font-size: 1.2em;
        }
    }

    .addon-mod_h5pactivity-result-table-header {
        font-weight: bold;
    }

    .addon-mod_h5pactivity-result-table-row.item:nth-child(even) {
        --background: var(--light);
    }

    .addon-mod_h5pactivity-result-score {
        border-top: 1px solid black;
    }
}

:host-context(html.dark) {
    .addon-mod_h5pactivity-result-table-row.item:nth-child(even) {
        --background: var(--gray-900);
    }
}
