:host {

    .core-grading-summary-grade {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        ion-icon {
            flex-shrink: 0;
        }

        .penalty-indicator-icon {
            display: none;
        }
    }

    .core-grading-summary-penalty {
        color: var(--danger);
        font-size: 0.75em;
    }
}
