:host {
    --mod-icon-filter: brightness(0);

    core-mod-icon {
        background: transparent;
        margin: 0;
        --filter: var(--mod-icon-filter);
    }
}

:host-context(html.dark) {
    --mod-icon-filter: brightness(0) invert(1);
}
