<ion-view view-title="{{ 'mm.grades.grade' | translate }}">
    <ion-content mm-state-class>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="gradeLoaded && grade" on-refresh="refreshGrade()">
        </ion-refresher>
        <mm-loading hide-until="gradeLoaded">
            <div ng-if="grade">
                <a ng-if="grade.itemname" mm-link capture-link="true" class="item item-divider" href="{{ grade.link }}" title="{{ grade.itemname }}">
                    <h2><mm-format-text watch="true">{{ grade.itemname }}</mm-format-text></h2>
                </a>

                <div ng-if="grade.weight" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.weight' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.weight }}</mm-format-text></p>
                </div>

                <div ng-if="grade.grade" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.grade' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.grade }}</mm-format-text></p>
                </div>

                <div ng-if="grade.range" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.range' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.range }}</mm-format-text></p>
                </div>

                <div ng-if="grade.percentage" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.percentage' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.percentage }}</mm-format-text></p>
                </div>

                <div ng-if="grade.lettergrade" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.lettergrade' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.lettergrade }}</mm-format-text></p>
                </div>

                <div ng-if="grade.rank" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.rank' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.rank }}</mm-format-text></p>
                </div>

                <div ng-if="grade.average" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.average' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.average }}</mm-format-text></p>
                </div>

                <div ng-if="grade.feedback" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.feedback' | translate}}</h2>
                    <p><mm-format-text expand-title="{{ 'mm.grades.feedback' | translate}}" max-height="60" fullview-on-click="true" newlines-on-fullview="true" watch="true" >{{ grade.feedback }}</mm-format-text></p>
                </div>

                <div ng-if="grade.contributiontocoursetotal" class="item item-text-wrap">
                    <h2>{{ 'mm.grades.contributiontocoursetotal' | translate}}</h2>
                    <p><mm-format-text watch="true">{{ grade.contributiontocoursetotal }}</mm-format-text></p>
                </div>
            </div>
            <div ng-if="!grade" class="padding">
                <p>{{errormessage}}</p>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>