ion-list.core-sitelist {
    .core-sitelist-sitename {
        ion-label {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        border-bottom: 1px solid var(--stroke);
    }
}
