<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content>
        <div class="list">
            <li class="item">
                <h2>{{appname}}</h2>
            </li>
            <li class="item item-divider">
                <p>{{ 'mm.settings.license' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
                <h2>Apache 2.0</h2>
                <p><a href="http://www.apache.org/licenses/LICENSE-2.0" mm-browser>http://www.apache.org/licenses/LICENSE-2.0</a></p>
            </li>
        </div>
    </ion-content>
</ion-view>