<ion-view view-title="{{ 'mm.settings.language' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item item-input item-select">
                <div class="input-label" id="mm-settings-languagelabel">
                    {{ 'mm.settings.language' | translate }}
                </div>
                <select ng-model="selectedLanguage" ng-options="code as name for (code, name) in langs" ng-change="languageChanged(selectedLanguage)" aria-labelledby="mm-settings-languagelabel">
                </select>
            </li>
             <li class="item item-toggle item-text-wrap">
                <p id="mm-settings-downloadsectionlabel" class="item-heading">{{ 'mm.settings.enabledownloadsection' | translate }}</p>
                <p>{{ 'mm.settings.enabledownloadsectiondescription' | translate }}</p>
                <label class="toggle" aria-labelledby="mm-settings-downloadsectionlabel">
                    <input id="mm-settings-downloadsectioncheckbox" type="checkbox" ng-model="downloadSection" ng-change="downloadSectionChanged(downloadSection)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
             <li class="item item-toggle item-text-wrap" ng-if="showReport">
                <p id="mm-settings-reportlabel" class="item-heading">{{ 'mm.settings.reportinbackground' | translate }}</p>
                <label class="toggle" aria-labelledby="mm-settings-reportlabel">
                    <input id="mm-settings-reportcheckbox" type="checkbox" ng-model="reportInBackground" ng-change="reportChanged(reportInBackground)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>