<ion-view view-title="{{ 'mm.settings.language' | translate }}" >
    <ion-content>
        <ul class="list">
            <li class="item item-input item-select">
                <div class="input-label">
                    {{ 'mm.settings.language' | translate }}
                </div>
                <select class="mm-language-select" ng-model="selectedLanguage" ng-options="code as name for (code, name) in langs" ng-change="languageChanged(selectedLanguage)">
                </select>
            </li>
        </ul>
    </ion-content>
</ion-view>