<ion-view view-title="{{ 'mm.settings.settings' | translate }}">
    <mm-split-view>
        <ion-content>
            <div class="list">
                <a class="item" mm-split-view-link="site.mm_settings-general">
                    {{ 'mm.settings.language' | translate }}
                </a>
                <a class="item" mm-split-view-link="site.mm_settings-spaceusage">
                    {{ 'mm.settings.spaceusage' | translate }}
                </a>
                <a class="item" mm-split-view-link="site.mm_settings-synchronization">
                    {{ 'mm.settings.synchronization' | translate }}
                </a>
                <a class="item" mm-split-view-link="site.mm_settings-about">
                    {{ 'mm.settings.about' | translate }}
                </a>
            </div>
        </ion-content>
    </mm-split-view>
</ion-view>