<ion-view view-title="{{ 'mm.settings.spaceusage' | translate }}" >
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sizeLoaded" on-refresh="refresh()"></ion-refresher>
        <mm-loading hide-until="sizeLoaded">
            <ul>
                <li ng-repeat="site in sites" class="item item-button-right">
                    <span class="item-note">{{ site.spaceusage | mmBytesToSize }}</span>
                    <h2><mm-format-text>{{site.sitename}}</mm-format-text></h2>
                    <p>{{site.fullname}}</p>
                    <button class="button button-icon" ng-click="deleteSiteFiles(site)" ng-show="site.spaceusage > '0'" aria-label="{{ 'mm.settings.deletesitefilestitle' | translate }}">
                        <i class="icon ion-trash-a positive"></i>
                    </button>
                </li>
                <li class="item item-divider">
                    <span class="item-note">{{ totalusage | mmBytesToSize }}</span>
                    <p>{{ 'mm.settings.total' | translate }}</p>
                </li>
                <li class="item item-divider">
                    <span class="item-note">{{ freespace | mmBytesToSize }}</span>
                    <p>{{ 'mm.settings.estimatedfreespace' | translate }}</p>
                </li>
            </ul>
        </mm-loading>
    </ion-content>
</ion-view>
