<ion-header>
    <ion-toolbar>
        @if (policy) {
            <ion-title>
                <h1>{{ policy.name }}</h1>
            </ion-title>
        }
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()" [ariaLabel]="'core.close' | translate">
                <ion-icon name="fas-xmark" slot="icon-only" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    @if (policy) {
        <ion-item class="ion-text-wrap">
            <ion-label>
                <core-format-text [text]="policy.summary" contextLevel="system" [contextInstanceId]="0" />
            </ion-label>
        </ion-item>
        <ion-item class="ion-text-wrap">
            <ion-label>
                <core-format-text [text]="policy.content" contextLevel="system" [contextInstanceId]="0" />
            </ion-label>
        </ion-item>
    }
</ion-content>
