ion-app.app-root page-addon-mod-quiz-navigation-modal {
    .item.core-question-correct,
    .item.core-question-incorrect,
    .item.core-question-notanswered,
    .item.core-question-partiallycorrect,
    .item.core-question-requiresgrading,
    .item.core-question-answersaved {
        ion-label.label {
            color: $text-color;
        }
        color: $text-color;
        background-color: $white;
    }
}
