ion-app.app-root page-addon-mod-quiz-navigation-modal {
    .addon-mod_quiz-selected, .item.addon-mod_quiz-selected {
        @include border-start(5px, solid, $core-splitview-selected);
        font-weight: bold;

        &.item-md {
            @include padding(null, null, null, $item-md-padding-start - 5px);
        }
        &.item-ios {
            @include padding(null, null, null, $item-ios-padding-start - 5px);
        }
        &.item-wp {
            @include padding(null, null, null, $item-wp-padding-start - 5px);
        }
    }

    .item.core-question-correct {
        &.addon-mod_quiz-selected {
            @include border-start(5px, solid, $core-question-correct-color);
        }

        .item-inner {
            @include push-arrow-color($core-question-correct-color);
            border-bottom-color: $core-question-correct-color;
        }
    }

    .item.core-question-incorrect,
    .item.core-question-notanswered {
        &.addon-mod_quiz-selected {
            @include border-start(5px, solid, $core-question-incorrect-color);
        }

        .item-inner {
            @include push-arrow-color($core-question-incorrect-color);
            border-bottom-color: $core-question-incorrect-color;
        }
    }

    .item.core-question-partiallycorrect {
        &.addon-mod_quiz-selected {
            @include border-start(5px, solid, $core-question-state-partial-text);
        }

        .item-inner {
            @include push-arrow-color($core-question-state-partial-text);
            border-bottom-color: $core-question-state-partial-text;
        }
    }

    .item.core-question-requiresgrading,
    .item.core-question-answersaved {
        &.addon-mod_quiz-selected {
            @include border-start(5px, solid, $text-color);
        }

        .item-inner {
            @include push-arrow-color($text-color);
            border-bottom-color: $text-color;
        }
    }
}
