core-tabs {
    .core-tabs-bar {
        @include position(null, null, 0, 0);
        z-index: $z-index-toolbar;
        display: flex;
        width: 100%;
        background: $core-top-tabs-background;

        > a {
            @extend .tab-button;

            background: $core-top-tabs-background;
            color: $core-top-tabs-color !important;
            border-bottom: 1px solid $core-top-tabs-border;
            font-size: 1.6rem;

            &[aria-selected=true] {
                color: $core-top-tabs-color-active !important;
                border-bottom: 2px solid $core-top-tabs-color-active;
            }
        }
    }
    .core-tabs-content-container {
        height: 100%;
    }

    &.tabs-hidden {
        .core-tabs-bar {
            display: none !important;
        }
        .core-tabs-content-container {
            padding-bottom: 0 !important;
        }
    }

    core-tab {
        display: none;
        height: 100%;
        position: relative;

        &.selected {
            display: block;
        }

        ion-header {
            display: none;
        }

        .fixed-content, .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

.scroll-content.no-scroll {
    overflow: hidden !important;
}
