ion-app.app-root .core-tabs-bar {
    @include position(null, null, null, 0);
    position: relative;
    z-index: $z-index-toolbar;
    display: flex;
    width: 100%;
    background: $core-top-tabs-background;

    .row {
        width: 100%;
    }

    .tab-slide {
        @extend .tab-button;

        background: $core-top-tabs-background;
        color: $core-top-tabs-color !important;
        font-size: 1.6rem;
        border-bottom: 2px solid transparent !important;
        padding: 0 2px 0 2px !important;
        margin: 0 auto !important;
        display: flex;
        flex: none;
        min-width: 100px;

        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
            max-width: 100%;
            line-height: 1.2em;
        }

        ion-icon {
            @include margin(null, 5px, null, null);
        }

        &[aria-selected=true] {
            color: $core-top-tabs-color-active !important;
            border-bottom-color: $core-top-tabs-border-active !important;
        }

        .slide-zoom {
            display: flex;
            flex-direction: column;
        }
    }

    ion-col {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;

        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

ion-app.app-root.md .core-tabs-bar .tab-slide {
    // @extend .tabs-md .tab-button;
    min-height: $tabs-md-tab-min-height;

    font-weight: $tabs-md-tab-font-weight;
    color: $tabs-md-tab-text-color;
}

ion-app.app-root.ios .core-tabs-bar .tab-slide {
    // @extend .tabs-ios .tab-button;
    max-width: $tabs-ios-tab-max-width;
    min-height: $tabs-ios-tab-min-height;

    font-size: $tabs-ios-tab-font-size + 4;
    font-weight: $tabs-ios-tab-font-weight;
    color: $tabs-ios-tab-text-color;
}

ion-app.app-root.wp .core-tabs-bar .tab-slide {
    //@extend .tabs-wp .tab-button;
    @include border-radius(0);

    min-height: $tabs-wp-tab-min-height;

    border-bottom: $tabs-wp-tab-border;
    font-size: $tabs-wp-tab-font-size;
    font-weight: $tabs-wp-tab-font-weight;
    color: $tabs-wp-tab-color;
    box-shadow: none;
}

ion-app.app-root core-tabs {
    .core-tabs-content-container {
        height: 100%;

        &.no-scroll {
            height: auto;
            padding-bottom: 0 !important;

            .scroll-content {
                overflow: hidden !important;
                position: relative;
            }
        }
    }

    &.tabs-hidden {
        .core-tabs-bar {
            display: none !important;
            transform: translateY(0) !important;
        }
        .core-tabs-content-container {
            transform: translateY(0) !important;
            padding-bottom: 0 !important;
        }
    }

    core-tab, .core-tab {
        display: none;
        height: 100%;
        position: relative;
        z-index: 1;

        &.selected {
            display: block;
        }

        ion-header {
            display: none;
        }

        .fixed-content, .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

ion-app.app-root :not(.has-refresher) > .scroll-content.no-scroll {
    overflow: hidden !important;
}

ion-app.app-root.ios .core-tabs-bar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    > a {
        font-size: 1.6rem;
    }
}

ion-app.app-root.md .core-tabs-bar::after {
    @extend .header-md::after;
}

ion-app.app-root.ios, ion-app.app-root.md, ion-app.app-root.wp {
    .core-avoid-header ion-content core-tabs core-tab ion-content {
        top: 0 !important;
        height: 100% !important;
    }
    ion-content core-tabs core-tab .core-avoid-header ion-content {
        top: 0 !important;
        height: 100% !important;
    }
}
