core-split-view {
    ion-menu.split-pane-side {
        display: block;

        .menu-inner {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-transform: initial;
            transform: initial;
            width: 100%;
        }
    }

    .split-pane-main {
        display: none;
    }

    .split-pane-visible {
        .split-pane-main {
            display: block;
        }

        .split-pane-side .core-split-item-selected {
            background-color: $gray-lighter;
            border-left: 5px solid $core-splitview-selected;
            &.item-md {
                padding-left: $item-md-padding-start - 5px;
            }
            &.item-ios {
                padding-left: $item-ios-padding-start - 5px;
            }
            &.item-wp {
                padding-left: $item-wp-padding-start - 5px;
            }
        }
    }
    ion-header {
        display: none;
    }
    ion-content.statusbar-padding:first-child .scroll-content {
        padding-top: 0 !important;
    }
}
