ion-app.app-root core-split-view {
    ion-menu.split-pane-side {
        display: block;

        .menu-inner {
            @include position(0, 0, 0, 0);
            -webkit-transform: initial;
            transform: initial;
            width: 100%;
        }
    }

    .split-pane-main {
        display: none;
    }

    .split-pane-visible {
        .split-pane-main {
            display: block;
            @include core-split-area-end();
        }

        .split-pane-side {
            @include core-split-area-start();
        }

        .split-pane-side .core-split-item-selected {
            background-color: $gray-lighter;
            @include core-selected-item($core-splitview-selected);

            @include darkmode() {
              background-color: $black;
            }
        }
    }
    ion-header {
        display: none;
    }
    ion-content.statusbar-padding:first-child .scroll-content {
        padding-top: 0  !important;
    }
}
