$mma-messages-date-badge: "stable" !default;

// The date displayed in the list.
.mma-messages-date {

  text-align: center;
  margin-top: 10px;

  span {
    @extend .badge;
    @extend .badge-#{$mma-messages-date-badge};
  }
}

.mma-messages-input-inset {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.mma-messages-footer-note {
    color: $button-light-text;
    font-size: $font-size-base;
    text-align: center;
    margin: 0;
    width: 100%;
}

.button.mma-messages-clear-search {
  top: 0px;
}

.mma-messages-discussion-container {
  padding-bottom: 15px;
}