@import "~theme/globals";

:host {
    --height: var(--core-course-module-navigation-height, var(--core-course-module-navigation-max-height));
    --background: var(--core-course-module-navigation-background);
    --button-vertical-margin: 2px;

    height: var(--height);
    width: 100%;
    background-color: var(--background);
    display: block;
    bottom: 0;
    z-index: 3;
    border-top: 1px solid var(--stroke);

    @include core-transition(all, 200ms);

    core-loading {
        text-align: center;
        --loading-inline-min-height: var(--height);
    }

    ion-button,
    ::ng-deep ion-button {
        margin-top: var(--button-vertical-margin);
        margin-bottom: var(--button-vertical-margin);
    }
}

:host-context(.core-iframe-fullscreen) {
    opacity: 0 !important;
    height: 0 !important;
}

:host-context(core-course-format.core-course-format-singleactivity) {
    opacity: 0 !important;
    height: 0 !important;
}
