.addon-block-rss-client core-block-pre-rendered {
    .core-block-content {
        .list {
            list-style: none;
            @include margin-horizontal(0);
            -webkit-padding-start: 0;

            li {
                border-top: 1px solid $gray;
                padding: 5px;
                padding-bottom: 8px;
            }

            li:first-child {
                border-top-width: 0;
            }
        }
    }
}