ion-app.app-root addon-mod-survey-index {

  .label, .label[stacked] {
    font-size: initial;
    color: $text-color;
  }

  .addon-mod_survey-question {
    border-top: 1px solid $gray;
  }

  ion-grid {
    background-color: $white;
  }

  .even {
    background-color: $gray-light;
  }

  .addon-mod_survey-textarea textarea {
    height: 100px;
    border: 1px solid $gray-dark;
  }
}