<ion-view>
    <ion-nav-title>{{ discussion.subject }}</ion-nav-title>
    <ion-content>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="discussionLoaded"
                       on-refresh="refreshPosts()">
        </ion-refresher>
        <mm-loading hide-until="discussionLoaded">
            <article class="card" ng-if="discussion">
                <div class="item item-avatar">
                    <img ng-if="discussion.userpictureurl" ng-src="{{discussion.userpictureurl}}" mm-external-content mm-user-link courseid="{{courseid}}" userid="{{discussion.userid}}" alt="" role="presentation">
                    <img ng-if="!discussion.userpictureurl" src="img/user-avatar.png"  alt="" role="presentation">
                    <h2>{{discussion.subject}}</h2>
                    <div class="item-note">{{discussion.modified | mmDateDayOrTime}}</div>
                    <p>{{discussion.userfullname}}</p>
                </div>
                <div class="item item-body">
                    <mm-format-text watch="true">{{discussion.message}}</mm-format-text>
                    <mm-file ng-repeat="attachment in discussion.attachments" file="attachment" component="{{component}}" component-id="{{discussion.id}}"></mm-file>
                </div>
            </article>
            <div class="card" ng-if="posts && posts.length">
                <article ng-repeat="post in posts track by $index">
                    <div class="item item-divider" ng-if="$index > 0"></div>
                    <div class="item item-avatar">
                        <img ng-if="post.userpictureurl" ng-src="{{post.userpictureurl}}" mm-external-content mm-user-link courseid="{{courseid}}" userid="{{post.userid}}" alt="" role="presentation">
                        <img ng-if="!post.userpictureurl" src="img/user-avatar.png"  alt="" role="presentation">
                        <p>{{post.userfullname}}</p>
                        <div class="item-note">{{post.modified | mmDateDayOrTime}}</div>
                        <p>{{post.subject}}</p>
                    </div>
                    <div class="item item-body">
                        <mm-format-text watch="true">{{post.message}}</mm-format-text>
                        <mm-file ng-repeat="attachment in post.attachments" file="attachment" component="{{component}}" component-id="{{post.id}}"></mm-file>
                    </div>
                </article>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>