<ion-content>
    <core-loading [hideUntil]="loaded()" [fullscreen]="false">
        <ion-list>
            @if (canMarkAsRead()) {
                <ion-item button class="ion-text-wrap" (click)="toggleReadState()" [detail]="false">
                    <ion-icon name="fas-bookmark" slot="start" aria-hidden="true" />
                    <ion-label>
                        <p class="item-heading">
                            @if (postCalculated().unread) {
                                {{ 'addon.mod_forum.markread' | translate }}
                            } @else {
                                {{ 'addon.mod_forum.markunread' | translate }}
                            }
                        </p>
                    </ion-label>
                </ion-item>
            }
            @if (canEdit()) {
                <ion-item button class="ion-text-wrap" (click)="editPost()" [detail]="false">
                    <ion-icon name="fas-pen" slot="start" aria-hidden="true" />
                    <ion-label>
                        <p class="item-heading">{{ 'addon.mod_forum.edit' | translate }}</p>
                    </ion-label>
                </ion-item>
            }
            @if (canDelete()) {
                <ion-item button class="ion-text-wrap" (click)="deletePost()" [detail]="false">
                    <ion-icon name="fas-trash" slot="start" aria-hidden="true" />
                    <ion-label>
                        <p class="item-heading">
                            @if (!isOfflinePost()) {
                                {{ 'addon.mod_forum.delete' | translate }}
                            } @else {
                                {{ 'core.discard' | translate }}
                            }
                        </p>
                    </ion-label>
                </ion-item>
            }
        </ion-list>
    </core-loading>
</ion-content>
