<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'core.comments.addcomment' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()" [attr.aria-label]="'core.close' | translate">
                <ion-icon name="fas-times" slot="icon-only" aria-hidden=true></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form name="itemEdit" (ngSubmit)="addComment($event)" #commentForm>
        <ion-item>
            <ion-label>
                <ion-textarea placeholder="{{ 'core.comments.addcomment' | translate }}" rows="5" [(ngModel)]="content"
                    name="content" required="required">
                </ion-textarea>
            </ion-label>
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" [disabled]="processing || content.length < 1">
                {{ 'core.comments.savecomment' | translate }}
            </ion-button>
        </div>
    </form>
</ion-content>
