
$mma-mod-quiz-warning-color:		#c00 !default;
$mma-mod-quiz-highlight-color:		#d9edf7 !default;

p.mma-mod-quiz-warning {
  color: $mma-mod-quiz-warning-color;
}

.mma-mod-quiz-index-content {
  .row {
    min-height: $button-height + $grid-padding-width + 5px;

    .button.button-block {
      margin: 0;
    }
  }
}

.item.mma-mod-quiz-highlighted {
  background-color: $mma-mod-quiz-highlight-color;
}

