.mma-mod_choice-user {
  position: relative;
  display: inline-block;
  img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 50%;
    margin-left: -20px;
  }
  p {
    display: inline-block;
    padding-top: 50px;
  }
}

.mma-mod_choice-graph-horizontal {
  height: 50px;
}