<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="ltiLoaded"></ion-refresher>
        <mm-loading hide-until="ltiLoaded">
            <mm-course-mod-description description="description"></mm-course-mod-description>
            <a ng-if="isValidUrl" ng-click="launch()" class="button button-block"><i class="icon ion-link"></i> {{ 'mma.mod_lti.launchactivity' | translate }}</a>
            <p ng-if="!isValidUrl">{{ 'mma.mod_lti.errorinvalidlaunchurl' | translate }}</p>
        </mm-loading>
    </ion-content>
</ion-view>