<ion-view view-title="{{ 'mma.notes.notes' | translate }}">
    <mm-split-view component="mmaNotesTypes">
        <ion-content>
            <ul>
                <li>
                    <a class="item" mm-split-view-link="site.notes-list({courseid: courseid, type: 'site'})" title="{{ 'mma.notes.sitenotes' | translate }}">
                        {{ 'mma.notes.sitenotes' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.notes-list({courseid: courseid, type: 'course'})" title="{{ 'mma.notes.coursenotes' | translate }}">
                        {{ 'mma.notes.coursenotes' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.notes-list({courseid: courseid, type: 'personal'})" title="{{ 'mma.notes.personalnotes' | translate }}">
                        {{ 'mma.notes.personalnotes' | translate }}
                    </a>
                </li>
            </ul>
        </ion-content>
    </mm-split-view>
</ion-view>