<!-- Read only. -->
<ion-item text-wrap *ngIf="(text || canEdit) && !edit">
    <h2>{{ plugin.name }}</h2>
    <p>
        <core-format-text [component]="component" [componentId]="assign.cmid" [maxHeight]="80" [fullOnClick]="true" [fullTitle]="plugin.name" [text]="text"></core-format-text>
    </p>
    <div item-end>
        <div text-right>
            <a ion-button *ngIf="canEdit" (click)="editComment()" color="light">
                <ion-icon name="create"></ion-icon>
            </a>
        </div>
        <ion-note *ngIf="!isSent">
            <ion-icon name="clock"></ion-icon>
            {{ 'core.notsent' | translate }}
        </ion-note>
    </div>
</ion-item>

<!-- Edit -->
<ion-item text-wrap *ngIf="edit && loaded">
    <!-- @todo: [component]="component" [componentId]="assign.cmid" -->
    <core-rich-text-editor item-content [control]="control" [placeholder]="plugin.name" name="assignfeedbackcomments_editor"></core-rich-text-editor>
</ion-item>
