ion-list.core-sites-list {
    .core-sites-list-sitename {
        ion-label {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        border-bottom: 1px solid var(--stroke);
    }
}
