:host {
    .addon-messages-conversation-item,
    .addon-message-discussion {
        h2 {
            core-format-text {
                font-weight: bold;
            }

            ion-icon {
                margin-left: 2px;
            }
        }

        ion-note {
            ion-badge {
                margin-left: 6px;
                margin-right: 6px;
                vertical-align: middle;
            }
        }

        .addon-message-last-message {
            display: flex;
            justify-content: flex-start;
        }

        .addon-message-last-message-user {
            white-space: nowrap;
            color: var(--ion-text-color);
            margin-right: 2px;
        }

        .addon-message-last-message-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex-shrink: 1;
        }
    }

    .addon-message-discussion {
        h2 {
            margin-top: 10px;
        }
    }

    ion-item-divider ion-badge {
        margin-left: 16px;
        margin-right: 16px;
    }
}

:host-context([dir=rtl]) {
    .addon-messages-conversation-item,
    .addon-message-discussion {
        h2  ion-icon {
            margin-right: 2px;
            margin-left: 0;
        }

        .addon-message-last-message-user {
            margin-left: 2px;
            margin-right: 0;
        }
    }
}
