core-courses-course-progress {
    ion-card.card {
        display: flex;
        flex-direction: column;

        .core-course-thumb {
            height: 150px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            pointer-events: auto;
            position: relative;

            @for $i from 0 to length($core-course-image-background) {
                &.core-course-color-#{$i} {
                    background: nth($core-course-image-background, $i + 1);
                }
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .core-course-link {
            padding-top: 8px;
            padding-bottom: 8px;
            .item-inner {
                padding-right: 0;
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
            }
        }
        .label {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    button {
        z-index: 1;
    }
}
