core-courses-course-progress {
    ion-card.card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .core-course-link {
            .item-inner {
                padding-right: 0;
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
            }
        }
        .label {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    button {
        z-index: 1;
    }
}
