@import "~theme/globals";

:host {

    --addon-calendar-blank-day-background-color: var(--light);

    .item.addon-calendar-event {
        > ion-icon {
            color: white;
            border-radius: 50%;
            padding: 0.7rem;
        }

        @each $category, $value in $calendar-event-category-colors {
            &.addon-calendar-eventtype-#{$category} > ion-icon {
                background-color: $value;
            }
        }
    }

}
