@use "theme/globals" as *;

:host {
    .core-horizontal-scroll div.core-horizontal-scroll-item {
        @include horizontal_scroll_item(80%, 250px, 300px);
        ion-card {
            height: auto;
        }

        .ion-text-wrap ion-label {
            .item-heading, h2, p {
                @include ellipsis();
            }
        }
    }

    .core-course-module-handler {
        --inner-border-width: 0px;
    }
}
