@import "~theme/globals";

:host {
    .core-horizontal-scroll > div {
        @include horizontal_scroll_item(80%, 250px, 300px);
    }

    .core-course-module-handler {
        --inner-border-width: 0;
    }
}
