@if (item && item.canviewaggregate && labelKey && !disabled) {
    <ion-item class="ion-text-wrap" [detail]="ratingInfo.canviewall && item.count" (click)="openRatings()"
        [button]="ratingInfo.canviewall && item.count">
        <ion-label>
            {{ labelKey | translate }}{{ 'core.labelsep' | translate }} {{ item.aggregatestr || '-' }}
            @if (showCount && item.count && item.count! > 0) {
                <span>({{ item.count! }})</span>
                }
        </ion-label>
    </ion-item>
    }
