<div class="tabbar" role="tablist" #tabbar [hidden]="hidden">
    <a [hidden]="_loaded === false" *ngFor="let t of _tabs" [tab]="t" class="tab-button" role="tab" href="#" (ionSelect)="select(t)" [attr.aria-hidden]="!t.show" [attr.aria-label]="t.tabTitle || ''" [title]="t.tabTitle || ''"></a>
    <div class="tab-highlight"></div>
    <div *ngIf="_loaded === false" class="core-ion-tabs-loading">
        <span class="core-ion-tabs-loading-spinner">
            <ion-spinner></ion-spinner>
        </span>
    </div>
</div>
<div #originalTabs class="tabcontent">
    <ng-content></ng-content>
</div>
<div #portal tab-portal></div>
