@use "theme/globals" as *;

ion-item {
    ion-label {
        margin-top: 8px;
        margin-bottom: 8px;
        p.item-heading {
            font-size: var(--text-size);
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        p {
            font-size: 12px;
        }
    }

    ion-note {
        margin: 0;
        @include padding-horizontal(8px, 0);
        padding-top: 12px;

        ion-icon {
            font-size: 6px;
            vertical-align: middle;
        }
    }

    [slot=start] {
        align-self: start;
        margin-top: 16px;
    }

    --icon-size: 16px;
    --extra-icon-size: 12px;
    --core-avatar-size: 32px;

    div.core-notification-icon,
    core-mod-icon.core-notification-icon {
        --padding: 8px;
        max-width: var(--core-avatar-size);
        max-height:  var(--core-avatar-size);
    }
}

.mark-all-as-read {
    padding-bottom: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: transparent;
    box-shadow: none;
    pointer-events: none;

    ion-chip.ion-color {
        margin: 0 auto;

        ion-spinner {
            width: 16px;
            height: 16px;
            @include margin-horizontal(0, 8px);
        }
    }
}


ion-content::part(scroll) {
    padding-bottom: 44px;
}
