<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" ng-if="feedbackLoaded && !hasOffline && isOnline" content="'mm.core.refresh' | translate" action="refreshFeedback(false)" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="feedbackLoaded" on-refresh="refreshFeedback(false)"></ion-refresher>
        <mm-loading hide-until="feedbackLoaded">
            <div class="tabs tabs-striped tabs-free tabs-color-positive" ng-if="access.canviewreports">
              <a class="tab-item" ng-click="openFeature()">{{ 'mma.mod_feedback.overview' | translate }}</a>
              <a class="tab-item active">{{ 'mma.mod_feedback.analysis' | translate }}</a>
            </div>
            <section class="list" ng-if="access.canedititems || !access.isempty">
                <div ng-if="access.canedititems && (groupInfo.separateGroups || groupInfo.visibleGroups)" class="item item-text-wrap item-input item-select">
                    <ion-label id="mma-feedback-groupslabel" ng-if="groupInfo.separateGroups">{{ 'mm.core.groupsseparate' | translate }}</ion-label>
                    <ion-label id="mma-feedback-groupslabel" ng-if="groupInfo.visibleGroups">{{ 'mm.core.groupsvisible' | translate }}</ion-label>
                    <select ng-model="selectedGroup" ng-change="setGroup(selectedGroup)" aria-labelledby="mma-feedback-groupslabel" ng-options="group.id as group.name for group in groupInfo.groups" mm-ios-select-fix>
                    </select>
                </div>
                <div ng-if="access.canviewreports || access.canedititems" class="item item-text-wrap" ng-class="{'item-icon-right': access.canviewreports}"   ng-click="access.canviewreports && openFeature('respondents')">
                    <p class="item-heading">{{ 'mma.mod_feedback.completed_feedbacks' | translate }}</p>
                    <span class="badge badge-positive">{{feedback.completedCount}}</span>
                    <i ng-if="access.canviewreports" class="icon icon-accessory ion-chevron-right"></i>
                </div>
                <div ng-if="!access.isanonymous && access.canviewreports" class="item item-text-wrap item-icon-right" ng-click="openFeature('nonrespondents')">
                    <p class="item-heading">{{ 'mma.mod_feedback.show_nonrespondents' | translate }}</p>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </div>
                <div ng-if="access.canedititems" class="item item-text-wrap item-icon-right">
                    <p class="item-heading">{{ 'mma.mod_feedback.questions' | translate }}</p>
                    <span class="badge badge-positive">{{feedback.itemsCount}}</span>
                </div>
                <div class="mm-warning-card-icon" ng-if="warning">
                    <i class="icon ion-close-circled padding"></i> {{ warning }}
                </div>
                <div class="list" ng-if="items && items.length">
                    <div ng-repeat="item in items track by $index" class="item item-text-wrap">
                        <p class="item-heading">{{item.number}}. {{ item.name }}</p>
                        <p>{{ item.label }}</p>
                        <div ng-if="item.template" ng-include="item.template"></div>
                    </div>


                    <script type="text/ng-template" id="numeric">
                        <ul>
                            <li ng-repeat="data in item.data track by $index"><i class="icon ion-minus-round"></i> {{ data }}</li>
                        </ul>
                        <p>{{ 'mma.mod_feedback.average' | translate }}: {{item.average | number : 2}}</p>
                    </script>
                    <script type="text/ng-template" id="list">
                        <ul>
                            <li ng-repeat="data in item.data track by $index" ng-if="data">
                                <i class="icon ion-minus-round"></i> <mm-format-text watch="true">{{ data }}</mm-format-text>
                            </li>
                        </ul>
                    </script>
                    <script type="text/ng-template" id="chart">
                        <canvas ng-if="item.labels.length <= 5 && !item.single" class="chart chart-bar" chart-data="item.chartData" chart-labels="item.labels" chart-options="chartOptions" height="300"></canvas>
                        <canvas ng-if="item.labels.length > 5 && !item.single" class="chart chart-horizontal-bar" chart-data="item.chartData" chart-labels="item.labels" chart-options="chartOptions" height="300"></canvas>
                        <canvas ng-if="item.single" class="chart chart-doughnut" chart-data="item.chartData" chart-labels="item.labels" chart-options="chartOptions" height="300"></canvas>
                        <p ng-if="item.average">{{ 'mma.mod_feedback.average' | translate }}: {{item.average | number : 2}}</p>
                    </script>
                </div>
                </div>
            </section>
        </mm-loading>
    </ion-content>
</ion-view>