<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" ng-if="feedbackLoaded && !hasOffline && isOnline" content="'mm.core.refresh' | translate" action="refreshFeedback(false)" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content delegate-handle="mmaModFeedbackFormScroll" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="feedbackLoaded" on-refresh="refreshFeedback(false)"></ion-refresher>
        <mm-loading hide-until="feedbackLoaded">
            <section ng-if="items">
                <div class="list">
                    <div class="item item-text-wrap">
                        <p class="item-heading">{{ 'mma.mod_feedback.mode' | translate }}</p>
                        <p ng-if="access.isanonymous">{{ 'mma.mod_feedback.anonymous' | translate }}</p>
                        <p ng-if="!access.isanonymous">{{ 'mma.mod_feedback.non_anonymous' | translate }}</p>
                    </div>
                </div>
                <div class="list" ng-if="items && items.length">
                    <div ng-repeat="item in items track by $index" class="item item-text-wrap" ng-class="{'item-input item-stacked-label' : item.hasvalue, 'item-divider': item.typ == 'pagebreak', 'item-stable': item.dependitem > 0 && preview }">
                        <p class="item-heading" mm-mark-required="{{item.required}}" ng-if="item.name"><span ng-if="item.itemnumber">{{item.itemnumber}}. </span>{{ item.name }}</p>
                        <div class="item-text-wrap" ng-class="item.class" ng-if="item.template" ng-include="item.template"></div>
                    </div>
                </div>

                <script type="text/ng-template" id="label">
                    <p><mm-format-text watch="true" component="{{component}}" component-id="{{componentId}}">{{ item.presentation }}</mm-format-text></p>
                </script>

                <script type="text/ng-template" id="textfield">
                    <input name="{{item.typ}}_{{item.id}}" type="text" ng-model="item.value" autocorrect="off" size="{{item.size}}" size="{{item.length}}"/>
                </script>

                <script type="text/ng-template" id="numeric">
                    <input name="{{item.typ}}_{{item.id}}" type="number" ng-model="item.value" min="{{item.rangefrom}}" max="{{item.rangeto}}"/>
                </script>

                <script type="text/ng-template" id="textarea">
                    <textarea name="{{item.typ}}_{{item.id}}" aria-multiline="true" rows="{{item.height}}" cols="{{item.width}}" ng-model="item.value"></textarea>
                </script>

                <script type="text/ng-template" id="multichoice-r">
                    <ion-radio name="{{item.typ}}_{{item.id}}" ng-model="item.value" ng-value="option.value" ng-repeat="option in item.choices">{{option.label}}</ion-radio>
                </script>

                <script type="text/ng-template" id="multichoice-c">
                    <ion-checkbox name="{{item.typ}}_{{item.id}}" ng-model="option.checked" ng-value="option.value" ng-repeat="option in item.choices">{{option.label}}</ion-checkbox>
                </script>

                <script type="text/ng-template" id="multichoice-d">
                    <select name="{{item.typ}}_{{item.id}}" ng-model="item.value" ng-options="option.value as option.label for option in item.choices" mm-ios-select-fix>
                    </select>
                </script>

                <div ng-if="!preview" class="item item-text-wrap row-buttons responsive-sm">
                    <button ng-if="hasPrevPage !== false" class="button button-block icon-left ion-chevron-left" ng-click="gotoPage(hasPrevPage)">
                        {{ 'mma.mod_feedback.previous_page' | translate }}
                    </button>
                    <button ng-if="hasNextPage !== false" class="button button-block button-positive icon-right ion-chevron-right" ng-click="gotoPage(hasNextPage)">
                        {{ 'mma.mod_feedback.next_page' | translate }}
                    </button>
                    <button ng-if="hasNextPage === false" class="button button-block button-positive" ng-click="save()">
                        {{ 'mma.mod_feedback.save_entries' | translate }}
                    </button>
                </div>
            </section>
        </mm-loading>
    </ion-content>
</ion-view>