<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" ng-if="feedbackLoaded && !hasOffline && isOnline" content="'mm.core.refresh' | translate" action="refreshFeedback(false)" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
            <mm-context-menu-item priority="600" ng-if="feedbackLoaded && hasOffline && isOnline" content="'mm.settings.synchronizenow' | translate" action="refreshFeedback(true)" icon-action="syncIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
            <mm-context-menu-item priority="500" ng-if="prefetchStatusIcon" content="timemodified" icon-action="prefetchStatusIcon" action="prefetch()" close-on-click="false"></mm-context-menu-item>
            <mm-context-menu-item priority="400" ng-if="size" content="size" icon-description="'ion-cube'" icon-action="'ion-trash-a'" action="removeFiles()"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content mm-state-class ng-class="{'has-footer': feedbackLoaded && access.canviewreports}">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="feedbackLoaded" on-refresh="refreshFeedback(false)"></ion-refresher>
        <mm-loading hide-until="feedbackLoaded">
            <mm-course-mod-description description="description" watch="true" component="{{component}}" component-id="{{componentId}}"></mm-course-mod-description>

            <div class="mm-warning-card-icon" ng-if="access.cancomplete && !access.isopen">
                <i class="icon ion-close-circled padding"></i> {{ 'mma.mod_feedback.feedback_is_not_open' | translate }}
            </div>

            <div class="mm-success-card-icon" ng-if="access.cancomplete && access.isopen && !access.cansubmit">
                <i class="icon ion-checkmark-round padding"></i> {{ 'mma.mod_feedback.this_feedback_is_already_submitted' | translate }}
            </div>

            <section class="list" ng-if="access.canedititems || access.canviewreports || !access.isempty">
                <div ng-if="access.canedititems && (groupInfo.separateGroups || groupInfo.visibleGroups)" class="item item-text-wrap item-input item-select">
                    <ion-label id="mma-feedback-groupslabel" ng-if="groupInfo.separateGroups">{{ 'mm.core.groupsseparate' | translate }}</ion-label>
                    <ion-label id="mma-feedback-groupslabel" ng-if="groupInfo.visibleGroups">{{ 'mm.core.groupsvisible' | translate }}</ion-label>
                    <select ng-model="selectedGroup" ng-change="setGroup(selectedGroup)" aria-labelledby="mma-feedback-groupslabel" ng-options="group.id as group.name for group in groupInfo.groups" mm-ios-select-fix>
                    </select>
                </div>
                <div ng-if="access.canviewreports || access.canedititems" class="item item-text-wrap" ng-class="{'item-icon-right': access.canviewreports}" ng-click="access.canviewreports && openFeature('respondents')">
                    <p class="item-heading">{{ 'mma.mod_feedback.completed_feedbacks' | translate }}</p>
                    <span class="badge badge-positive">{{feedback.completedCount}}</span>
                    <i ng-if="access.canviewreports" class="icon icon-accessory ion-chevron-right"></i>
                </div>
                <div ng-if="!access.isanonymous && access.canviewreports" class="item item-text-wrap item-icon-right" ng-click="openFeature('nonrespondents')">
                    <p class="item-heading">{{ 'mma.mod_feedback.show_nonrespondents' | translate }}</p>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </div>
                <div ng-if="access.canedititems" class="item item-text-wrap item-icon-right">
                    <p class="item-heading">{{ 'mma.mod_feedback.questions' | translate }}</p>
                    <span class="badge badge-positive">{{feedback.itemsCount}}</span>
                </div>
                <div ng-if="access.canedititems && feedback.timeopen" class="item item-text-wrap">
                    <p class="item-heading">{{ 'mma.mod_feedback.feedbackopen' | translate }}</p>
                    <p>{{feedback.openTimeReadable}}</p>
                </div>
                <div ng-if="access.canedititems && feedback.timeclose" class="item item-text-wrap">
                    <p class="item-heading">{{ 'mma.mod_feedback.feedbackclose' | translate }}</p>
                    <p>{{feedback.closeTimeReadable}}</p>
                </div>
                <div ng-if="access.canedititems && feedback.page_after_submit" class="item item-text-wrap">
                    <p class="item-heading">{{ 'mma.mod_feedback.page_after_submit' | translate }}</p>
                    <mm-format-text watch="true" component="{{component}}" component-id="{{componentId}}">{{ feedback.page_after_submit }}</mm-format-text>
                </div>
                <div ng-if="!access.isempty">
                    <div class="item item-text-wrap">
                        <p class="item-heading">{{ 'mma.mod_feedback.mode' | translate }}</p>
                        <p ng-if="access.isanonymous">{{ 'mma.mod_feedback.anonymous' | translate }}</p>
                        <p ng-if="!access.isanonymous">{{ 'mma.mod_feedback.non_anonymous' | translate }}</p>
                    </div>
                    <div class="item item-text-wrap row-buttons responsive-sm">
                        <button class="button button-block icon-left ion-search" ng-click="gotoAnswerQuestions(true)">{{ 'mma.mod_feedback.preview' | translate }}</button>
                        <button ng-if="!access.canviewreports && access.canviewanalysis" class="button button-block icon-left ion-stats-bars" ng-click="openFeature('analysis')">
                            {{ 'mma.mod_feedback.completed_feedbacks' | translate }}
                        </button>
                        <button ng-if="access.cancomplete && access.cansubmit && !goPage" class="button button-block button-positive icon-right ion-chevron-right" ng-click="gotoAnswerQuestions()">
                            {{ 'mma.mod_feedback.complete_the_form' | translate }}
                        </button>
                        <button ng-if="access.cancomplete && access.cansubmit && goPage" class="button button-block button-positive icon-right ion-chevron-right" ng-click="gotoAnswerQuestions()">
                            {{ 'mma.mod_feedback.continue_the_form' | translate }}
                        </button>
                    </div>
                </div>
            </section>
        </mm-loading>
    </ion-content>
    <ion-footer ng-if="feedbackLoaded && access.canviewreports">
        <div class="tabs tabs-icon-top">
            <a class="tab-item active">
                <i class="icon ion-home"></i>{{ 'mma.mod_feedback.overview' | translate }}
            </a>
            <a class="tab-item" ng-click="openFeature('analysis')">
                <i class="icon ion-stats-bars"></i>{{ 'mma.mod_feedback.analysis' | translate }}
            </a>
        </div>
    </ion-footer>
</ion-view>
