<ion-content class="has-tabs">
    <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refresh()"></ion-refresher>

    <form ng-if="canSearch" ng-submit="search(formData.searchString);">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'mma.messages.contactname' | translate }}" ng-model="formData.searchString">
                </label>
                <button type="submit" class="button button-clear" ng-disabled="!formData.searchString || formData.searchString.length < 3">{{ 'mm.core.search' | translate}}</button>
            </div>
        </div>
    </form>

    <mm-loading hide-until="loaded">
        <ion-list>
            <div ng-repeat="contactType in contactTypes" ng-if="contacts[contactType] && contacts[contactType].length > 0">

                <ion-item class="item-divider item-button-right">
                    <span class="item-note">{{ contacts[contactType].length }}</span>
                    {{ 'mma.messages.type_' + contactType | translate }}
                    <button ng-if="contactType === 'search'" class="button button-clear mma-messages-clear-search" ng-click="clearSearch()">
                        <i class="icon ion-close-round"></i>
                    </button>
                </ion-item>

                <a class="item item-avatar"  ng-repeat="contact in contacts[contactType] | orderBy:'fullname' track by $index" mm-user-link userid="{{contact.id}}">
                    <img ng-src="{{ contact.profileimageurlsmall || contact.profileimageurl }}" alt="" role="presentation" mm-external-content ng-if="contact.profileimageurlsmall || contact.profileimageurl">
                    <img src="img/user-avatar.png" alt="" role="presentation" ng-if="!(contact.profileimageurlsmall || contact.profileimageurl)">

                    <h2>{{ contact.fullname }}</h2>
                </a>
            </div>
        </ion-list>

        <div ng-if="!hasContacts" class="padding">
            <p>{{ 'mma.messages.contactlistempty' | translate}}</p>
        </div>

    </mm-loading>
</ion-content>
