<ion-content class="has-tabs">
    <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refresh()"></ion-refresher>

    <form ng-if="canSearch()" ng-submit="search(formData.searchString);">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'mma.messages.contactname' | translate }}" ng-model="formData.searchString">
                </label>
                <button type="submit" class="button button-clear" ng-disabled="!formData.searchString || formData.searchString.length < 3">{{ 'mm.core.search' | translate}}</button>
            </div>
        </div>
    </form>

    <mm-loading hide-until="loaded">
        <ul class="list">
            <li ng-repeat="contactType in contactTypes" ng-if="contacts[contactType] && (contacts[contactType].length > 0 || contactType === searchType)">

                <ion-item class="item-divider item-button-right">
                    <span class="item-note">{{ contacts[contactType].length }}</span>
                    <h2>{{ 'mma.messages.type_' + contactType | translate }}</h2>
                    <button ng-if="contactType === searchType" class="button button-clear mma-messages-clear-search" ng-click="clearSearch()" aria-label="{{ 'mm.core.clearsearch' | translate }}">
                        <i class="icon ion-close-round"></i>
                    </button>
                </ion-item>

                <a ng-repeat="contact in contacts[contactType] | orderBy:'fullname' track by $index" ng-if="contact.profileimageurl || contact.profileimageurlsmall" class="item item-avatar" mm-split-view-link="{{userStateName}}({userid: contact.id})" title="{{contact.fullname}}"> <!-- Don't show deleted users -->
                    <img ng-src="{{ contact.profileimageurl || contact.profileimageurlsmall }}" alt="" role="presentation" mm-external-content >
                    <p class="item-heading">{{ contact.fullname }}</p>
                </a>
            </li>
        </ul>

        <div ng-if="!hasContacts" class="padding">
            <p ng-if="!contacts[searchType]">{{ 'mma.messages.contactlistempty' | translate}}</p>
            <p ng-if="contacts[searchType]">{{ 'mma.messages.nousersfound' | translate}}</p>
        </div>

    </mm-loading>
</ion-content>
