<ion-content class="has-tabs" mm-state-class>
    <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refresh()"></ion-refresher>
    <mm-loading hide-until="loaded">
        <ul class="list">
            <li>
                <a class="item item-avatar" ng-repeat="disc in discussions | orderBy:'message.timecreated':true track by $index" mm-split-view-link="site.messages-discussion({userId: disc.message.user})" title="{{disc.fullname}}">

                    <img ng-src="{{disc.profileimageurl}}" alt="{{ 'mm.core.pictureof' | translate:{$a: disc.fullname} }}" role="presentation" mm-external-content ng-if="disc.profileimageurl">
                    <img src="img/user-avatar.png" alt="{{ 'mm.core.pictureof' | translate:{$a: disc.fullname} }}" role="presentation" ng-if="!disc.profileimageurl">

                    <span class="item-note" ng-if="disc.message.timecreated > 0">{{disc.message.timecreated / 1000 | mmDateDayOrTime}}</span>
                    <p class="item-heading">{{disc.fullname}}</p>
                    <p><mm-format-text watch="true" clean="true" singleline="true">{{disc.message.message | mmaMessagesFormat}}</mm-format-text></p>
                </a>
            </li>
        </ul>

        <div ng-if="!discussions || discussions.length <= 0" class="padding">
            <p>{{ 'mma.messages.nomessages' | translate}}</p>
        </div>
    </mm-loading>
</ion-content>
