<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button ng-if="profileLink" class="button button-icon icon ion-person" mm-user-link userid="{{userId}}" aria-label="{{ 'mm.core.viewprofile' | translate }}"></button>
    </ion-nav-buttons>

    <ion-content class="padding" delegate-handle="mmaMessagesScroll">
        <mm-loading hide-until="loaded">
            <section class="mma-messages-discussion-container" aria-live="polite">
                <div ng-repeat="message in messages track by $index">

                    <p ng-if="showDate(messages[$index], messages[$index - 1])" class="mma-messages-date"><span>{{ message.timecreated * 1000 | mmFormatDate:"dfdayweekmonth" }}</span></p>

                    <div class='item item-message item-text-wrap' ng-class='{"item-message-mine": message.useridfrom == currentUserId}'>

                        <mm-format-text after-render="scrollAfterRender" watch="true">{{ message.smallmessage | mmaMessagesFormat }}</mm-format-text>
                        <ion-spinner ng-if="message.sending"></ion-spinner>
                        <span class="item-note">{{ message.timecreated * 1000 | mmFormatDate:"dftimedate" }}</span>

                    </div>

                    <div class="clearfix"></div>
                </div>

                <div ng-if="!messages || messages.length <= 0">
                    <p>{{ 'mma.messages.nomessages' | translate}}</p>
                </div>
            </section>
        </mm-loading>
    </ion-content>

</ion-view>

<ion-footer-bar>
    <p class="mma-messages-footer-note" ng-if="isAppOffline()">{{ 'mma.messages.mustbeonlinetosendmessages' | translate }}</p>
    <form  ng-if="!isAppOffline()" ng-submit="sendMessage(newMessage); newMessage = '';" style="width: 100%">
        <div class="mma-messages-input-inset item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="{{ 'mma.messages.newmessage' | translate }}" ng-model="newMessage" style="width: 100%;">
            </label>
            <button type="submit" class="button button-clear" ng-disabled="!newMessage">{{ 'mma.messages.send' | translate}}</button>
        </div>
    </form>
</ion-footer-bar>
