<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>

    <mm-nav-buttons side="secondary">
        <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show="data.canDelete"></button>
        <a ng-if="profileLink" mm-user-link userid="{{userId}}" aria-label="{{ 'mm.user.viewprofile' | translate }}">
            <img ng-if="profileLink && profileLink !== true" class="button mm-bar-button-image" ng-src="{{profileLink}}" mm-external-content>
            <span ng-if="profileLink === true" class="button button-icon icon ion-person"></span>
        </a>
    </mm-nav-buttons>

    <ion-content class="padding" delegate-handle="mmaMessagesScroll" mm-state-class>
        <mm-loading hide-until="loaded">
            <!-- Button and spinner to show previous messages. -->
            <button ng-if="canLoadMore && !loadingPrevious" class="button button-block" ng-click="loadPrevious()">{{ 'mma.messages.loadpreviousmessages' | translate }}</button>
            <div ng-if="loadingPrevious" class="mma-messages-showprevious-spinner-container">
                <ion-spinner></ion-spinner>
            </div>

            <section class="mma-messages-discussion-container" aria-live="polite">
                <ion-list ng-repeat="message in messages track by $index" show-delete="data.showDelete">

                    <p ng-if="showDate(messages[$index], messages[$index - 1])" class="mma-messages-date"><span>{{ message.timecreated | mmFormatDate:"dfdayweekmonth" }}</span></p>

                    <ion-item class='item item-message item-text-wrap item-remove-animate' ng-class='{"item-message-mine": message.useridfrom == currentUserId}' >
                        <!-- Some messages have <p> and some others don't. Add a <p> so they all have same styles. -->
                        <p>
                            <ion-delete-button class="ion-minus-circled mma-messages-delete-button" ng-if="!message.sending" ng-click='deleteMessage(message, $index)'></ion-delete-button>
                            <mm-format-text after-render="scrollAfterRender" watch="true">{{ message.text }}</mm-format-text>
                            <span ng-if="!message.pending" class="item-note">
                                {{ message.timecreated | mmFormatDate:"dftimedate" }}
                            </span>
                            <span ng-if="message.pending" class="item-note"><i class="icon ion-clock"></i></span>
                        </p>
                    </ion-item>

                    <div class="clearfix"></div>
                </ion-list>

                <div ng-if="!messages || messages.length <= 0">
                    <p>{{ 'mma.messages.nomessages' | translate}}</p>
                </div>
            </section>
        </mm-loading>
    </ion-content>

    <ion-footer-bar class="bar-light bar-footer-adjustable" keyboard-attach>
        <form class="mma-messages-send-message-bar" ng-submit="sendMessage(newMessage)">
            <div class="mma-messages-input-inset item-input-inset">
                <ion-input class="item-input-wrapper">
                    <textarea class="mm-textarea" mm-auto-focus="{{showKeyboard}}" placeholder="{{ 'mma.messages.newmessage' | translate }}" ng-model="newMessage" rows="1" mm-auto-rows mm-keep-keyboard="#mma-messages-send-message-button"></textarea>
                </ion-input>
                <button id="mma-messages-send-message-button" type="submit" class="button button-clear button-positive" ng-disabled="!newMessage">{{ 'mma.messages.send' | translate}}</button>
            </div>
        </form>
    </ion-footer-bar>
</ion-view>

