<ion-view view-title="{{ 'mma.messages.messages' | translate }}">
    <ion-nav-buttons side="secondary">
        <button ng-if="profileLink" class="button button-icon icon ion-person" mm-user-link userid="{{userId}}"></button>
    </ion-nav-buttons>

    <mm-split-view component="mmaMessagesIndex">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="{{ 'mma.messages.messages' | translate }}" icon="ion-chatbox">
                <ion-pane ng-controller="mmaMessagesDiscussionsCtrl">
                    <ng-include src="'addons/messages/templates/discussions.html'"></ng-include>
                </ion-pane>
            </ion-tab>
            <ion-tab title="{{ 'mma.messages.contacts' | translate }}" icon="ion-person-stalker">
                <ion-pane ng-controller="mmaMessagesContactsCtrl">
                    <ng-include src="'addons/messages/templates/contacts.html'"></ng-include>
                </ion-pane>
            </ion-tab>
        </ion-tabs>
    </mm-split-view>
</ion-view>
