<ion-view view-title="{{ 'mma.messages.messages' | translate }}">
    <mm-split-view component="mmaMessagesIndex" class="vonkchat">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="{{ 'mma.messages.messages' | translate }}" icon="ion-chatbubbles">
                <ion-pane ng-controller="mmaMessagesDiscussionsCtrl">
                    <ng-include src="'addons/messages/templates/discussions.html'"></ng-include>
                </ion-pane>
            </ion-tab>
            <ion-tab title="{{ 'mma.messages.contacts' | translate }}" icon="ion-person-stalker">
                <ion-pane ng-controller="mmaMessagesContactsCtrl">
                    <ng-include src="'addons/messages/templates/contacts.html'"></ng-include>
                </ion-pane>
            </ion-tab>
        </ion-tabs>
    </mm-split-view>
    <div class="bar bar-footer bar-side-menu vonkfooter messimage">
        <div class="vonkfootercontainer">
            <img src="http://vonkelemen.org/vector/vk2.svg" alt="logovonk" width="350px"> 
        </div>
    </div>
</ion-view>
