
$calendar-event-category-color: $purple !default; // Purple.
$calendar-event-course-color: $red !default; // Red.
$calendar-event-group-color: $yellow !default; // Yellow.
$calendar-event-user-color: $blue !default; // Blue.
$calendar-event-site-color: $green !default; // Green.

ion-app.app-root addon-calendar-calendar {

    .addon-calendar-weekdays {
        opacity: 0.4;
    }

    .addon-calendar-day-events {
        @include text-align('start');

        ion-icon {
            @include margin-horizontal(null, 2px);
            font-size: 1em;
        }
    }

    .addon-calendar-event {
        cursor: pointer;
    }

    .calendar_event_type {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid white;
        @include margin-horizontal(1px, 1px);

        &.calendar_event_category {
            background-color: $calendar-event-category-color;
        }
        &.calendar_event_course {
            background-color: $calendar-event-course-color;
        }
        &.calendar_event_group {
            background-color: $calendar-event-group-color;
        }
        &.calendar_event_user {
            background-color: $calendar-event-user-color;
        }
        &.calendar_event_site {
            background-color: $calendar-event-site-color;
        }
    }
}