// Style gapselect content a bit. All these styles are copied from Moodle.
ion-app.app-root addon-qtype-gapselect {
    p {
        margin: 0 0 .5em;
    }

    select {
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border: 1px solid $gray-dark;
        padding: 4px 6px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 10px;
        background: $gray-lighter;

        @include darkmode() {
            background: $gray-dark;
        }
    }
}
