<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1>{{ 'addon.mod_workshop.userplan' | translate }}</h1>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()" [ariaLabel]="'core.close' | translate">
                <ion-icon name="fas-xmark" slot="icon-only" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ng-container *ngFor="let phase of phases">
            <ion-item-divider [attr.aria-current]="workshopPhase === phase.code ? 'page' : 'false'">
                <ion-label>
                    <h2>{{ phase.title }}</h2>
                    @if (workshopPhase === phase.code) {
                        <p class="ion-text-wrap">
                            {{ 'addon.mod_workshop.userplancurrentphase' | translate }}
                        </p>
                    }
                </ion-label>
            </ion-item-divider>
            @if (phase.switchUrl) {
                <ion-item class="ion-text-wrap" [href]="phase.switchUrl" [detail]="false" core-link [capture]="false">
                    <ion-icon slot="start" name="fas-right-left" aria-hidden="true" />
                    <ion-label>
                        <p>{{ 'addon.mod_workshop.switchphase' + phase.code | translate }}</p>
                    </ion-label>
                    <ion-icon slot="end" name="fas-up-right-from-square" aria-hidden="true" />
                </ion-item>
            }
            <ion-item class="ion-text-wrap" *ngFor="let task of phase.tasks"
                [class.item-dimmed]="phase.code !== workshopPhase || (task.code === 'submit' && !showSubmit)" (click)="runTask(task)"
                [detail]="false" button>
                @if (task.completed === null) {
                    <ion-icon slot="start" name="far-circle" [attr.aria-label]="'addon.mod_workshop.tasktodo' | translate" />
                }
                @if (task.completed === '') {
                    <ion-icon slot="start" name="fas-circle-xmark" color="danger"
                        [attr.aria-label]="'addon.mod_workshop.taskfail' | translate" />
                }
                @if (task.completed === 'info') {
                    <ion-icon slot="start" name="fas-circle-info" color="info"
                        [attr.aria-label]="'addon.mod_workshop.taskinfo' | translate" />
                }
                @if (task.completed === '1') {
                    <ion-icon slot="start" name="fas-circle-check" color="success"
                        [attr.aria-label]="'addon.mod_workshop.taskdone' | translate" />
                }
                <ion-label>
                    <p class="item-heading ion-text-wrap">{{task.title}}</p>
                    @if (task.details) {
                        <p [innerHTML]="task.details"></p>
                    }
                </ion-label>
                @if (task.link && task.code !== 'submit') {
                    <ion-icon slot="end" name="fas-up-right-from-square" aria-hidden="true" />
                }
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
