$addon-forum-avatar-size: 28px;

ion-app.app-root addon-mod-forum-index {
    .addon-forum-star {
        color: $core-star-color;
    }

    .addon-mod-forum-discussion.item {
        .label {
            margin-top: 4px;

            h2 {
                margin-top: 8px;
                margin-bottom: 8px;
                font-weight: bold;
                ion-icon {
                    @include margin(0, 6px, 0, 0);
                }
            }
            h3 {
                font-size: 1.6rem;
            }
        }

        ion-avatar {
            width: $addon-forum-avatar-size;
            height: $addon-forum-avatar-size;
            min-width: $addon-forum-avatar-size;
            min-height: $addon-forum-avatar-size;
            &[item-start] {
                @include margin(0, 8px, 0, 0);
            }
            img {
                width: $addon-forum-avatar-size;
                height: $addon-forum-avatar-size;
            }
        }

        .addon-mod-forum-discussion-title,
        .addon-mod-forum-discussion-info {
            display: flex;
            align-items: center;
        }
        .addon-mod-forum-discussion-title h2,
        .addon-mod-forum-discussion-info .addon-mod-forum-discussion-author {
            flex-grow: 1;
        }

        .addon-mod-forum-discussion-more-info {
            font-size: 1.4rem;
            clear: both;
        }
    }
}
