ion-app.app-root addon-mod-forum-index {
    .addon-forum-discussion-selected {
        border-top: 5px solid $core-splitview-selected;
    }

    .addon-forum-star {
        color: $core-star-color;
    }

    button.core-button-select .core-section-selector-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2em;
        white-space: nowrap;
    }
}
