// Style ddwtos content a bit. Almost all these styles are copied from Moodle.
.mma-qtype-ddwtos-container {
  .qtext {
      margin-bottom: 0.5em;
      display: block;
  }

  .draghome {
      margin-bottom: 1em;
  }

  .answertext {
      margin-bottom: 0.5em;
  }

  .drop {
      display: inline-block;
      text-align: center;
      border: 1px solid #000000;
      margin-bottom: 2px;
  }
  .draghome, .drag {
      display: inline-block;
      text-align: center;
      background: transparent;
      border: 0;
  }
  .draghome, .drag.unplaced{
      border: 1px solid #000000;
  }
  .draghome {
      visibility: hidden;
  }
  .drag {
      z-index: 2;
  }
  .drag.selected {
      z-index: 3;
      box-shadow: 3px 3px 4px #000;
  }

  .drop.selected {
      border-color: #0a0;
      box-shadow: 0 0 5px 5px rgba(255, 255, 150, 1);
  }

  &.notreadonly .drag,
  &.notreadonly .draghome,
  &.notreadonly .drop,
  &.notreadonly .answercontainer {
      cursor: pointer;
  }

  &.readonly .drag,
  &.readonly .draghome,
  &.readonly .drop,
  &.readonly .answercontainer {
      cursor: default;
  }

  span.incorrect {
      background-color: #faa;
  }
  span.correct {
      background-color: #afa;
  }

  .group1 {
      background-color: #FFFFFF;
  }
  .group2 {
      background-color: #DCDCDC;
  }
  .group3 {
      background-color: #B0C4DE;
  }
  .group4 {
      background-color: #D8BFD8;
  }
  .group5 {
      background-color: #87CEFA;
  }
  .group6 {
      background-color: #DAA520;
  }
  .group7 {
      background-color: #FFD700;
  }
  .group8 {
      background-color: #F0E68C;
  }

  sub, sup {
      font-size: 80%;
      position: relative;
      vertical-align: baseline;
  }
  sup {
      top: -0.4em;
  }
  sub {
      bottom: -0.2em;
  }
}



