<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a ng-if="moduleurl" class="button button-icon ion-ios-browsers-outline" ng-href="{{moduleurl}}" mm-link ></a>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="canReload" on-refresh="refreshFolder()"></ion-refresher>
        <mm-loading hide-until="folderLoaded">
            <mm-course-mod-description description="description"></mm-course-mod-description>
            <ul class="list">
                <li ng-repeat="file in contents">
                    <mm-file ng-if="file.type !== 'folder'" file="file"></mm-file>
                    <a ng-if="file.type === 'folder'" class="item item-text-wrap item-media" ui-sref="site.mod_folder({courseid: courseid, module: file, path: file.filepath})">
                        <img ng-src="{{file.fileicon}}" />
                        <p>{{file.name}}</p>
                    </a>
                </li>
            </ul>
            <div ng-if="!contents || contents.length == 0">
                <p>{{ 'mma.mod_folder.emptyfilelist' | translate}}</p>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>