:host {
    .course-section {
        --inner-padding-end: 12px;
    }

    &.collapsible {
        .core-course-module-list-wrapper {
            border: var(--ion-card-border-width) solid var(--ion-card-border-color);
            border-radius: var(--ion-card-radius);
            margin: 8px 4px;
            width: calc(100% - 8px);

            ion-card {
                --ion-card-background: transparent;
            }

            ion-item.divider.course-section {
                --background: transparent;
            }
        }
    }
}
