@let sectionObj = section();
@let lastModuleViewedObj = lastModuleViewed();
@if (collapsible()) {
    <ion-accordion class="core-course-module-list-wrapper" [id]="sectionObj.id"
        [attr.aria-labelledby]="sectionObj.name ? 'core-section-name-' + sectionObj.id : null"
        [value]="sectionObj.id" toggleIconSlot="start">
        <ng-container *ngTemplateOutlet="sectionHeader" />

        <div slot="content">
            @if (sectionObj.expanded) {
                <ng-container *ngTemplateOutlet="sectionContent" />
            }
        </div>
    </ion-accordion>
} @else {
    <div class="core-course-module-list-wrapper" [id]="sectionObj.id"
        [attr.aria-labelledby]="sectionObj.name ? 'core-section-name-' + sectionObj.id : null">
        <ng-container *ngTemplateOutlet="sectionHeader" />
        <ng-container *ngTemplateOutlet="sectionContent" />
    </div>
}

<ng-template #sectionHeader>
    @if (sectionObj.name || sectionObj.visible === 0 || sectionObj.highlighted && highlightedName()) {
        <ion-item class="course-section divider" [class.item-dimmed]="sectionObj.visible === 0 || sectionObj.uservisible === false"
            slot="header">
            <ion-label class="ion-text-wrap">
                @if (sectionObj.name) {
                    <h2 class="big" [id]="'core-section-name-' + sectionObj.id">
                        <core-format-text [text]="sectionObj.name" contextLevel="course" [contextInstanceId]="course().id" />
                        @if (sectionObj.availabilityinfo) {
                            <ion-icon name="fas-lock" [attr.aria-label]="'core.restricted' | translate" />
                        }
                    </h2>
                }
                @if (sectionObj.visible === 0 && sectionObj.uservisible !== false) {
                    <div>
                        <ion-badge color="secondary" class="ion-text-wrap">
                            <ion-icon name="far-eye-slash" aria-hidden="true" />
                            {{ 'core.course.hiddenfromstudents' | translate }}
                        </ion-badge>
                    </div>
                }
                @if (sectionObj.visible === 0 && sectionObj.uservisible === false) {
                    <div>
                        <ion-badge color="warning">
                            {{ 'core.notavailable' | translate }}
                        </ion-badge>
                    </div>
                }
            </ion-label>
            @if (sectionObj.highlighted && highlightedName()) {
                <ion-badge slot="end">{{highlightedName()}}</ion-badge>
            }
        </ion-item>
    }
</ng-template>

<ng-template #sectionContent>
    @if (sectionObj.availabilityinfo) {
        <ion-item class="ion-text-wrap section-summary">
            <ion-label>
                <ion-chip>
                    <ion-icon name="fas-lock" [attr.aria-label]="'core.restricted' | translate" />
                    <ion-label>
                        <core-format-text [text]="sectionObj.availabilityinfo" contextLevel="course" [contextInstanceId]="course().id" />
                    </ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
    }
    @if (sectionObj.summary) {
        <ion-item class="ion-text-wrap section-summary">
            <ion-label>
                <core-format-text [text]="sectionObj.summary" contextLevel="course" [contextInstanceId]="course().id" />
            </ion-label>
        </ion-item>
    }

    <ng-container *ngFor="let modOrSubsection of sectionObj.contents">
        @if (!isModule(modOrSubsection)) {
            <core-course-section [course]="course()" [section]="modOrSubsection" [lastModuleViewed]="lastModuleViewedObj"
                [viewedModules]="viewedModules()" [collapsible]="true" />
        } @else if (modOrSubsection.visibleoncoursepage !== 0) {
            <core-course-module [module]="modOrSubsection" [section]="sectionObj" [showActivityDates]="course().showactivitydates"
                [showCompletionConditions]="course().showcompletionconditions"
                [isLastViewed]="lastModuleViewedObj?.cmId === modOrSubsection.id" [class.core-course-module-not-viewed]="
                    !viewedModules()[modOrSubsection.id] &&
                    (!modOrSubsection.completiondata || modOrSubsection.completiondata.state === completionStatusIncomplete)" />
        }
    </ng-container>
</ng-template>
