<!-- Question body container. We'll inject the right directive here if any. -->
<div class="mm-question-container">
	<!-- This content will be replaced by the directive if any is applied. -->
	<p class="padding">{{ 'mm.question.errorquestionnotsupported' | translate:{$a: question.type} }}</p>
</div>
<!-- Sequence check input -->
<input ng-if="seqCheck" type="hidden" name="{{seqCheck.name}}" value="{{seqCheck.value}}" >
<!-- Question behaviour directives -->
<div class="item item-complex" mm-question-behaviour ng-repeat="directive in behaviourDirectives"></div>
<!-- Question validation error. -->
<div class="item item-text-wrap" ng-if="question.validationError">
    <p class="mm-warning">{{ question.validationError }}</p>
</div>
<!-- Question behaviour buttons. -->
<div class="item item-text-wrap" ng-repeat="bButton in question.behaviourButtons">
	<a class="button button-block" ng-click="buttonClicked({name: bButton.name, value: bButton.value})" ng-disabled="bButton.disabled">{{ bButton.value }}</a>
</div>
<!-- Question feedback -->
<div class="item item-text-wrap mm-question-feedback-container" ng-if="question.feedbackHtml">
	<p><mm-format-text watch="true" class="mm-content-with-float">{{ question.feedbackHtml }}</mm-format-text></p>
</div>
<!-- Question comment -->
<div class="item item-text-wrap mm-question-comment" ng-if="question.commentHtml">
	<p><mm-format-text watch="true" class="mm-content-with-float">{{ question.commentHtml }}</mm-format-text></p>
</div>
