@use "theme/globals" as *;

:host {
    .core-grading-summary-grade {
        display: flex;
        align-items: center;

        ion-icon {
            flex-shrink: 0;
        }

        ::ng-deep .penalty-indicator-icon {
            display: none;
        }
    }

    .core-grading-summary-penalty {
        color: var(--danger);
        font-size: 0.75em;
    }
}

:host ::ng-deep ion-item[collapsible] ion-label {
    margin-top: 12px;
}

h1 {
    font-size: var(--mdl-typography-heading4-fontSize);
}

.core-modulename {
    text-transform: uppercase;

    core-mod-icon {
        --module-icon-padding: 0px;
        --module-legacy-icon-padding: 2px;
        --module-icon-size: 16px;
        --module-legacy-icon-size: 12px;

        margin: 0px;
    }
}


ion-item ion-label ion-icon {
    @include margin-horizontal(0px, 4px);
    vertical-align: text-top;
}


ion-item.card-header {
    --padding-start: 8px;
    --padding-end: 8px;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: 40px;

    ion-label {
        margin: 0px;
    }
}

.core-module-oib-button.hidden {
    display: none;
}
