<ion-view view-title="{{ 'mma.files.uploadafile' | translate:filedata }}">
    <ion-content mm-state-class>
        <div class="list">
            <div class="item item-text-wrap">
                <h2>{{ 'mma.files.chooseaccountuploadfile' | translate }}</h2>
                <p>{{filename}}</p>
            </div>
            <ion-item class="item item-thumbnail-left" ng-repeat="site in sites track by $index" ng-click="uploadInSite(site.id)">
                <img ng-src="{{site.avatar}}">
                <h2>{{site.fullname}}</h2>
                <p><mm-format-text clean="true" watch="true">{{site.sitename}}</mm-format-text></p>
                <p>{{site.siteurl}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
