<ion-view view-title="{{'mma.files.uploadafile' | translate}}">
    <ion-content mm-state-class>
        <div class="list">
            <a class="item" ng-click="upload('album', true)">
                {{ 'mma.files.photoalbums' | translate }}
            </a>
            <a class="item" ng-click="upload('camera', false)">
                {{ 'mma.files.camera' | translate }}
            </a>
            <a class="item" ng-click="upload('audio', true)">
                {{ 'mma.files.audio' | translate }}
            </a>
            <a class="item" ng-click="upload('video', false)">
                {{ 'mma.files.video' | translate }}
            </a>
            <div class="item" ng-if="isAndroid">
                {{ 'mma.files.file' | translate }}
                <input class="mma-files-picker" type="file" mma-files-on-change="uploadFile"> <!-- Hidden input, intercepts clicks on button-->
            </div>
        </div>
    </ion-content>
</ion-view>


