
$mm-question-correct-color:         #468847 !default;
$mm-question-incorrect-color:       #b94a48 !default;
$mm-question-state-correct-color:   #cfc !default;
$mm-question-state-partial-color:   #ffa !default;
$mm-question-state-incorrect-color: #fcc !default;
$mm-question-warning-color:         #c00 !default;

.mm-question-textarea {
  width: 100%;
  height: 250px;
  resize: none;
}

.mm-question-answer-correct,
select.mm-question-answer-correct,
input.mm-question-answer-correct,
input[readonly]:not(.cloned-text-input).mm-question-answer-correct,
textarea.mm-question-answer-correct,
textarea[readonly]:not(.cloned-text-input).mm-question-answer-correct,
label.mm-question-answer-correct,
li.mm-question-answer-correct,
.mm-question-answer-correct p,
.mm-question-answer-correct input,
.mm-question-answer-correct select,
.mm-question-answer-correct .item-radio input:checked + .radio-content .item-content,
.mm-question-answer-correct.item-radio input:checked + .radio-content .item-content,
.mm-question-comment,
.mm-question-comment p {
  color: $mm-question-correct-color;
  -webkit-text-fill-color: $mm-question-correct-color; /* Override iOS / Android font color change */
  background-color: #dff0d8;
}

.mm-question-answer-correct .checkbox input:disabled:checked:before,
.mm-question-answer-correct .checkbox input:disabled:checked + .checkbox-icon:before {
  background-color: $mm-question-correct-color;
  border-color: $mm-question-correct-color;
}

.mm-question-answer-incorrect,
select.mm-question-answer-incorrect,
input.mm-question-answer-incorrect,
input[readonly]:not(.cloned-text-input).mm-question-answer-incorrect,
textarea.mm-question-answer-incorrect,
textarea[readonly]:not(.cloned-text-input).mm-question-answer-incorrect,
label.mm-question-answer-incorrect,
li.mm-question-answer-incorrect,
.mm-question-answer-incorrect p,
.mm-question-answer-incorrect input,
.mm-question-answer-incorrect select,
.mm-question-answer-incorrect .item-radio input:checked + .radio-content .item-content,
.mm-question-answer-incorrect.item-radio input:checked + .radio-content .item-content,
.mm-question-incorrect,
.mm-question-incorrect p {
  color: $mm-question-incorrect-color;
  -webkit-text-fill-color: $mm-question-incorrect-color; /* Override iOS / Android font color change */
  background-color: #f2dede;
}

.mm-question-answer-incorrect .checkbox input:disabled:checked:before,
.mm-question-answer-incorrect .checkbox input:disabled:checked + .checkbox-icon:before {
  background-color: $mm-question-incorrect-color;
  border-color: $mm-question-incorrect-color;
}

.mm-question-answer-correct input:disabled,
.mm-question-answer-incorrect input:disabled {
  opacity: 1;
}

.mm-question-feedback-container {
  background-color: #fcf8e3;
  color: #8a6d3b;

  .specificfeedback, .rightanswer, .im-feedback, .feedback, .generalfeedback {
    margin: 0 0 .5em;
  }

  .correctness {
    display: inline-block;
    padding: 2px 4px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    &.incorrect {
      background-color: $mm-question-incorrect-color;
    }
    &.correct {
      background-color: $mm-question-correct-color;
    }
  }
}

.mm-question-feedback-inline {
  display: inline-block;
}

.mm-question-feedback-padding {
  padding: 8px 35px 8px 14px;
}

.item,
.platform-android .item,
.platform-ios .item {
  &.mm-question-correct {
    background-color: $mm-question-state-correct-color;
  }
  &.mm-question-partiallycorrect {
    background-color: $mm-question-state-partial-color;
  }
  &.mm-question-notanswered,
  &.mm-question-incorrect {
    background-color: $mm-question-state-incorrect-color;
  }
}

.mm-question-warning, p.mm-question-warning, .item .mm-question-warning {
  color: $mm-question-warning-color;
}
