<ion-view can-swipe-back="false">
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a class="button button-clear" ng-click="save()"> {{ 'mm.core.save' | translate }}</a>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class delegate-handle="mmaModGlossaryEditPage">
        <mm-loading hide-until="glossaryLoaded">
            <form>
                <div class="item-title">
                    <input type="text" placeholder="{{ 'mma.mod_glossary.concept' | translate }}" ng-model="entry.concept">
                </div>
                <div class="item item-noborder mm-item-has-rich-text-editor">
                    <mm-rich-text-editor model="entry" placeholder="{{ 'mma.mod_glossary.definition' | translate }}" name="glossary_entry_definition" scroll-handle="mmaModGlossaryEditPage" component="{{component}}" component-id="{{componentId}}"></mm-rich-text-editor>
                </div>
            </form>
        </mm-loading>
    </ion-content>
</ion-view>