page-core-login-site {
    .content {
        background: -webkit-radial-gradient(white, $gray-light);
        background: radial-gradient(white, $gray-light);
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $white;
        border: 1px solid $gray;
    }

    .item-input:last-child {
        margin-bottom: 20px;
    }
}
