
.mma-imscp-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.mma-imscp-iframe-container {
    flex: 1 1 auto;
    position: relative;
    .iframe-wrapper {
      position: absolute;
    }
}
