<ion-view view-title="{{ 'mma.badges.badges' | translate }}">
    <mm-split-view load-when="badgesLoaded" component="mmaUserBadges">
        <ion-content mm-state-class>
            <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="badgesLoaded" on-refresh="refreshBadges()">
            </ion-refresher>
            <mm-loading hide-until="badgesLoaded">
                <p ng-if="badges && badges.length == 0" class="padding">{{ 'mma.badges.nobadges' | translate }}</p>
                <ul class="list" ng-if="badges && badges.length > 0">
                    <li ng-repeat="badge in badges">
                        <a class="item item-avatar" mm-split-view-link="site.issuedbadge({courseid: courseId, userid: userId, uniquehash: badge.uniquehash})" title="{{badge.name}}">
                            <img ng-src="{{badge.badgeurl}}" alt="{{badge.name}}" mm-external-content>
                            <h2><mm-format-text>{{badge.name}}</mm-format-text></h2>
                            <p>{{ badge.dateissued | mmToLocaleString }}</p>
                        </a>
                    </li>
                </ul>
            </mm-loading>
        </ion-content>
    </mm-split-view>
</ion-view>