<div class="has-spacer">
    <ion-card class="core-info-card">
        <ion-item>
            <ion-icon name="fas-circle-info" slot="start" aria-hidden="true" />
            <ion-label>
                <p>{{ 'core.notavailablecontentinapp' | translate }}</p>
            </ion-label>
        </ion-item>
    </ion-card>
    <div class="spacer"></div>
    @if (module?.url && module?.uservisible) {
        <ion-item lines="none" class="ion-text-wrap">
            <ion-label>
                <ion-button expand="block" [href]="module?.url" core-link [showBrowserWarning]="false">
                    {{ 'core.openinbrowser' | translate }}
                    <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                </ion-button>
            </ion-label>
        </ion-item>
    }
</div>
