<div class="has-spacer">
    <core-alert-card type="info" [message]="'core.notavailablecontentinapp' | translate" />
    <div class="spacer"></div>
    @if (module?.url && module?.uservisible) {
        <ion-item lines="none" class="ion-text-wrap">
            <ion-label>
                <ion-button expand="block" [href]="module?.url" core-link [showBrowserWarning]="false">
                    {{ 'core.openinbrowser' | translate }}
                    <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                </ion-button>
            </ion-label>
        </ion-item>
    }
</div>
