core-course-module {

    a.core-course-module-handler {
        align-items: flex-start;
        min-height: 52px;

        &.item .item-inner {
            padding-right: 0;
        }
        .label {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
        .core-module-icon {
            align-items: flex-start;
        }
    }

    .core-module-title {
        display: flex;
        flex-flow: row;
        align-items: flex-start;

        core-format-text {
            flex-grow: 2;
        }
        .core-module-buttons {
            margin: 0;
        }

        .core-module-buttons,
        .core-module-buttons-more {
            display: flex;
            flex-flow: row;
            align-items: center;
            z-index: 1;
        }

        .core-module-buttons core-course-module-completion,
        .core-module-buttons-more button {
            cursor: pointer;
            pointer-events: auto;
        }

        .core-module-buttons-more .spinner {
            right: 13px;
            position: absolute;
        }
    }
}

.md core-course-module {
    .core-module-description {
        padding-right: $label-md-margin-end;
        margin-bottom: $label-md-margin-bottom;

        .core-module-description .core-show-more {
            padding-right: $label-md-margin-end;
        }
    }

    a.core-course-module-handler .core-module-icon {
        margin-top: $label-md-margin-top;
        margin-bottom: $label-md-margin-bottom;
        width: 24px;
        height: 24px;
    }

    .core-module-title core-format-text {
        padding-top: $label-md-margin-top + 3;
    }
    .button-md {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .core-module-buttons-more {
        min-height: 52px;
        min-width: 53px;
    }
}

.ios core-course-module {
    .core-module-description {
        padding-right: $label-ios-margin-end;
        margin-bottom: $label-md-margin-bottom;

        .core-module-description .core-show-more {
            padding-right: $label-ios-margin-end;
        }
    }

    a.core-course-module-handler .core-module-icon {
        margin-top: $label-ios-margin-top;
        margin-bottom: $label-ios-margin-bottom;
    }

    .core-module-title core-format-text {
        padding-top: $label-ios-margin-top + 3;
    }

    .core-module-buttons-more {
        min-height: 53px;
        min-width: 58px;
    }
}

.wp core-course-module {
    .core-module-description {
        padding-right: ($item-wp-padding-end / 2);
        margin-bottom: $label-md-margin-bottom;

        .core-module-description .core-show-more {
            padding-right: ($item-wp-padding-end / 2);
        }
    }

    a.core-course-module-handler .core-module-icon {
        margin-top: $item-wp-padding-top;
        margin-bottom: $item-wp-padding-bottom;
    }

    .core-module-title core-format-text {
        padding-top: $item-wp-padding-top + 3;
    }

    .button-wp {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}