@use "theme/globals" as *;

:host {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: var(--core-rte-height, auto);
    min-height: 40vh;
}

:host-context(.keyboard-is-open) {
    min-height: 200px;
}

:host-context(.item) {
    margin-bottom: 12px;
}

:host-context(.item-label-stacked) {
    margin-top: 12px;
}
