@use "theme/globals" as *;

:host {
    ion-button {
        margin-left: 0px;
        margin-right: 0px;

        core-format-text {
            display: inline;
            white-space: normal;
            word-break: normal;
        }

        ion-badge {
            @include margin-horizontal(4px, 0px);
        }
    }
}
