ion-app.app-root core-search-box {
    .button.item-button[icon-only] {
        margin: 0;
        padding: ($content-padding / 2) $content-padding;
    }
    .item.item-input.item-block .item-inner,
    .item.item-input.item-block .item-inner ion-input {
       border-bottom: 0 !important;
       box-shadow: none;
    }

    .item-inner {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .item-wp .text-input {
        border: 0;
        margin: 0;
    }
}
