.mm-fileuploader-file-handler {
    input {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        outline: none;
        z-index: 100;
        cursor: pointer;
    }
}
