:host {
    core-search-box ion-card {
        width: 100% !important;
        margin: 0 !important;
    }

    .core-tag-cloud ion-badge {
        margin: 8px;
        cursor: pointer;

        .size20 {
            font-size: 3.4rem;
        }

        .size19 {
            font-size: 3.3rem;
        }

        .size18 {
            font-size: 3.2rem;
        }

        .size17 {
            font-size: 3.1rem;
        }

        .size16 {
            font-size: 3rem;
        }

        .size15 {
            font-size: 2.9rem;
        }

        .size14 {
            font-size: 2.8rem;
        }

        .size13 {
            font-size: 2.7rem;
        }

        .size12 {
            font-size: 2.6rem;
        }

        .size11 {
            font-size: 2.5rem;
        }

        .size10 {
            font-size: 2.4rem;
        }

        .size9 {
            font-size: 2.3rem;
        }

        .size8 {
            font-size: 2.2rem;
        }

        .size7 {
            font-size: 2.1rem;
        }

        .size6 {
            font-size: 2rem;
        }

        .size5 {
            font-size: 1.9rem;
        }

        .size4 {
            font-size: 1.8rem;
        }

        .size3 {
            font-size: 1.7rem;
        }

        .size2 {
            font-size: 1.6rem;
        }

        .size1 {
            font-size: 1.5rem;
        }

        .size0 {
            font-size: 1.4rem;
        }
    }
}
