ion-app.app-root page-addon-mod-forum-discussion {
    .highlight .card-header .item {
        background-color: $gray-lighter;
        @include darkmode() {
            background-color: $gray-dark;
        }
    }

    .addon-forum-reply-button .label {
        margin: 0;
    }
}