page-core-mainmenu-more {
    $core-more-icon: $gray-darker !default;
    $core-more-background-ios: $list-ios-background-color !default;
    $core-more-background-md: $list-md-background-color !default;
    $core-more-background-wp: $item-wp-body-background-color !default;
    $core-more-divider-ios: $item-ios-divider-background !default;
    $core-more-divider-md: $item-md-divider-background !default;
    $core-more-divider-wp: $item-wp-divider-background !default;
    $core-more-border-ios: $list-ios-border-color !default;
    $core-more-border-md: $list-md-border-color !default;
    $core-more-border-wp: $list-wp-border-color !default;
    $core-more-color-ios: $list-ios-text-color!default;
    $core-more-color-md: $list-md-text-color !default;
    $core-more-color-wp: $item-wp-body-text-color !default;

    .item-block {
        &.item-ios, &.item-ios p {
            background-color: $core-more-background-ios;
            color: $core-more-color-ios;

            .item-inner {
                border-bottom: $hairlines-width solid $core-more-border-ios;
            }
        }
        &.item-md, &.item-md p {
            background-color: $core-more-background-md;
            color: $core-more-color-md;

            .item-inner {
                border-bottom: 1px solid $core-more-border-md;
            }
        }
        &.item-wp, &.item-wp p {
            background-color: $core-more-background-wp;
            color: $core-more-color-wp;

            .item-inner {
                border-bottom: 1px solid $core-more-border-wp;
            }
        }
    }

	ion-icon {
		color: $core-more-icon;
	}

    .item-divider {
        &.item-ios {
            background-color: $core-more-divider-ios;
        }

        &.item-md {
            background-color: $core-more-divider-md;
            border-bottom: $core-more-border-md;
        }

        &.item-wp {
            background-color: $core-more-divider-wp;
        }
    }
}



