ion-app.app-root page-core-mainmenu-more {
    $core-more-icon: $gray-darker !default;
    $core-more-background-ios: $list-ios-background-color !default;
    $core-more-background-md: $list-md-background-color !default;
    $core-more-activated-background-ios: color-shade($core-more-background-ios) !default;
    $core-more-activated-background-md: color-shade($core-more-background-md) !default;
    $core-more-divider-ios: $item-ios-divider-background !default;
    $core-more-divider-md: $item-md-divider-background !default;
    $core-more-border-ios: $list-ios-border-color !default;
    $core-more-border-md: $list-md-border-color !default;
    $core-more-color-ios: $list-ios-text-color!default;
    $core-more-color-md: $list-md-text-color !default;

    .item-block {
        &.item-ios {
            background-color: $core-more-background-ios;
            color: $core-more-color-ios;
            p {
                color: $core-more-color-ios;
            }

            .item-inner {
                border-bottom: $hairlines-width solid $core-more-border-ios;
            }
        }
        &.item-md {
            background-color: $core-more-background-md;
            color: $core-more-color-md;
            p {
                color: $core-more-color-md;
            }

            .item-inner {
                border-bottom: 1px solid $core-more-border-md;
            }
        }

        &.activated {
            &.item-ios {
                background-color: $core-more-activated-background-ios;
            }
            &.item-md {
                background-color: $core-more-activated-background-md;
            }
        }
    }

	ion-icon {
		color: $core-more-icon;
	}

    .item-divider {
        &.item-ios {
            background-color: $core-more-divider-ios;
        }

        &.item-md {
            background-color: $core-more-divider-md;
            border-bottom: $core-more-border-md;
        }
    }

    @include darkmode() {
        ion-icon {
            color: $core-dark-text-color;
        }

        .item-divider {
            &.item-ios,
            &.item-md {
                color: $core-dark-text-color;
                background-color: $core-dark-item-divider-bg-color;
            }
        }

        .item-block {
            &.item-ios,
            &.item-md {
                color: $core-dark-text-color;
                background-color: $core-dark-item-bg-color;
                p {
                    color: $core-dark-text-color;
                }

            }

            &.activated {
                &.item-ios {
                    background-color: $core-more-activated-background-ios;
                }
                &.item-md {
                    background-color: $core-more-activated-background-md;
                }
            }
        }
    }
}
