@import "~theme/globals";

.filters-info {
    padding-bottom: 1rem;
}

ion-footer {
    ion-icon {
        font-size: 16px;
        color: $blue;
        margin-right: .3rem;
        vertical-align: middle;
    }
}
