<ng-container *ngIf="enabled && !loading">
    <!-- Download button. -->
    <ion-button *ngIf="status == statusNotDownloaded" fill="clear" (click)="download($event, false)" color="dark"
        class="core-animate-show-hide" [attr.aria-label]="(statusTranslatable || 'core.download') | translate">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
    </ion-button>

    <!-- Refresh button. -->
    <ion-button *ngIf="status == statusOutdated || (status == statusDownloaded && !canTrustDownload)" fill="clear"
        (click)="download($event, true)" color="dark" class="core-animate-show-hide"
        attr.aria-label]="(statusTranslatable || 'core.refresh') | translate">
        <ion-icon slot="icon-only" name="fas-redo-alt"></ion-icon>
    </ion-button>

    <!-- Downloaded status icon. -->
    <ion-icon *ngIf="status == statusDownloaded && canTrustDownload" class="core-icon-downloaded ion-padding-horizontal"
        color="success" name="cloud-done" [attr.aria-label]="(statusTranslatable || 'core.downloaded') | translate"
        role="status"></ion-icon>

    <ion-spinner *ngIf="status === statusDownloading" class="core-animate-show-hide"
        [attr.aria-label]="(statusTranslatable || 'core.downloading') | translate"></ion-spinner>
</ng-container>

<!-- Spinner. -->
<ion-spinner *ngIf="loading" class="core-animate-show-hide" [attr.aria-label]="'core.loading' | translate"></ion-spinner>
