:host {
    height: 73px;
    display: block;
    position: relative;

    ion-card {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 4;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ion-button.button {
        margin-left: 0;
        margin-right: 0;
    }

    .core-search-history {
        max-height: calc(-120px + 80vh);
        overflow-y: auto;

        .item:hover {
            --background: var(--gray-lighter);
            cursor: pointer;
        }
    }

    ion-label {
        margin: 0;
    }

    ion-input {
        --padding-start: 0;
        --padding-end: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
