.core-course-section-nav-buttons {
    display: flex;
    justify-content: space-between;

    ion-button {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: none;
        flex: 1;
    }
}

.course-section {
    --padding-start: 12px;
    --inner-padding-end: 12px;
}
