.core-course-section-nav-buttons {
    display: flex;
    justify-content: flex-end;

    core-format-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: none;
    }
}

.course-section {
    ion-badge {
        text-align: start;
    }
}
