<ion-list radio-group>
    <ion-item *ngFor="let type of typeKeys" class="addon-calendar-event" [ngClass]="['addon-calendar-eventtype-'+type]">
        <core-icon [name]="typeIcons[type]" item-start></core-icon>
        <ion-label>{{ 'addon.calendar.' + type + 'events' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="types[type]" (ionChange)="onChange($event)"></ion-toggle>
    </ion-item>
    <ion-item-divider *ngIf="types.course || types.category || types.group"></ion-item-divider>
    <ion-list radio-group [(ngModel)]="courseId" *ngIf="types.course || types.category || types.group">
        <ion-item text-wrap *ngFor="let course of courses" >
            <ion-label><core-format-text [text]="course.fullname"></core-format-text></ion-label>
            <ion-radio value="{{course.id}}" (ionSelect)="onChange($event)" ></ion-radio>
        </ion-item>
    </ion-list>
</ion-list>
