<!-- Buttons to add to the header. -->
<core-navbar-buttons end>
    <core-context-menu>
        <core-context-menu-item *ngIf="externalUrl" [priority]="900" [content]="'core.openinbrowser' | translate" [href]="externalUrl" [iconAction]="'open'"></core-context-menu-item>
        <core-context-menu-item *ngIf="description" [priority]="800" [content]="'core.moduleintro' | translate" (action)="expandDescription()" [iconAction]="'arrow-forward'"></core-context-menu-item>
        <core-context-menu-item *ngIf="blog" [priority]="750" content="{{'addon.blog.blog' | translate}}" [iconAction]="'fa-newspaper-o'" (action)="gotoBlog($event)"></core-context-menu-item>
        <core-context-menu-item *ngIf="loaded && isOnline" [priority]="700" [content]="'core.refresh' | translate" (action)="doRefresh(null, $event)" [iconAction]="refreshIcon" [closeOnClick]="false"></core-context-menu-item>
    </core-context-menu>
</core-navbar-buttons>

<!-- Content. -->
<core-loading [hideUntil]="loaded" class="core-loading-center safe-area-page">

    <core-course-module-description [description]="description" [component]="component" [componentId]="componentId" contextLevel="module" [contextInstanceId]="module.id" [courseId]="courseId"></core-course-module-description>

    <ion-list *ngIf="deployedFile && !playing">
        <ion-item text-wrap *ngIf="stateMessage">
            <p >{{ stateMessage | translate }}</p>
        </ion-item>

        <!-- Button to download the package. -->
        <ion-item *ngIf="!downloading && needsDownload" text-wrap>
            <a ion-button block (click)="downloadAndPlay($event)">{{ 'core.download' | translate }}</a>
        </ion-item>

        <!-- Download progress. -->
        <ion-item text-center *ngIf="downloading">
            <ion-spinner></ion-spinner>
            <p *ngIf="progressMessage">{{ progressMessage | translate }}</p>
            <p *ngIf="percentage <= 100">{{ 'core.percentagenumber' | translate:{$a: percentage} }}</p>
        </ion-item>
    </ion-list>
</core-loading>
