@use "theme/globals" as *;

:host ::ng-deep {
    .specificfeedback {
        background-color: var(--core-question-feedback-color-bg);
        color: var(--core-question-feedback-color);
        padding: 0 .7em;
        font-size: var(--text-size);

        @include pointer-events-on-buttons();
    }

    .d-flex {
        display: flex !important;
    }

    .answer {
        line-height: 2em;

        .answernumber {
            min-width: 1.5em;
        }

        ion-checkbox::part(label),
        ion-radio::part(label) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
