:host ::ng-deep {
    .specificfeedback {
        background-color: var(--core-question-feedback-color-bg);
        color: var(--core-question-feedback-color);
        display: inline;
        padding: 0 .7em;
    }

    .answer {
        line-height: 2em;
    }

    .d-flex {
        display: flex !important;
    }

    .answer .answernumber {
        min-width: 1.5em;
    }
}
