
.mma-forum-discussion-link {
    text-decoration: none;
}

.mma-forum-align-right {
    justify-content: flex-end;
}

.mma-forum-border {
    border-color: $item-default-border;
    border-width: $item-border-width;
    border-style: solid;
}

.mma-forum-textarea {
    width: 100%;
    height: 200px;
    resize: none;
}