<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="externalUrl" href="externalUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" content="'mm.core.refresh' | translate" action="doRefresh()" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
            <mm-context-menu-item priority="600" ng-if="timemodified" content="timemodified" icon-action="prefetchStatusIcon" action="prefetch()" close-on-click="false"></mm-context-menu-item>
            <mm-context-menu-item priority="500" ng-if="size" content="size" icon-description="'ion-cube'" icon-action="'ion-trash-a'" action="removeFiles()"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="loaded && mode == 'external'"></ion-refresher>
        <mm-loading hide-until="loaded">
            <mm-course-mod-description ng-if="mode != 'iframe'" description="description" component="{{component}}" component-id="{{componentId}}"></mm-course-mod-description>

            <div ng-if="mode == 'iframe'">
                <mm-iframe src="src"></mm-iframe>
            </div>

            <div ng-if="mode == 'external'">
                <a ng-click="open()" class="button button-block icon-left ion-document">{{ 'mma.mod_resource.openthefile' | translate }}</a>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
