<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="url" href="url" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <mm-course-mod-description description="description"></mm-course-mod-description>
        <h2 ng-if="!isDisabledInSite && isSupportedByTheApp && !isContributedPlugin">{{ 'mm.core.whoops' | translate }}</h2>
        <h2 ng-if="!isDisabledInSite && !isSupportedByTheApp && !isContributedPlugin">{{ 'mm.core.sorry' | translate }}</h2>
        <h2 ng-if="isDisabledInSite || (!isSupportedByTheApp && isContributedPlugin)">{{ 'mm.core.uhoh' | translate }}</h2>

        <p class="mm-big" ng-if="isDisabledInSite">{{ 'mm.course.activitydisabled' | translate }}</p>
        <p class="mm-big" ng-if="!isDisabledInSite && !isSupportedByTheApp && !isContributedPlugin">{{ 'mm.course.activitynotyetviewableinapp' | translate:{$a: moduleName} }}</p>
        <p class="mm-big" ng-if="!isDisabledInSite && isSupportedByTheApp && !isContributedPlugin">{{ 'mm.course.activitynotyetviewablesiteupgradeneeded' | translate }}</p>
        <p class="mm-big" ng-if="!isDisabledInSite && !isSupportedByTheApp && isContributedPlugin">{{ 'mm.course.activitynotyetviewableremoteaddon' | translate }}</p>
        <p ng-if="isDisabledInSite || (!isSupportedByTheApp && isContributedPlugin)"><strong>{{ 'mm.course.askadmintosupport' | translate }}</strong></p>

        <div ng-if="url">
            <p><strong>{{ 'mm.course.useactivityonbrowser' | translate }}</strong></p>
            <a href="{{ url }}" mm-link class="button button-block icon-right ion-share">{{ 'mm.core.openinbrowser' | translate }}</a>
        </div>
    </ion-content>
</ion-view>
