<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content padding="true" mm-state-class>
        <mm-course-mod-description description="description"></mm-course-mod-description>
        <div class="card">
            <h2 class="item-body">{{ 'mm.course.whoops' | translate }}</h2>
            <p ng-if="url" class="item-body">{{ 'mm.course.activitynotyetviewablegothere' | translate }}</p>
            <p ng-if="!url" class="item-body">{{ 'mm.course.activitynotyetviewable' | translate }}</p>
        </div>
        <a ng-if="url" href="{{ url }}" mm-browser class="button button-block"><i class="icon ion-ios-browsers-outline"></i> {{ 'mm.course.gotothesite' | translate }}</a>
    </ion-content>
</ion-view>
