<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content delegate-handle="mmSectionScroll" mm-state-class padding="true">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="sectionLoaded" on-refresh="doRefresh()">
        </ion-refresher>
        <mm-loading hide-until="sectionLoaded" loading-padding-top="loadingPaddingTop">

            <section class="card" ng-if="summary">
                <!-- Only displayed when 1 section per page. -->
                <div class="item item-text-wrap clearfix">
                    <article><mm-format-text>{{ summary }}</mm-format-text></article>
                </div>
            </section>

            <section class="card" ng-repeat="section in sections" ng-if="sectionHasContent(section)">
                <!-- Title and summary are displayed when multiple sections per page. -->
                <div class="item item-divider" ng-if="allSections">
                    <h2><mm-format-text watch="true">{{ section.name }}</mm-format-text></h2>
                </div>

                <div class="item item-text-wrap clearfix" ng-if="allSections && section.summary">
                    <mm-format-text>{{ section.summary }}</mm-format-text>
                </div>

                <mm-course-module class="item item-complex" ng-repeat="module in section.modules" module="module"></mm-course-module>

                <!-- When there is nothing in the section. -->
                <div class="item item-text-wrap" ng-if="section.modules.length < 1 && sections.length == 1">
                    {{ 'mm.course.nocontentavailable' | translate }}
                </div>
            </section>
            <p class="padding" ng-if="!hasContent">{{ 'mm.course.nocontentavailable' | translate }}</p>
        </mm-loading>
    </ion-content>
</ion-view>
