<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="assign.id && (description || (assign.introattachments && assign.introattachments.length))" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" ng-if="assignmentLoaded && !hasOffline && isOnline" content="'mm.core.refresh' | translate" action="refreshAssignment(false)" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
            <mm-context-menu-item priority="600" ng-if="assignmentLoaded && hasOffline && isOnline" content="'mm.settings.synchronizenow' | translate" action="refreshAssignment(true)" icon-action="syncIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
            <mm-context-menu-item priority="550" ng-if="timemodified" content="timemodified" icon-action="prefetchStatusIcon" action="prefetch()" close-on-click="false"></mm-context-menu-item>
            <mm-context-menu-item priority="500" ng-if="size" content="size" icon-description="'ion-cube'" icon-action="'ion-trash-a'" action="removeFiles()"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class delegate-handle="mmaModAssignIndexScroll">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentLoaded" on-refresh="refreshAssignment(false)"></ion-refresher>
        <mm-loading hide-until="assignmentLoaded">
            <div class="card" ng-if="description" ng-click="expandDescription()">
                <div class="item item-text-wrap">
                    <mm-format-text max-height="120" clean="true" component="{{assignComponent}}" component-id="{{assign.cmid}}">{{ description }}</mm-format-text>
                </div>
            </div>
            <div class="list card" ng-if="assign.introattachments && assign.introattachments.length">
                <mm-file class="item item-complex" ng-repeat="attachment in assign.introattachments" file="attachment" component="{{assignComponent}}" component-id="{{assign.cmid}}"></mm-file>
            </div>

            <!-- Assign has something offline. -->
            <div class="mm-warning" ng-if="hasOffline">
                <i class="icon ion-alert-circled padding"></i> {{ 'mm.core.hasdatatosync' | translate:{$a: moduleName} }}
            </div>

            <div ng-if="canviewsubmissions" class="list card">
                <div ng-if="timeRemaining" class="item item-text-wrap">
                    <h2>{{ 'mma.mod_assign.timeremaining' | translate }}</h2> <p>{{timeRemaining}}</p>
                </div>
                <div ng-if="lateSubmissions" class="item item-text-wrap">
                    <h2>{{ 'mma.mod_assign.latesubmissions' | translate }}</h2> <p>{{lateSubmissions}}</p>
                </div>
                <div ng-if="summary.participantcount" class="item item-text-wrap item-icon-right" ng-click="gotoSubmissionList()">
                    <h2 ng-if="assign.teamsubmission">{{ 'mma.mod_assign.numberofteams' | translate }}</h2>
                    <h2 ng-if="!assign.teamsubmission">{{ 'mma.mod_assign.numberofparticipants' | translate }}</h2>
                    <span class="badge badge-positive">{{summary.participantcount}}</span>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </div>

                <div ng-if="assign.submissiondrafts && summary.submissionsenabled" class="item item-text-wrap" ng-class="{'item-icon-right': summary.submissiondraftscount}" ng-click="gotoSubmissionList(mmaModAssignSubmissionStatusDraft, summary.submissiondraftscount)">
                    <h2>{{ 'mma.mod_assign.numberofdraftsubmissions' | translate }}</h2>
                    <span class="badge badge-positive">{{summary.submissiondraftscount}}</span>
                    <i class="icon icon-accessory ion-chevron-right" ng-if="summary.submissiondraftscount"></i>
                </div>

                <div ng-if="summary.submissionsenabled" class="item item-text-wrap" ng-class="{'item-icon-right': summary.submissionssubmittedcount}" ng-click="gotoSubmissionList(mmaModAssignSubmissionStatusSubmitted, summary.submissionssubmittedcount)">
                    <h2>{{ 'mma.mod_assign.numberofsubmittedassignments' | translate }}</h2>
                    <span class="badge badge-positive">{{summary.submissionssubmittedcount}}</span>
                    <i class="icon icon-accessory ion-chevron-right" ng-if="summary.submissionssubmittedcount"></i>
                </div>
                <div ng-if="summary.submissionsenabled && !assign.teamsubmission" class="item item-text-wrap" ng-class="{'item-icon-right': needsGradingAvalaible}" ng-click="gotoSubmissionList(mmaModAssignNeedGrading, needsGradingAvalaible)">
                    <h2>{{ 'mma.mod_assign.numberofsubmissionsneedgrading' | translate }}</h2>
                    <span class="badge badge-positive">{{summary.submissionsneedgradingcount}}</span>
                    <i class="icon icon-accessory ion-chevron-right" ng-if="needsGradingAvalaible"></i>
                </div>
                <p class="mm-warning" ng-if="assign.teamsubmission && summary.warnofungroupedusers">{{ 'mma.mod_assign.ungroupedusers' | translate }}</p>
            </div>

            <mma-mod-assign-submission ng-if="!canviewsubmissions" courseid="{{courseid}}" moduleid="{{moduleid}}" scroll-handle="mmaModAssignIndexScroll"></mma-mod-assign-submission>

            <!-- Submit through app not supported. -->
            <div class="list card" ng-if="!canviewsubmissions && !submitSupported">
                <div class="item item-text-wrap">
                    <a class="button button-block icon-right ion-share" ng-href="{{moduleUrl}}" mm-link>{{'mma.mod_assign.addsubmission' | translate }}</a>
                </div>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
