<ion-view>
    <ion-nav-title>
        <span ng-if="userFullname">{{ userFullname }}</span>
        <span ng-if="!userFullname">{{ 'mma.mod_assign.hiddenuser' | translate }}{{ blindid }}</span>
    </ion-nav-title>
    <ion-content padding="true" mm-state-class delegate-handle="mmaModAssignSubmissionReviewScroll">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="assignmentSubmissionLoaded" on-refresh="refreshSubmission()"></ion-refresher>
        <mm-loading hide-until="assignmentSubmissionLoaded">
            <mma-mod-assign-submission submitid="{{submitid}}" blindid="{{blindid}}" courseid="{{courseid}}" moduleid="{{moduleid}}" scroll-handle="mmaModAssignSubmissionReviewScroll" show-submission="showSubmission"></mma-mod-assign-submission>
        </mm-loading>
    </ion-content>
</ion-view>