// Color icons
@each $color-name, $color-base, $color-contrast in get-colors($colors) {
  .fa-#{$color-name} {
    color: $color-base;
  }
}


[dir=rtl] .icon {
    &.core-icon-dir-flip,
    &.fa-caret-right,
    &.ion-md-send, &.ion-ios-send {
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
}