<div class="core-input-error-container" role="alert" *ngIf="(formControl && formControl.dirty && !formControl.valid) || errorText">
    <ng-container *ngIf="formControl && formControl.dirty && !formControl.valid">
        <ng-container *ngFor="let error of errorKeys">
            <div *ngIf="formControl.hasError(error)" class="core-input-error">{{errorMessages[error]}}</div>
        </ng-container>
    </ng-container>
    <div *ngIf="errorText" class="core-input-error">{{ errorText }}</div>
</div>