/*
 * App DARK theme CSS
 * ----------------------------------------------------------------------------
 * Ionic Variables and Theming. For more info, please see:
 * http://ionicframework.com/docs/theming/
 */

:root body.dark {
    --ion-background-color: #{$background-color-dark};
    --ion-background-color-rgb: color-to-rgb-list(var(--ion-background-color));

    --ion-text-color: #{$text-color-dark};
    --ion-text-color-rgb: color-to-rgb-list(var(--ion-text-color));

    --ion-border-color: #3f3f3f;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --light: #{$dark};
    --dark: #{$light};

    @each $color-name, $value in $colors-dark {
        @include generate-color($color-name);
    }

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1c1c1d;

    ion-content {
        --background: var(--ion-background-color);
        --background-lighter: var(--gray-darker);
        --contrast-background: var(--ion-background-color);
    }

    ion-action-sheet {
        .action-sheet-cancel {
            --button-color: var(--ion-color-danger-tint);
        }
    }

    --core-tabs-background: #{$core-tabs-background-dark};
    --core-tab-background: #{$core-tab-background-dark};
    --core-tab-color: #{$core-tab-color-dark};
    --core-tab-border-color: #{$core-tab-border-color-dark};

    core-progress-bar {
        --text-color: #{$core-progressbar-text-color-dark};
    }

    --ion-item-background: #{$ion-item-background-dark};
    --ion-item-detail-icon-color: var(--white);
    ion-item-divider {
        --background: var(--black);
        --color: var(--white);
    }

    --core-login-background: #{$core-login-background-dark};
    --core-login-text-color: #{$core-login-text-color-dark};

    --core-question-correct-color: var(--green-light);
    --core-question-correct-color-bg: var(--green-dark);
    --core-question-incorrect-color: var(--red);
    --core-question-incorrect-color-bg: var(--red-dark);
    --core-question-feedback-color: var(--yellow-light);
    --core-question-feedback-color-bg: var(--yellow-dark);
    --core-question-warning-color: var(--red);
    --core-question-saved-color-bg: var(--gray-dark);

    --core-question-state-correct-color: var(--green-dark);
    --core-question-state-partial-color: var(--yellow-dark);
    --core-question-state-partial-text: var(--yellow);
    --core-question-state-incorrect-color: var(--red-dark);

    --core-question-feedback-color: var(--yellow-light);
    --core-question-feedback-background-color: var(--yellow-dark);

    --core-dd-question-selected-shadow: 2px 2px 4px var(--gray-light);

    --addon-forum-border-color: #{$addon-forum-border-color-dark};
    --addon-forum-highlight-color: #{$addon-forum-highlight-color-dark};
}
