/*
 * App DARK theme CSS
 * ----------------------------------------------------------------------------
 * Ionic Variables and Theming. For more info, please see:
 * http://ionicframework.com/docs/theming/
 */

:root body.dark {
    --ion-background-color: #{$background-color-dark};
    --ion-background-color-rgb: #{color-to-rgb-list($background-color-dark)};

    --ion-text-color: #{$text-color-dark};
    --ion-text-color-rgb: #{color-to-rgb-list($text-color-dark)};
    --subdued-text-color: #{$subdued-text-color-dark};

    // Enlighten the ionic shades.
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --brand-contrast-color: #{$brand-contrast-color-dark};

    --primary: #{$primary-dark};
    --secondary: #{$secondary-dark};
    --tertiary: #{$tertiary-dark};
    --success: #{$success-dark};
    --danger: #{$danger-dark};
    --warning: #{$warning-dark};
    --info: #{$info-dark};
    --light: #{$light-dark};
    --dark: #{$dark-dark};
    --medium: #{$medium-dark};

    @each $color-name, $value in $colors-dark {
        @include generate-color($color-name, $colors-dark);
    }

    --ion-border-color: #{$shade-85};

    --ion-card-color: #{$text-color-dark};
    --ion-card-background: #{$ion-item-background-dark};

    --contrast-background: black;

    ion-content {
        --background: var(--ion-background-color);
        --background-alternative: var(--black);
    }

    --core-bottom-tabs-background: #{$bottom-tabs-background-dark};
    --core-bottom-tabs-color: #{$bottom-tabs-color-dark};
    --core-bottom-tabs-color-selected: #{$bottom-tabs-color-selected-dark};
    --core-bottom-tabs-badge-color: #{$bottom-tabs-badge-color-dark};
    --core-bottom-tabs-badge-text-color: #{$bottom-tabs-badge-text-color-dark};

    ion-action-sheet {
        .action-sheet-cancel {
            --button-color: var(--ion-color-danger-tint);
        }
    }

    --core-link-color: #{$link-color-dark};

    --core-header-toolbar-background: #{$toolbar-background-dark};
    --core-header-toolbar-border-color: #{$toolbar-border-color-dark};
    --core-header-toolbar-color: #{$toolbar-color-dark};

    --core-tabs-background: #{$core-tabs-background-dark};
    --core-tab-background: #{$core-tab-background-dark};
    --core-tab-color: #{$core-tab-color-dark};
    --core-tab-border-color: #{$core-tab-border-color-dark};
    --core-tab-color-active: #{$core-tab-color-active-dark};
    --core-tab-border-color-active: #{$core-tab-border-color-active-dark};

    --core-progressbar-color: #{$core-progressbar-color-dark};
    --core-progressbar-text-color: #{$core-progressbar-text-color-dark};

    --ion-item-background: #{$ion-item-background-dark};
    --ion-item-detail-icon-color: var(--white);
    --item-divider-background: #{$ion-item-divider-background-dark};
    --item-divider-color: #{$ion-item-divider-color-dark};
    --spacer-background: #{$core-spacer-background-dark};

    --core-combobox-background: #{$core-combobox-background-dark};
    --core-combobox-color: #{$core-combobox-color-dark};

    --selected-item-color: #{$core-selected-item-color-dark};

    --core-login-background: #{$core-login-background-dark};
    --core-login-text-color: #{$core-login-text-color-dark};
    --core-login-input-background: #{$core-login-input-background-dark};
    --core-login-input-color: #{$core-login-input-color-dark};

    --core-question-correct-color: var(--green-light);
    --core-question-correct-color-bg: var(--green-dark);
    --core-question-incorrect-color: var(--red);
    --core-question-incorrect-color-bg: var(--red-dark);
    --core-question-feedback-color: var(--yellow-light);
    --core-question-feedback-color-bg: var(--yellow-dark);
    --core-question-warning-color: var(--red);
    --core-question-saved-color-bg: var(--gray-dark);

    --core-question-state-correct-color: var(--green-dark);
    --core-question-state-partial-color: var(--yellow-dark);
    --core-question-state-partial-text: var(--yellow);
    --core-question-state-incorrect-color: var(--red-dark);

    --core-question-feedback-color: var(--yellow-light);
    --core-question-feedback-background-color: var(--yellow-dark);

    --core-dd-question-selected-shadow: 2px 2px 4px var(--gray-light);
    --core-dd-question-border: var(--gray-light);

    --addon-messages-message-bg: #{$addon-messages-message-bg-dark};
    --addon-messages-message-activated-bg: #{$addon-messages-message-activated-bg-dark};
    --addon-messages-message-note-text: #{$addon-messages-message-note-text-dark};
    --addon-messages-message-mine-bg: #{$addon-messages-message-mine-bg-dark};
    --addon-messages-message-mine-activated-bg: #{$addon-messages-message-mine-activated-bg-dark};
    --addon-messages-discussion-badge: #{$addon-messages-discussion-badge-dark};
    --addon-messages-discussion-badge-text: #{$addon-messages-discussion-badge-text-dark};

    --addon-forum-border-color: #{$addon-forum-border-color-dark};
    --addon-forum-highlight-color: #{$addon-forum-highlight-color-dark};
}
