/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
    --core-header-toolbar-background: #093ad3;
    --core-header-toolbar-color: #ffffff;
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root.dark {
    --medium: #00fffd;
    --core-header-toolbar-background: #093ad3;
    --core-header-toolbar-color: #ffffff;
}
