// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "custom.scss";

/** Ionic CSS Variables **/
:root {

    // Color palette
    --black:           var(--custom-black, #3a3a3a); // Headings, standard text.
    --gray-darker:     var(--custom-gray-darker, #626262); // Text (emphasis-detail), placeholder, background.
    --gray-dark:       var(--custom-gray-dark, #9e9e9e); // Borders (never text).
    --gray:            var(--custom-gray, #dddddd);
    --gray-light:      var(--custom-gray-light, #e9e9e9); // Background.
    --gray-lighter:    var(--custom-gray-lighter, #f5f5f5);
    --white:           var(--custom-white, #ffffff); // Background, reversed text.

    --blue:            var(--custom-blue, #0064d2); // Link, background.
    --turquoise:       var(--custom-turquoise, #007982); // Accent.
    --green:           var(--custom-green, #5e8100); // Accent.
    --red:             var(--custom-red, #cb3d4d);
    --orange:          var(--custom-orange, #f98012); // Accent (never text).
    --yellow:          var(--custom-yellow, #fbad1a); // Accent (never text).
    --purple:          var(--custom-purple, #8e24aa); // Accent (never text).

    --core-color: var(--custom-main-color, var(--orange));

    --ion-color-primary: var(--core-color);
    --ion-color-primary-rgb: 249,128,18;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #db7110;
    --ion-color-primary-tint: #fa8d2a;

    --ion-color-secondary: #0064d2;
    --ion-color-secondary-rgb: 0,100,210;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0058b9;
    --ion-color-secondary-tint: #1a74d7;

    --ion-color-tertiary: #007982;
    --ion-color-tertiary-rgb: 0,121,130;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #006a72;
    --ion-color-tertiary-tint: #1a868f;

    --ion-color-success: #5e8100;
    --ion-color-success-rgb: 94,129,0;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #537200;
    --ion-color-success-tint: #6e8e1a;

    --ion-color-warning: #fbad1a;
    --ion-color-warning-rgb: 251,173,26;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #dd9817;
    --ion-color-warning-tint: #fbb531;

    --ion-color-danger: #cb3d4d;
    --ion-color-danger-rgb: 203,61,77;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #b33644;
    --ion-color-danger-tint: #d0505f;

    --ion-color-dark: #3a3a3a;
    --ion-color-dark-rgb: 58,58,58;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #333333;
    --ion-color-dark-tint: #4e4e4e;

    --ion-color-medium: #9e9e9e;
    --ion-color-medium-rgb: 158,158,158;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #8b8b8b;
    --ion-color-medium-tint: #a8a8a8;

    --ion-color-light: #f5f5f5;
    --ion-color-light-rgb: 245,245,245;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d8d8d8;
    --ion-color-light-tint: #f6f6f6;

    --ion-text-color: #3a3a3a;
    --ion-text-color-rgb: 58,58,58;

    ion-content {
        --background: var(--gray-light);
    }

    ion-tab-bar {
        --background: var(--custom-bottom-tabs-background, var(--gray-darker));
        --color: var(--custom-bottom-tabs-color, var(--white));
    }

    ion-toolbar {
        --color: var(--custom-toolbar-color, var(--ion-color-primary-contrast));
        --background: var(--custom-toolbar-background, var(--ion-color-primary));
    }

    ion-action-sheet {
        --action-sheet-shadow-color: var(--custom--action-sheet-shadow-color, 0, 0, 0, 1);
        --button-color-selected: var(--custom--action-sheet-selected-color, var(--core-color));
        --title-border-color: var(--custom-title-border-color, var(--gray));

        @media (min-height: 500px) {
            --max-height: 50%;
            --height: 100%;
        }

        .action-sheet-cancel {
            --button-color: var(--ion-color-danger);
        }
    }

    core-tabs {
        --background: var(--custom-tabs-background, var(--white));
        ion-slide {
            --background: var(--custom-tab-background, var(--white));
            --color: var(--custom-tab-background, var(--gray-dark));
            --border-color: var(--custom-tab-border-color, var(--gray));
            --color-active: var(--custom-tab-color-active, var(--color));
            --border-color-active: var(--custom-tab-border-color-active, var(--core-color));
        }
    }

    --drop-shadow: var(--custom-drop-shadow, 0, 0, 0, 0.2);

    --core-login-background: var(--custom-login-background, var(--white));
    --core-login-text-color: var(--custom-login-text-color,  var(--black));
}

/*
* Dark Theme
* -------------------------------------------
*/
:root body.dark {
    --ion-background-color: #1e1e1e;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #3f3f3f;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-tab-bar-background: #1f1f1f;

    --ion-item-background: #1e1e1e;

    --ion-card-background: #1c1c1d;

    ion-content {
        --background: var(--ion-background-color);
    }

    core-tabs {
        --background: var(--custom-tabs-background, #3a3a3a);
        ion-slide {
            --background: var(--custom-tab-background, #3a3a3a);
            --color: var(--custom-tab-background, var(--white));
            --border-color: var(--custom-tab-border-color, var(--gray-light));
        }
    }

    --core-login-background: var(--custom-login-background, #3a3a3a);
    --core-login-text-color: var(--custom-login-text-color, white);
}

@import "app.scss";
