ion-app.app-root core-empty-box {
  .core-empty-box {
    position: absolute;
    @include position(0, 0, 0, 0);
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    pointer-events: none;
    z-index: -5;

    .core-empty-box-content {
      color: $black;
      margin: 0;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      pointer-events: auto;
    }

    &.core-empty-box-inline {
      position: relative;
      z-index: initial;
      @include position(initial, initial, null, initial);
      height: auto;
    }

    .icon {
      font-size: 120px;
      width: auto;
    }
    img {
      height: 125px;
      width: 145px;
      margin: 0 auto;
    }
    p {
      font-size: 120%;
    }
  }

  &.core-empty-box-clickable .core-empty-box {
    z-index: 0;
  }

  @media (max-width: 350px) {
    .core-empty-box {
      position: relative;
      height: auto;
      margin-top: 50px;

      .icon {
        font-size: 100px;
      }
      img {
        height: 104px;
        width: 121px;
      }
    }
  }
}

ion-app.app-root core-block-course-blocks core-empty-box .core-empty-box {
  position: relative;
}

