:host {
    .core-course-thumb {
        overflow: hidden;
        text-align: center;
        height: 40vw;
        max-height: 35vh;
        z-index: -1;
        overflow: hidden;
        border-bottom: 1px solid var(--stroke);
    }


    .core-customfieldvalue core-format-text {
        display: inline;
    }
}
