<ion-item class="ion-text-wrap">
    <ion-label>
        <h3 class="item-heading">{{ 'addon.mod_quiz.quizpassword' | translate }}</h3>
        <p>{{ 'addon.mod_quiz.requirepasswordmessage' | translate}}</p>
    </ion-label>
</ion-item>
<ion-item [formGroup]="form">
    <ion-label class="sr-only">{{ 'addon.mod_quiz.quizpassword' | translate }}</ion-label>
    <core-show-password [name]="'quizpassword'">
        <ion-input id="addon-mod_quiz-accessrule-password-input" name="quizpassword" type="password"
            placeholder="{{ 'addon.mod_quiz.quizpassword' | translate }}" [formControlName]="'quizpassword'" [clearOnEdit]="false">
        </ion-input>
    </core-show-password>
</ion-item>
