:host ::ng-deep {
    core-timer {
        display: block;

        .core-timer {
            &.core-timer-under-300 {
                background-color: var(--danger-tint);
                color: var(--danger-shade);
            }

            &.core-timer-under-900 {
                background-color: var(--warning-tint);
                color: var(--warning-shade);
            }
        }
    }
}
