@if (showInline && contentText) {
    <core-format-text [text]="contentText" [filter]="false" />
}

<ng-container *ngFor="let file of files; let i = index">
    @if (!file.embedType) {
        @if (!file.name) {
            <!-- Files already attached to the filearea. -->
            <core-file [file]="file" [component]="component" [componentId]="componentId" [alwaysDownload]="alwaysDownload"
                [canDownload]="canDownload" [showSize]="showSize" [showTime]="showTime" />
        } @else {
            <!-- Files stored in offline to be sent later. -->
            <core-local-file [file]="file" />
        }
    }

    @if (extraHtml && extraHtml[i]) {
        <ion-item class="ion-text-wrap">
            <ion-label>
                <core-format-text [component]="component" [componentId]="componentId" [text]="extraHtml[i]" />
            </ion-label>
        </ion-item>
    }
</ng-container>
