@use "theme/globals" as *;

:host {
    // Remove default padding from ion-content
    ion-content {
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;
    }
    
    // Ensure tabs outlet takes full height
    core-tabs-outlet {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }
}
