@import '~theme/globals.scss';

:host {
    .core-format-progress-list {
        width: 100%;
    }

    .core-course-thumb {
        height: var(--core-courseimage-on-course-size);
        min-height: var(--core-courseimage-on-course-size);
        width: var(--core-courseimage-on-course-size);
        min-width: var(--core-courseimage-on-course-size);
        --border-radius: var(--core-courseimage-radius);
    }

    @if ($core-hide-courseimage-on-course) {
        .core-course-thumb {
            display: none;
        }
    }

    @if ($core-hide-progress-on-course) {
        .core-course-progress {
            display: none;
        }
    }

    h1 {
        font-size: 20px;
    }
}
