// Variables.
$bar-side-menu-height: 80px !default;
$bar-side-menu-color: $bar-content-bg !default;
$bar-side-menu-border-color: $bar-content-border !default;
$bar-side-menu-text-color: $bar-content-text !default;

// Bar styles
.bar-side-menu {
  @include bar-style($bar-side-menu-color, $bar-side-menu-border-color, $bar-side-menu-text-color);
  height: $bar-side-menu-height !important; // MOBILE-959: Added !important to fix side menu header in iOS.
  .item {
    background: transparent;
    border: none;
  }
  .item-avatar {
    margin-top: 0px !important; // MOBILE-959: Added to fix side menu header in iOS.
    h2,
    p {
      color: $bar-side-menu-text-color;
    }
  }
}

.has-side-menu-header {
  top: $bar-side-menu-height;
}

.mm-sidemenu-menu {
  .item .badge {
    right: 16px;
  }
}
