$core-dashboard-logo: false !default;

ion-app.app-root page-core-courses-dashboard {
    @if $core-dashboard-logo {
        .toolbar-title-md .core-header-logo {
            max-height: $toolbar-md-height - 24;
        }

        .toolbar-title-ios .core-header-logo {
            max-height: $toolbar-ios-height - 24;
        }

        .toolbar-title-wp .core-header-logo {
            max-height: $toolbar-wp-height - 24;
        }
        .toolbar-title core-format-text {
            display: none;
        }
    } @else {
        .toolbar-title .core-header-logo {
             display: none;
        }
    }

    ion-badge.core-course-download-courses-progress {
        display: block;
        @include float(start);
        @include margin(12px, 12px, null, 12px);
    }
}

