ion-avatar[core-user-avatar] {
    position: relative;
    cursor: pointer;

    .contact-status {
        position: absolute;
        @include position(null, 0, 0, null);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        &.online {
            border: 1px solid white;
            background-color: $core-online-color;
        }
    }

    .core-avatar-extra-icon {
        margin: 0 !important;
        border-radius: 0 !important;
        background: none;
        position: absolute;
        @include position(null, -4px, -4px, null);
        width: 24px;
        height: 24px;
    }
}

.toolbar ion-avatar[core-user-avatar] .contact-status {
    width: 10px;
    height: 10px;
}