@use "theme/globals" as *;

:host {
    --badge-image-size: 300px;

    @include media-breakpoint-down(md) {
        --badge-image-size: 200px;
    }

    ion-row {
        justify-content: center;
    }

    ion-col {
        min-width: var(--badge-image-size);
        &.badge-details {
            max-width: var(--list-item-max-width);
        }
    }

    .badge-image-container {
        position: relative;

        .badge-image {
            border-radius: 50%;
            width: var(--badge-image-size);
            height: var(--badge-image-size);
        }

        .expireimage {
            left: 0;
            top: 0;
            position: absolute;
            z-index: 10;
            opacity: .85;
        }
    }
}
