// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Alignment
// -------------------------

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }


@media only screen and (min-width: 430px) {
  .mm-center-view .scroll-content {
    display: flex!important;
    align-content: center !important;
    align-items: center !important;
    > * {
      margin: 0 auto;
      max-width: 600px;
    }
  }
}


// Define an alternative way to set a heading in an item without using a heading tag.
// This is done for accessibility reasons when a heading is semantically incorrect.
.item .item-heading {
  @extend h6;
}

.mm-oauth-icon, .item.mm-oauth-icon, .list .item.mm-oauth-icon {
  min-height: 32px;
  img, .label {
    max-height: 32px;
    vertical-align: middle;
  }
  img {
    max-width: 32px;
  }
  .label {
    margin-left: 5px;
    color: $gray-darker;
  }
}

.mm-bold, .mm-bold .label {
  font-weight: bold;
}

// Avatar
// -------------------------
// Large centered avatar
.item-avatar-center {
    text-align: center;

    &.item-complex .item-content {
        text-align: center;
        padding-left: 49px;
    }

    > img:first-child,
    ion-avatar img {
        display: block;
        margin: auto;
        width: 90px;
        height: 90px;
        max-width: 90px;
        max-height: 90px;
        margin-bottom: 10px;
        border-radius : 50%;
        padding: 4px;
        border: 1px solid #ddd;

        &.avatar-full {
            border-radius: 2%;
            border: 0;
            max-width: 100%;
            max-height: 160px;
            width: auto;
            height: auto;
        }
    }
}

ion-avatar ion-img, ion-avatar img {
  text-indent: -99999px;
  background-color: $gray-light;
}

// Form items
// -------------------------

.item .core-input-footnote {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}

