
.button-wp {
  min-height: $button-wp-height;
}

// Light buttons color.
.button-wp-light {
  color: color($colors, primary, base);
}

.col[align-self-stretch] .card-wp {
  height: calc(100% - #{($card-wp-margin-end + $card-wp-margin-start)});
}
