ion-app.app-root core-show-password {
    padding: 0px;
    width: 100%;
    position: relative;

    ion-input input.text-input {
        @include padding(null, 47px, null, null);
    }

    .button[icon-only] {
        background: transparent;
        padding: 0 ($content-padding / 2);
        position: absolute;
        @include position(null, 0, $content-padding / 2, null);
        margin-top: 0;
        margin-bottom: 0;
    }

    .core-ioninput-password {
        padding-top: 0;
        padding-bottom: 0;
    }
}

ion-app.app-root.md {
    .item-label-stacked core-show-password .button[icon-only] {
        bottom: 0;
    }
}

ion-app.app-root.ios {
    .item-label-stacked core-show-password .button[icon-only] {
        bottom: -5px;
    }
    core-show-password .button[icon-only] {
        bottom: 0;
    }
}
