core-show-password {
    padding: 0px;
    width: 100%;
    position: relative;

    ion-input {
        padding-right: 47 + $content-padding;
    }

    .button[icon-only] {
        padding: 0 ($content-padding / 2);
        position: absolute;
        top: $content-padding / 2;
        right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.item-label-stacked core-show-password {
    .button[icon-only] {
        top: 0;
    }
}
