@import "~theme/globals";

:host {
    --item-divider-font-size: var(--item-divider-font-size-big);
}

:host ::ng-deep ion-item-divider {
    display: none !important;
}
:host ::ng-deep core-loading {
    --internal-loading-inline-min-height: calc(100vh - var(--core-header-toolbar-height));
}

:host-context(ion-tabs.placement-bottom) ::ng-deep core-loading {
    --internal-loading-inline-min-height: calc(100vh - var(--core-header-toolbar-height) - var(--bottom-tabs-size) - 2px);
}

core-block ::ng-deep ion-card.addon-block-myoverview {
    --border-width: 0;
}

@if ($core-dashboard-logo) {
    .in-toolbar h1 .core-header-logo {
        max-height: calc(var(--core-header-toolbar-height) - 24px);
    }

    .in-toolbar h1 core-format-text {
        display: none;
    }
} @else {
    .in-toolbar h1 .core-header-logo {
        display: none;
    }
}
