<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-content">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon" aria-label="{{ 'mm.sidemenu.togglemenu' | translate }}"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="site">
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header>
            <div class="bar bar-header bar-side-menu">
                <div class="item item-avatar">
                    <img ng-src="{{siteinfo.userpictureurl}}" alt="" mm-external-content>
                    <h2>{{siteinfo.fullname}}</h2>
                    <p><mm-format-text watch="true">{{siteinfo.sitename}}</mm-format-text></p>
                </div>
            </div>
        </header>
        <ion-content class="has-side-menu-header mm-sidemenu-menu">
            <nav>
                <ul class="list dark">
                    <li>
                        <a menu-close class="item item-icon-left" ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">
                            <i class="icon ion-ionic"></i>{{ 'mm.sidemenu.mycourses' | translate}}
                        </a>
                    </li>
                    <li class="item text-center" ng-if="(!handlers || !handlers.length) && !areNavHandlersLoaded()">
                        <ion-spinner></ion-spinner>
                    </li>
                    <li ng-repeat="handler in handlers | orderBy:'-priority'" ng-controller="handler.controller" >
                        <a menu-close class="item item-icon-left" ui-sref="{{state}}" title="{{title | translate}}">
                            <i class="icon {{icon}}"></i> {{title | translate}}
                            <span ng-show="badge > 0" class="badge badge-positive">{{badge}}</span>
                        </a>
                    </li>
                    <li>
                        <a menu-close class="item item-icon-left" ng-href="{{siteinfo.siteurl}}" mm-browser title="{{ 'mm.sidemenu.website' | translate}}">
                            <i class="icon ion-earth"></i>{{ 'mm.sidemenu.website' | translate}}
                        </a>
                    </li>
                    <li>
                        <a menu-close class="item item-icon-left" ng-href="{{docsurl}}" mm-browser title="{{ 'mm.sidemenu.help' | translate}}">
                            <i class="icon ion-help-buoy"></i>{{ 'mm.sidemenu.help' | translate}}
                        </a>
                    </li>
                    <li class="item item-divider"></li>
                    <li>
                        <a menu-close class="item item-icon-left" ui-sref="site.mm_settings" title="{{ 'mm.sidemenu.appsettings' | translate}}">
                            <i class="icon ion-gear-b"></i>{{ 'mm.sidemenu.appsettings' | translate}}
                        </a>
                    </li>
                    <li>
                        <a class="item item-icon-left" ng-click="logout()" title="{{ 'mm.sidemenu.changesite' | translate}}">
                            <i class="icon ion-log-out"></i>{{ 'mm.sidemenu.changesite' | translate}}
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- For now we won't have pull to refresh caches.
            <ion-refresher pulling-text="Pull to invalidate caches"
                on-refresh="invalidateCaches()"
                refreshing-icon="ion-loading-c"> -->

        </ion-content>
    </ion-side-menu>
</ion-side-menus>