
$mma-mod-scorm-level-margin:		25px !default;
$mma-mod-scorm-warning-color:		#c00 !default;

@for $i from 0 through 15 {
  .mma-scorm-level-#{$i} {
    padding-left: $item-padding + 15px * $i
  }
}

.mma-mod-scorm-checkbox-padding {
  padding: 5px 10px;
}

.mma-mod-scorm-warning {
  color: $mma-mod-scorm-warning-color;
}

ion-popover-view {
  /* Adapt popover to content's height. The popover's ion-content needs to disable Ionic scroll. */
  &.mma-scorm-popover {
    height: auto;
    max-height: 80%;
    overflow: scroll;

    ion-content {
      position: relative;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    p.padding {
      margin: 0px; /* Don't add margins to p with padding inside the TOC. */
    }
  }

  /* Decrease items padding in popover. */
  .mma-scorm-popover-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Fix popover styles in iOS. */
.platform-ios ion-popover-view.mma-scorm-popover {
  padding-top: 10px;
  padding-bottom: 10px;
}
