ion-app.app-root addon-qtype-match {
    ion-col .select-disabled {
        @include margin(0, 20px, 0, 0);
    }

    .core-correct-icon {
        bottom: 50%;
        margin-bottom: -7px;
    }

    ion-col.col {
        align-self: center;
        > p {
            margin: 0;
        }
    }
}
