<ion-item class="ion-text-wrap collapsible-title">
    <core-mod-icon slot="start" [modicon]="modicon" [modname]="module.modname" [componentId]="module.instance">
    </core-mod-icon>
    <ion-label>
        <p class="core-modulename" *ngIf="moduleNameTranslated">{{moduleNameTranslated}}</p>
        <h1>
            <core-format-text [text]="module.name" contextLevel="module" [component]="component" [componentId]="componentId"
                [contextInstanceId]="module.id" [courseId]="courseId">
            </core-format-text>
        </h1>
        <ng-content select="[title]"></ng-content>
    </ion-label>
</ion-item>
<ion-item class="ion-text-wrap" *ngIf="description">
    <ion-label>
        <core-format-text [text]="description" [component]="component" [componentId]="componentId" contextLevel="module"
            [contextInstanceId]="module.id" [courseId]="courseId" [maxHeight]="expandDescription ? null : 120">
        </core-format-text>
    </ion-label>
</ion-item>
<ng-content select="[description]"></ng-content>

<ion-item class="ion-text-wrap core-module-dates" *ngIf="showCompletion && (module.dates?.length ||
(module.completiondata && module.completiondata.isautomatic && module.uservisible))">
    <ion-label>
        <!-- Activity dates. -->
        <div *ngIf="module.dates?.length" class="core-module-dates">
            <p *ngFor="let date of module.dates">
                <ion-icon name="fas-calendar" aria-hidden="true"></ion-icon><strong>{{ date.label }}</strong> {{ date.timestamp * 1000 |
                coreFormatDate:'strftimedatetime' }}
            </p>
        </div>
        <!-- Module completion. -->
        <core-course-module-completion [completion]="module.completiondata" [moduleName]="module.name" [moduleId]="module.id"
            [showCompletionConditions]="true">
        </core-course-module-completion>
    </ion-label>
</ion-item>
<ng-content></ng-content>

<!-- Activity has something offline. -->
<ion-card class="core-warning-card" *ngIf="hasDataToSync">
    <ion-item>
        <ion-icon name="fas-exclamation-triangle" slot="start" aria-hidden="true"></ion-icon>
        <ion-label>{{ 'core.hasdatatosync' | translate: {$a: moduleNameTranslated} }}</ion-label>
    </ion-item>
</ion-card>
