@import '~theme/globals.scss';

:host {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 1px; // To allow margins inside.
    background-color: var(--contrast-background);

    @include padding-horizontal(var(--ion-safe-area-left), var(--ion-safe-area-right));

    .core-modulename {
        text-transform: uppercase;
    }

    core-mod-icon {
        align-self: flex-start;
    }

    .core-module-dates {
        background: var(--light);
        border-radius: var(--small-radius);
        padding: 8px;

        ion-icon {
            @include margin-horizontal(null, 8px);
        }
    }

}
