:host {
    .core-swipe-slides-container ion-grid {
        flex: none;
        width: 100%;
    }

    .addon-calendar-period {
        flex-grow: 3;
        h2 {
            margin-top: 10px;
            font-size: 1.2rem;
        }
    }
}
