:host {
    .addon-calendar-period {
        flex-grow: 3;
        h3 {
            margin-top: 10px;
            font-size: 1.2rem;
        }
    }

    core-swipe-slides {
        --swipe-slides-min-height: calc(100% - 52px);
    }
}
