.mm-site_mod_feedback {
  .mm-analysis {
    ul {
      font-size: $font-size-base;
    }
    .item .chart {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.mm-site_mod_feedback-form {
  .item-select select {
      position: relative;
      padding: $item-padding / 2;
      max-width: 100%;
      width: 100%;
      direction: ltr;
  }
  input, textarea {
    background: transparent;
  }
}
