<core-split-view>
    <ion-content>
        <ion-list>
            <a ion-item (click)="openList('site')" [title]="'addon.notes.sitenotes' | translate" [class.core-split-item-selected]="type == 'site'">
                {{ 'addon.notes.sitenotes' | translate }}
            </a>
            <a ion-item (click)="openList('course')" [title]="'addon.notes.coursenotes' | translate" [class.core-split-item-selected]="type == 'course'">
                {{ 'addon.notes.coursenotes' | translate }}
            </a>
            <a ion-item (click)="openList('personal')" [title]="'addon.notes.personalnotes' | translate" [class.core-split-item-selected]="type == 'personal'">
                {{ 'addon.notes.personalnotes' | translate }}
            </a>
        </ion-list>
    </ion-content>
</core-split-view>
