
$mma-qbehaviour-deferredcbm-judgementok-color:  #080 !default;
$mma-qbehaviour-deferredcbm-slightly-color:     #600 !default;
$mma-qbehaviour-deferredcbm-confident-color:    #c00 !default;

.qbehaviour_deferredcbm_actual_percentage {
  font-weight: bold;
}
.qbehaviour_deferredcbm_judgementok {
  font-weight: bold;
  color: $mma-qbehaviour-deferredcbm-judgementok-color;
}
.qbehaviour_deferredcbm_slightlyunderconfident, .qbehaviour_deferredcbm_slightlyoverconfident {
  font-weight: bold;
  color: $mma-qbehaviour-deferredcbm-slightly-color;
}
.qbehaviour_deferredcbm_underconfident, .qbehaviour_deferredcbm_overconfident {
  font-weight: bold;
  color: $mma-qbehaviour-deferredcbm-confident-color;
}

.mma-qbehaviour-deferredcbm-certainty-title, .item.mma-qbehaviour-deferredcbm-certainty-title, .item.mma-qbehaviour-deferredcbm-certainty-title p {
	font-weight: bold;
	font-size: 16px;
}
