@media only screen and (min-width: $grid-responsive-sm-break) {
  .mm-course-grid {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: wrap;

    mm-course-list-progress {
      padding: 0 ($padding-base-horizontal / 2);
      margin: 0;
      max-width: 50%;
      width: 50%;
      display: flex;

      .card {
        width: 100%;
        align-items: stretch;
      }
    }

    &:after {
      content: '';
      width: 100%;
    }
  }
}

.mm-timelinesort {
  float: right;
}

.mm-timelinetitle {
  float: left;
  padding: 5px;
}

.mm-site_myoverview {
  mm-course-list-progress .card {
    margin-top: 0;

    h5 {
      margin-left: 10px;
    }
    .list.block .item {
      border-top: $item-border-width solid $item-light-border;
      border-bottom: $item-border-width solid $item-light-border;
    }
    .list.block:last-child .item {
      border-bottom: 0;
    }
  }
}