.addon-block-recent-activity core-block-pre-rendered {
    .core-block-content {
        .activitydate, .activityhead {
            text-align: center;
        }

        .unlist {
            list-style: none;
            @include margin-horizontal(0);
            -webkit-padding-start: 0;
            li {
                margin-bottom: 1em;

                .head .date {
                    @include float(end);
                }
            }
        }
    }
}