ion-app.app-root .item.core-course-module-handler.addon-mod-label-handler {
    align-items: center;
    cursor: auto;

    &:hover {
        opacity: 1;
    }
}

.md .item.core-course-module-handler.addon-mod-label-handler .item-inner {
    padding-bottom: $item-md-padding-bottom;
}

.ios .item.core-course-module-handler.addon-mod-label-handler .item-inner {
    padding-bottom: $item-ios-padding-bottom;
}
