
.collapsible-item {
    --display-toggle: none;
    --height: none;

    &.collapsible-loading-height {
        display: block !important;
        height: auto !important;
        --height: auto !important;
        --display-toggle: none !important;
    }

    .collapsible-toggle {
        display: var(--display-toggle);
    }

    @include media-breakpoint-down(sm) {
        &.collapsible-enabled:not(.collapsible-loading-height) {
            position: relative;
            padding-bottom: var(--collapsible-min-button-height); // So the Show less button can fit.
            --display-toggle: block;
            @include core-transition(height max-height, 300ms);
            height: calc(var(--height, auto) + var(--collapsible-min-button-height));

            .collapsible-toggle {
                position: absolute;
                @include position (null, 0, 0, null);
                text-align: center;
                z-index: 7;
                text-transform: none;
                font-size: 14px;
                font-weight: normal;
                background-color: var(--collapsible-toggle-background);
                color: var(--collapsible-toggle-text);
                min-height: var(--a11y-min-target-size);
                min-width: var(--a11y-min-target-size);
                --border-radius: var(--huge-radius);
                border-radius: var(--border-radius);
                --padding-start: 0px;
                --padding-end: 0px;
                margin: 0px;

                .collapsible-toggle-arrow {
                    width: var(--a11y-min-target-size);
                    height: var(--a11y-min-target-size);

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 14px 14px;
                    transform: rotate(-90deg);

                    @include core-transition(transform, 500ms);

                    @include push-arrow-color(626262, true);

                    @include darkmode() {
                        @include push-arrow-color(ffffff, true);
                    }
                }
            }

            &.collapsible-collapsed {
                overflow: hidden;
                min-height: calc(var(--collapsible-min-button-height) + 12px);
                height: var(--height, auto);

                .collapsible-toggle-arrow {
                    transform: rotate(90deg);
                }

                &:before {
                    content: '';
                    height: 60px;
                    position: absolute;
                    @include position(null, 0, 0, 0);
                    background: -webkit-linear-gradient(top, rgba(var(--background-gradient-rgb), 0) calc(100% - 56px), rgba(var(--background-gradient-rgb), 1) calc(100% - 5px));
                    background: linear-gradient(to bottom, rgba(var(--background-gradient-rgb), 0) calc(100% - 56px), rgba(var(--background-gradient-rgb), 1) calc(100% - 5px));
                    z-index: 6;
                }
            }
        }
    }
}
