/** Format Text - Show more styles. */
/** Styles of elements inside the directive should be placed in format-text.scss */
@import "~theme/globals";

core-format-text {
    --core-format-text-background: var(--background, #{$ion-item-background});
    --core-format-text-background-gradient-rgb: var(--background-rgb, #{color-to-rgb-list($ion-item-background)});
    --core-format-text-viewer-icon-background: rgba(255, 255, 255, .5);
    --core-format-text-loader-shine: 251,251,251;
}

body.dark core-format-text {
    --core-format-text-background: var(--background, #{$ion-item-background-dark});
    --core-format-text-background-gradient-rgb: var(--background-rgb, #{color-to-rgb-list($ion-item-background-dark)});
    --core-format-text-viewer-icon-background: rgba(0, 0, 0, .5);
    --core-format-text-loader-shine: 90,90,90;
}

core-format-text {
    display: contents;

    .core-format-text-loader {
        opacity: 0;
        @include core-transition(opacity, 200ms);
        display: contents;
    }

    &.core-format-text-loading {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: rgba(0,0,0,.1);
        overflow: hidden;
        border-radius: 5px;
        display: block;

        .core-format-text-loader {
            position: absolute;
            left: -45%;
            height: 100%;
            width: 45%;
            background-image: -webkit-linear-gradient(to left, rgba(var(--core-format-text-loader-shine), .05), rgba(var(--core-format-text-loader-shine), .3), rgba(var(--core-format-text-loader-shine), .6), rgba(var(--core-format-text-loader-shine), .3), rgba(var(--core-format-text-loader-shine), .05));
            background-image: linear-gradient(to left, rgba(var(--core-format-text-loader-shine), .05), rgba(var(--core-format-text-loader-shine), .3), rgba(var(--core-format-text-loader-shine), .6), rgba(var(--core-format-text-loader-shine), .3), rgba(var(--core-format-text-loader-shine), .05));
            animation: loading 1s infinite;
            opacity: 1;
            display: inline;
        }

        .core-format-text-content {
            opacity: 0;
            display: inline;
        }

        .core-show-more {
            display: none !important;
        }
    }

    .core-format-text-content {
        opacity: 1;
        @include core-transition(opacity, 200ms);

        display: contents;
        user-select: text;
        word-break: break-word;
        word-wrap: break-word;
    }

    &[maxHeight],
    &[ng-reflect-max-height] {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;

        /* Force display inline */
        &.inline {
            display: inline-block;
            width: auto;
        }

        // This is to allow clicks in radio/checkbox content.
        &.core-text-formatted {
            cursor: pointer;
            pointer-events: auto;

            .core-show-more {
                display: none;
            }

            &:not(.core-shortened) {
                max-height: none !important;
            }

            &.core-shortened {
                overflow: hidden;
                min-height: 50px;

                .core-show-more {
                    text-transform: none;
                    text-align: end;
                    font-size: 14px;
                    display: block;
                    position: absolute;
                    @include position(null, 0, 0, null);
                    z-index: 7;
                    background-color: var(--core-format-text-background);
                    color: var(--text-color);
                    @include padding(null, null, null, 10px);
                    margin: 0;
                }

                &:before {
                    content: '';
                    height: 100%;
                    position: absolute;
                    @include position(null, 0, 0, 0);
                    background: -webkit-linear-gradient(top, rgba(var(--core-format-text-background-gradient-rgb), 0) calc(100% - 50px), rgba(var(--core-format-text-background-gradient-rgb), 1) calc(100% - 15px));
                    background: linear-gradient(to bottom, rgba(var(--core-format-text-background-gradient-rgb), 0) calc(100% - 50px), rgba(var(--core-format-text-background-gradient-rgb), 1) calc(100% - 15px));
                    z-index: 6;
                }
            }
        }

        &.core-expand-in-fullview {
            cursor: pointer;

            .core-show-more {
                @include push-arrow-color(626262, true);
                @include padding-horizontal(null, 5px);
                @include background-position(end, 5px, center);

                background-repeat: no-repeat;
                background-size: 14px 14px;

                @include darkmode() {
                    @include push-arrow-color(ffffff, true);
                }
            }
        }
    }

    @if ($core-format-text-never-shorten) {
        &[maxHeight],
        &[ng-reflect-max-height] {
            &.core-text-formatted.core-shortened {
                max-height: none !important;

                .core-show-more {
                    display: none !important;
                }

                &:before {
                    display: none !important;
                }
            }
        }
    }

    .core-adapted-img-container {
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

    .core-image-viewer-icon {
        position: absolute;
        @include position(null, 10px, 10px, null);
        color: var(--ion-text-color);
        border-radius: 5px;
        background-color: var(--core-format-text-viewer-icon-background);
        display: flex;

        width: var(--a11y-min-target-size);
        height: var(--a11y-min-target-size);
        max-width: var(--a11y-min-target-size);
        font-size: 24px;

        ion-icon {
            flex: 1;
            align-self: center;
        }

        &:hover {
            opacity: .7;
        }
    }
}


@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}
