
// Hide close button because when present is read on voice over.
ion-fab[core-fab] {
    ion-fab-button::part(close-icon) {
        display: none;
    }
}

ion-content.has-collapsible-footer ion-fab {
    bottom: calc(var(--core-collapsible-footer-height, 0px) + 10px);
    @include core-transition(all, 200ms);
}

ion-fab-button {
    --box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
