ion-tab-bar.mainmenu-tabs {
    --background: var(--core-bottom-tabs-background);
    --color: var(--core-bottom-tabs-color);
    --color-selected: var(--core-bottom-tabs-color-selected);
    --background-selected: var(--core-bottom-tabs-background-selected);
}
