ion-alert {
    &.md .alert-button {
        // Remove padding from alert buttons, they already have min accessibility height.
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &.core-alert-force-on-top {
        z-index: 100000 !important;
    }

}
