@import "../globals";

ion-tab-button.ion-focused::part(native) {
    @include core-focus-inset-outline-internal();
}

ion-tab-bar > ion-button.ion-focused {
    @include core-focus-inset-outline-internal();
}
