ion-popover {
    &::part(content) {
        border-radius: var(--modal-radius);
    }
    &.md {
        margin-top: 2px;
        margin-bottom: 2px;

        // Never show backdrop on popovers on Android
        // @todo Apply box shadow on ios and make it transparent too. The main problem is the box arrow.
        &::part(backdrop) {
            background: transparent;
        }
    }

    &.ios {
        --min-width: 250px;
    }

    &.core-combobox-select {
        --width: auto;
        --max-width: 80%;

        ion-radio::part(label) {
            white-space: normal;
        }
    }


    ion-item {
        [slot=start] {
            @include margin-horizontal(null, var(--mdl-spacing-4));
        }
    }

    &::part(backdrop) {
       touch-action: pinch-zoom;
    }
}
