@import "ion-accordion.scss";
@import "ion-action-sheet.scss";
@import "ion-alert.scss";
@import "ion-avatar.scss";
@import "ion-back-button.scss";
@import "ion-badge.scss";
@import "ion-button.scss";
@import "ion-card.scss";
@import "ion-checkbox.scss";
@import "ion-chip.scss";
@import "ion-content.scss";
@import "ion-datetime.scss";
@import "ion-fab.scss";
@import "ion-header.scss";
@import "ion-icon.scss";
@import "ion-input.scss";
@import "ion-item.scss";
@import "ion-item-divider.scss";
@import "ion-label.scss";
@import "ion-loading.scss";
@import "ion-modal.scss";
@import "ion-note.scss";
@import "ion-popover.scss";
@import "ion-radio.scss";
@import "ion-searchbar.scss";
@import "ion-select.scss";
@import "ion-spinner.scss";
@import "ion-toast.scss";
@import "swiper.scss";


.ion-no-margin-horizontal {
    --margin-start: 0;
    --margin-end: 0;

    @include margin-horizontal(0);
}
