@import "ion-accordion";
@import "ion-action-sheet";
@import "ion-alert";
@import "ion-avatar";
@import "ion-back-button";
@import "ion-backdrop";
@import "ion-badge";
@import "ion-button";
@import "ion-card";
@import "ion-checkbox";
@import "ion-chip";
@import "ion-content";
@import "ion-datetime";
@import "ion-fab";
@import "ion-footer";
@import "ion-header";
@import "ion-icon";
@import "ion-input";
@import "ion-item";
@import "ion-item-divider";
@import "ion-label";
@import "ion-loading";
@import "ion-modal";
@import "ion-note";
@import "ion-popover";
@import "ion-radio";
@import "ion-searchbar";
@import "ion-select";
@import "ion-skeleton";
@import "ion-spinner";
@import "ion-tabs";
@import "ion-toast";
@import "swiper";


.ion-no-margin-horizontal {
    --margin-start: 0;
    --margin-end: 0;

    @include margin-horizontal(0);
}
