.core-course-module-handler.addon-mod_forum-handler {
    .activity-extrabadges.activity-extra {
        background: var(--ion-color-dark);
        color: var(--ion-color-dark-contrast);
        margin: 0px 4px;
        font: var(--mdl-typography-body-font-sm);
        display: inline-flex;
        align-items: center;
        padding: 2px 8px;
        border-radius: var(--mdl-shape-borderRadius-lg);
        border: 0px;
        font-weight: 800;
    }
}
