@use "theme/globals" as *;

ion-item ion-icon {
    display: inline-block;
    border-radius: var(--radius-xs);
    padding: 4px;
    background-color: var(--gray-100);
    color: var(--gray-900);
    line-height: var(--size);
    --margin-end: 8px;
    @include margin-horizontal(null, var(--margin-end));
}

core-spacer {
    --spacer-horizontal: 10px;
}
