ion-app.app-root .addon-message-discussion {
    h2 {
        margin-top: 6px;
        core-format-text {
            font-weight: bold;
        }
    }

    .note {
        position: absolute;
        @include position(0, 0, null, null);
        margin:  4px 8px;
        font-size: 1.3rem;
    }
}