:host .core-block-content ::ng-deep {
    ul.badges {
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        -webkit-padding-start: 0;

        li {
            position: relative;
            display: inline-block;
            padding-top: 1em;
            text-align: center;
            vertical-align: top;
            width: 150px;

            .badge-name {
                display: block;
                padding: 5px;
            }
        }
    }
}
