ion-app.app-root core-download-refresh {
    font-size: 1.4rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 1;
    justify-content: space-around;
    align-content: center;
    min-height: 44px;

    button, ion-icon {
        cursor: pointer;
        pointer-events: auto;
        text-align: center;
    }

    ion-icon, .core-icon-downloaded {
        font-size: 1.8em;
    }
}
