.item.mma-mod-lesson-selected {
  @extend .mm-menu-selected;
}

.mma-mod-lesson-slideshow {
  max-width: 100%;
  max-height: 100%;
}

.mma-mod-lesson-ongoingscore,
.item.mma-mod-lesson-ongoingscore,
.mma-mod-lesson-ongoingscore span,
.item.mma-mod-lesson-ongoingscore span {
  // Same styles as .item p.
  color: $gray-darker;
  font-size: 14px;
}

.mma-mod_lesson-lessonstats, .mma-mod_lesson-userstats {
  .item.row .col-33,
  .item.row .col-50 {
    border-color: $item-default-border;
    border-style: solid;
    &:not(:first-child) {
      border-left-width: $item-border-width;
    }
  }
}

.mm-site_mod_lesson-userretake {
  .mma-mod_lesson-answer {
    .item {
      border-top: 1px solid $item-default-border;
      border-radius: 0;
    }
  }

  .highlight {
    background-color: $blue-light;
    p {
      color: $blue-dark;
    }
  }
}
