<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-ios-browsers-outline" ng-href="{{moduleurl}}" mm-browser ></a>
    </ion-nav-buttons>

    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="chatLoaded" on-refresh="refreshChat()"></ion-refresher>
        <mm-loading hide-until="chatLoaded">
            <mm-course-mod-description watch="true" description="description"></mm-course-mod-description>

            <div class="card padding" ng-if="chatScheduled != ''">
                <p>{{ 'mma.mod_chat.sessionstart' | translate:{$a: chatScheduled} }}</p>
            </div>

            <a class="button button-block" ui-sref="site.mod_chat-chat({chatid: chatId, title: title, courseid: courseid})">{{ 'mma.mod_chat.enterchat' | translate }}</a>
        </mm-loading>
    </ion-content>
</ion-view>