.addon-data-contents {
  overflow: visible;
  white-space: normal;
  word-break: break-word;
  padding: $content-padding;
  background-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: $list-border-color;

  table, tbody {
    display: block;
  }

  tr {
    @extend .row;
    padding: 0;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  td, th {
    @extend .col;
    min-height: auto;
  }
}

page-addon-mod-data-search,
page-addon-mod-data-edit {
    table {
        width: 100%;
    }
    td {
        vertical-align: top;
    }

    .addon-data-lantlong {
      display: flex;
    }

    .addon-data-contents form,
    form .addon-data-advanced-search {
        background-color: $list-background-color;

        .item.item-input .item-block .item-inner ion-input,
        .item.item-input.item-input-has-focus .item-inner ion-input,
        .item.item-input.input-has-focus .item-inner ion-input {
          border: 0 !important;
          box-shadow: none;
        }

        .core-mark-required {
          @include float(end);

          + ion-input,
          + ion-select {
            @include padding(null, 20px, null, null);
          }
        }

        @if ($text-input-md-show-focus-highlight) {
            .input-md input:focus {
                @include md-input-highlight($text-input-md-highlight-color);
            }
        }

        .input-md input {
            @include padding-horizontal(null, ($item-md-padding-end / 2));
            border-bottom: 1px solid $list-md-border-color;
            &:focus {
                @include md-input-highlight($text-input-md-highlight-color);
            }
        }

        .input-ios input {
            @include padding-horizontal(null, $item-ios-padding-end / 2);
            @include safe-area-padding-horizontal(null, $item-ios-padding-end / 2);
            border-bottom: $hairlines-width solid $list-ios-border-color;
            &:focus {
                @include ios-input-highlight($text-input-ios-highlight-color);
            }
        }

        .input-wp input {
            @include padding-horizontal(null, ($item-wp-padding-end / 2));
            border-bottom: 1px solid $list-wp-border-color;
            &:focus {
                border-color: $text-input-wp-highlight-color;
            }
        }

        ion-select {
            width: 100%;
            @include position(null, null, null, 0);
            max-width: none;
        }

        .core-item-has-rich-text-editor {
            @include margin(null, 1px, null, null);
        }
    }
}