@import '~theme/globals.scss';
core-progress-bar {
    --bar-margin: 8px 0 4px 0;
    --line-height: 20px;
    --background: var(--contrast-background);
}

@if ($core-hide-progress-on-section-selector) {
    core-progress-bar {
        display: none;
    }
}

ion-icon.completioninfo {
    font-size: 10px;
    width: 18px;
}

ion-item.module::part(native) {
    --padding-start: 0;
}

ion-item.module ion-icon {
    margin: 0;
    @include padding(12px, 16px, 12px, 16px);
}

ion-item.core-course-index-all::part(native) {
    --padding-start: 16px;
}

ion-item.item.item-current {
    --background: var(--primary-tint);
    border: 0;
}

ion-icon.restricted {
    font-size: 14px;
}

ion-item.item.divider.section {
    --padding-start: 0px;

    &.item-current {
        ion-badge {
            border: 1px solid var(--primary-contrast);
        }

        ion-icon.expandable-status-icon {
            color: var(--primary-contrast);

            &:hover {
                background: var(--primary-shade);
            }
        }
    }

    ion-icon.expandable-status-icon {
        padding: 13px;
        margin: 3px;
        border-radius: 50%;
        &:hover {
            background: var(--gray-300);
        }
    }
}
