:host {
    display: contents;
    &.has-errors {
        display: block;
        width: 100%;
    }

    .core-input-error {
        padding: 4px;
        color: var(--danger);
        font: var(--mdl-typography-body-font-sm);
        display: none;

        &:first-child {
            display: block;
        }
    }
}
