<core-loading [hideUntil]="loaded">
    <div class="list-item-limited-width">
        @if (assign) {
            @if (timeLimitFinished && (canEdit || canSubmit)) {
                <!-- Time limit is over. -->
                <ion-card class="core-danger-card">
                    <ion-item class="ion-text-wrap">
                        <ion-icon name="fas-triangle-exclamation" slot="start" aria-hidden="true" />
                        <ion-label>
                            <p>{{ 'addon.mod_assign.caneditsubmission' | translate }}</p>
                        </ion-label>
                    </ion-item>
                </ion-card>
            }

            @if (!blindMarking && user) {
                <!-- User and status of the submission. -->
                <ion-item class="ion-text-wrap" core-user-link [userId]="submitId" [courseId]="courseId" [attr.aria-label]="user.fullname">
                    <core-user-avatar [user]="user" slot="start" [linkProfile]="false" />
                    <ion-label>
                        <p class="item-heading">{{ user.fullname }}</p>
                    </ion-label>
                </ion-item>
            } @else if (blindMarking && !user) {
                <!-- Status of the submission if user is blinded. -->
                <ion-item class="ion-text-wrap">
                    <ion-label>
                        <p class="item-heading">{{ 'addon.mod_assign.hiddenuser' | translate }} {{blindId}}</p>
                    </ion-label>
                </ion-item>
            }

            <ion-card>
                <ion-item class="divider">
                    <ion-label>
                        <h2 class="big">
                            @if (currentAttemptNumber) {
                                {{ 'addon.mod_assign.attempt' | translate : { '$a' : currentAttemptNumber } }}
                            } @else {
                                {{'addon.mod_assign.submission' | translate}}
                            }
                        </h2>
                    </ion-label>
                </ion-item>

                @if (assign && assign.teamsubmission && lastAttempt) {
                    <ion-item>
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.submissionteam' | translate }}</p>
                            @if (lastAttempt.submissiongroup) {
                                @if (lastAttempt.submissiongroupname) {
                                    <p class="core-groupname">
                                        <core-format-text [text]="lastAttempt.submissiongroupname" contextLevel="course"
                                            [contextInstanceId]="courseId" [wsNotFiltered]="true" />
                                    </p>
                                }
                            } @else if (assign.preventsubmissionnotingroup) {
                                @if (lastAttempt.usergroups && lastAttempt.usergroups.length > 1) {
                                    <p class="text-danger"><strong>{{ 'addon.mod_assign.multipleteams' | translate }}</strong></p>
                                    <p class="text-danger">{{ 'addon.mod_assign.multipleteams_desc' | translate }}</p>
                                } @else {
                                    <p class="text-danger"><strong>{{ 'addon.mod_assign.noteam' | translate }}</strong></p>
                                    <p class="text-danger">{{ 'addon.mod_assign.noteam_desc' | translate }}</p>
                                }
                            } @else {
                                <p>{{ 'addon.mod_assign.defaultteam' | translate }}</p>
                            }
                        </ion-label>
                    </ion-item>
                }

                @if (statusTranslationId) {
                    <ion-item>
                        <ion-label>
                            <p class="item-heading">{{'addon.mod_assign.submissionstatus' | translate}}</p>
                            <p><ion-badge [color]="statusColor" class="ion-text-wrap ion-text-start">
                                    {{ statusTranslationId | translate }}
                                </ion-badge></p>
                        </ion-label>
                    </ion-item>
                }

                @if (gradingStatusTranslationId) {
                    <ion-item>
                        <ion-label>
                            <p class="item-heading">{{'addon.mod_assign.gradingstatus' | translate}}</p>
                            <p>
                                @if (gradingStatusTranslationId) {
                                    <ion-badge class="ion-text-wrap ion-text-start" [color]="gradingColor">
                                        {{ gradingStatusTranslationId | translate }}
                                    </ion-badge>
                                }
                            </p>
                        </ion-label>
                    </ion-item>
                }

                @if (lastAttempt?.locked) {
                    <!-- Submission is locked. -->
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.submissionslocked' | translate }}</p>
                        </ion-label>
                    </ion-item>
                }

                @if (showDates && !isSubmittedForGrading) {
                    <!-- Dates. -->
                    @if (fromDate) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p>
                                    @if (assign.intro) {
                                        {{'addon.mod_assign.allowsubmissionsfromdatesummary' | translate: {'$a': fromDate} }}
                                    } @else {
                                        {{ 'addon.mod_assign.allowsubmissionsanddescriptionfromdatesummary' | translate: {'$a': fromDate} }}
                                    }
                                </p>
                            </ion-label>
                        </ion-item>
                    }

                    @if (assign.duedate) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.duedate' | translate }}</p>
                                <p>{{ assign.duedate * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }
                }

                @if (assign.duedate) {
                    @if (assign.cutoffdate && isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.cutoffdate' | translate }}</p>
                                <p>{{ assign.cutoffdate * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    @if (lastAttempt?.extensionduedate && !isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.extensionduedate' | translate }}</p>
                                <p>{{ lastAttempt!.extensionduedate * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }
                }

                @if (timeRemaining || timeLimitEndTime > 0) {
                    <!-- Time remaining. -->
                    <ion-item class="ion-text-wrap" [ngClass]="[timeRemainingClass]">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.timeremaining' | translate }}</p>
                            @if (timeLimitEndTime > 0) {
                                <core-timer [endTime]="timeLimitEndTime" mode="basic" timeUpText="00:00:00" [timeLeftClassThreshold]="-1"
                                    [underTimeClassThresholds]="[300, 900]" (finished)="timeUp()" />
                            } @else {
                                <p>{{timeRemaining}}</p>
                            }
                        </ion-label>
                    </ion-item>
                }

                @if (assign.timelimit) {
                    <!-- Time limit. -->
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.timelimit' | translate }}</p>
                            <p>{{ assign.timelimit | coreDuration }}</p>
                        </ion-label>
                    </ion-item>
                }

                @if (lastAttempt && isSubmittedForGrading && lastAttempt.caneditowner !== undefined) {
                    <!-- Editing status. -->
                    <ion-item class="ion-text-wrap"
                        [ngClass]="{submissioneditable: lastAttempt.caneditowner, submissionnoteditable: !lastAttempt.caneditowner}">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.editingstatus' | translate }}</p>
                            @if (lastAttempt.caneditowner) {
                                <p>{{ 'addon.mod_assign.submissioneditable' | translate }}</p>
                            } @if (!lastAttempt.caneditowner) {
                                <p>{{ 'addon.mod_assign.submissionnoteditable' | translate }}</p>
                            }
                        </ion-label>
                    </ion-item>
                }

                @if (userSubmission && userSubmission.status !== statusNew && userSubmission.timemodified) {
                    <!-- Last modified. -->
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.timemodified' | translate }}</p>
                            <p>{{ userSubmission.timemodified * 1000 | coreFormatDate }}</p>
                        </ion-label>
                    </ion-item>
                }

                <addon-mod-assign-submission-plugin *ngFor="let plugin of submissionPlugins" [assign]="assign" [submission]="userSubmission"
                    [plugin]="plugin" />

                @if (membersToSubmit && membersToSubmit.length > 0) {
                    <!-- Team members that need to submit it too. -->
                    <ion-item-divider class="ion-text-wrap">
                        <ion-label>
                            <h3>{{ 'addon.mod_assign.userswhoneedtosubmit' | translate: {$a: ''} }}</h3>
                        </ion-label>
                    </ion-item-divider>
                    @if (!blindMarking) {
                        <ng-container *ngFor="let member of membersToSubmit">
                            <ion-item class="ion-text-wrap" core-user-link [userId]="member.id" [courseId]="courseId"
                                [attr.aria-label]="member.fullname">
                                <core-user-avatar [user]="member" slot="start" [linkProfile]="false" />
                                <ion-label>
                                    <p class="item-heading">{{ member.fullname }}</p>
                                </ion-label>
                            </ion-item>
                        </ng-container>
                    } @else {
                        <ng-container *ngFor="let blindId of membersToSubmitBlind">
                            <ion-item class="ion-text-wrap">
                                <ion-label>{{ 'addon.mod_assign.hiddenuser' | translate }} {{ blindId }}</ion-label>
                            </ion-item>
                        </ng-container>
                    }
                }

                @if (!isSubmittedForGrading && canEdit && !unsupportedEditPlugins.length &&
                !showErrorStatementEdit && (editedOffline || (!removedOffline && userSubmission?.status &&
                    userSubmission?.status !== statusNew && userSubmission?.status !== statusReopened))) {
                    <!-- Edit and remove buttons. -->
                    <div class="adaptable-buttons-row">
                        <ion-button expand="block" fill="outline" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                            <ion-icon name="fas-pen" slot="start" aria-hidden="true" />
                            {{ 'addon.mod_assign.editsubmission' | translate }}
                        </ion-button>
                        <ion-button *ngIf="isRemoveAvailable" fill="outline" expand="block" class="ion-margin ion-text-wrap"
                            (click)="remove()">
                            <ion-icon name="fas-trash" color="danger" slot="start" aria-hidden="true" />
                            {{ 'addon.mod_assign.removesubmission' | translate }}
                        </ion-button>
                    </div>
                }

                @if (feedback && (feedback.gradeddate || hasOfflineGrade)) {
                    <ion-item class="divider">
                        <ion-label>
                            <h2 class="big">{{'addon.mod_assign.grade' | translate}}</h2>
                        </ion-label>
                    </ion-item>

                    <ion-item class="ion-text-wrap core-grading-summary" *ngIf="feedback.gradefordisplay">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.currentgrade' | translate }}</p>
                            <p>
                                <core-format-text [text]="feedback.gradefordisplay" [filter]="false" />
                            </p>
                        </ion-label>
                        <ion-button slot="end" *ngIf="feedback.advancedgrade" (click)="showAdvancedGrade()"
                            [ariaLabel]="'core.showadvanced' |translate">
                            <ion-icon name="fas-magnifying-glass" slot="icon-only" aria-hidden="true" />
                        </ion-button>
                    </ion-item>

                    <addon-mod-assign-feedback-plugin *ngFor="let plugin of feedback.plugins" [assign]="assign"
                        [submission]="userSubmission" [userId]="submitId" [plugin]="plugin" />

                    <!-- Workflow status. -->
                    <ion-item class="ion-text-wrap" *ngIf="workflowStatusTranslationId">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.markingworkflowstate' | translate }}</p>
                            <p>{{ workflowStatusTranslationId | translate }}</p>
                        </ion-label>
                    </ion-item>

                    <!-- Data about the grader (teacher who graded). -->
                    <ion-item class="ion-text-wrap" *ngIf="grader" core-user-link [userId]="grader.id" [courseId]="courseId"
                        [attr.aria-label]="grader.fullname" [detail]="true">
                        <core-user-avatar [user]="grader" slot="start" [linkProfile]="false" />
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.gradedby' | translate }}</p>
                            <p class="item-heading">{{ grader.fullname }}</p>
                            <p *ngIf="feedback.gradeddate">{{ feedback.gradeddate * 1000 | coreFormatDate }}</p>
                        </ion-label>
                    </ion-item>

                    <!-- Grader is hidden, display only the grade date. -->
                    <ion-item class="ion-text-wrap" *ngIf="!grader && feedback.gradeddate">
                        <ion-label>
                            <p class="item-heading">{{ 'addon.mod_assign.gradedon' | translate }}</p>
                            <p>{{ feedback.gradeddate * 1000 | coreFormatDate }}</p>
                        </ion-label>
                    </ion-item>
                }
            </ion-card>
        }
    </div>
</core-loading>

@if (assign && loaded && (!isSubmittedForGrading || isGrading)) {
    <!-- Add and submit buttons. -->
    <div collapsible-footer slot="fixed" appearOnBottom>
        <div class="list-item-limited-width" *ngIf="canEdit || canSubmit || isGrading">
            @if (isGrading) {
                @if (canSaveGrades) {
                    <ion-button expand="block" class="ion-text-wrap" (click)="openGrade()">
                        {{ 'core.gradeverb' | translate }}
                    </ion-button>
                } @else {
                    <!-- Warning message if cannot save grades. -->
                    <ion-card class="core-warning-card">
                        <ion-item>
                            <ion-icon name="fas-triangle-exclamation" slot="start" aria-hidden="true" />
                            <ion-label>
                                <p>{{ 'addon.mod_assign.cannotgradefromapp' | translate }}</p>
                                <ion-button expand="block" *ngIf="gradeUrl" [href]="gradeUrl" core-link [showBrowserWarning]="false">
                                    {{ 'core.openinbrowser' | translate }}
                                    <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                                </ion-button>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                }
            }
            @if (canEdit) {
                <div *ngIf="!unsupportedEditPlugins.length && !showErrorStatementEdit" class="adaptable-buttons-row">
                    @if (!editedOffline && (removedOffline || !userSubmission || !userSubmission!.status ||
                            userSubmission!.status === statusNew)) {
                        <!-- If no submission or is new, show add submission. -->
                        <ion-button expand="block" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                            @if (!assign.timelimit || userSubmission?.timestarted) {
                                {{ 'addon.mod_assign.addsubmission' | translate }}
                            } @else {
                                {{ 'addon.mod_assign.beginassignment' | translate }}
                            }
                        </ion-button>
                    } @else if (!editedOffline && !removedOffline && userSubmission?.status === statusReopened) {
                        <!-- If reopened, show addfromprevious and addnewattempt. -->
                        <ion-button *ngIf="!isPreviousAttemptEmpty" expand="block" class="ion-margin ion-text-wrap"
                            (click)="copyPrevious()">
                            {{ 'addon.mod_assign.addnewattemptfromprevious' | translate }}
                        </ion-button>
                        <ion-button expand="block" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                            {{ 'addon.mod_assign.addnewattempt' | translate }}
                        </ion-button>
                    }
                </div>
                <ion-item class="core-danger-item ion-text-wrap"
                    *ngIf="(unsupportedEditPlugins.length && !showErrorStatementEdit)|| showErrorStatementEdit">
                    <ion-label>
                        <ng-container *ngIf="unsupportedEditPlugins && unsupportedEditPlugins.length && !showErrorStatementEdit">
                            <p class="ion-padding-horizontal">
                                {{ 'addon.mod_assign.erroreditpluginsnotsupported' | translate }}
                            </p>
                            <ul>
                                <li *ngFor="let name of unsupportedEditPlugins">{{ name }}</li>
                            </ul>
                            <ion-button expand="block" *ngIf="submissionUrl" [href]="submissionUrl" core-link [showBrowserWarning]="false">
                                {{ 'core.openinbrowser' | translate }}
                                <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                            </ion-button>

                        </ng-container>
                        <ng-container *ngIf="showErrorStatementEdit">
                            <p>{{ 'addon.mod_assign.cannoteditduetostatementsubmission' | translate }}</p>
                        </ng-container>
                    </ion-label>
                </ion-item>
            }

            @if (canSubmit) {
                <!-- Submit for grading form. -->
                <ion-item class="ion-text-wrap" *ngIf="submissionStatement">
                    <ion-checkbox name="submissionstatement" [(ngModel)]="acceptStatement">
                        <core-format-text [text]="submissionStatement" [filter]="false" />
                    </ion-checkbox>
                </ion-item>
                <ion-item class="ion-text-wrap">
                    <ion-label>

                        @if (!showErrorStatementSubmit) {
                            <!-- Submit button. -->
                            <ion-button expand="block" class="ion-text-wrap ion-no-margin ion-margin-bottom"
                                (click)="submitForGrading(acceptStatement)">
                                {{ 'addon.mod_assign.submitassignment' | translate }}
                            </ion-button>
                            <p>
                                <ion-icon name="fas-circle-info" color="info" aria-hidden=" true" />
                                {{ 'addon.mod_assign.submitassignment_help' | translate }}
                            </p>
                        } @else {
                            <!-- Error because we lack submissions statement. -->
                            <p class="core-danger-item">
                                {{ 'addon.mod_assign.cannotsubmitduetostatementsubmission' | translate }}
                            </p>
                        }
                    </ion-label>
                </ion-item>
            }
        </div>
        @if (!isGrading) {
            <core-course-module-navigation [courseId]="courseId" [currentModuleId]="moduleId" />
        }
    </div>
}
