<span *ngIf="mode == 'edit'">
    <span [core-mark-required]="field.required" class="core-mark-required"></span>
    <core-attachments [files]="files" [maxSize]="maxSizeBytes" maxSubmissions="1" [component]="component" [componentId]="componentId" [allowOffline]="true"></core-attachments>
    <core-input-errors *ngIf="error" [errorText]="error"></core-input-errors>
</span>

<span *ngIf="mode == 'search'" [formGroup]="form">
    <ion-input type="text" [formControlName]="'f_'+field.id" [placeholder]="field.name"></ion-input>
</span>

<ng-container *ngIf="isShowOrListMode()">
    <div no-lines>
        <core-files [files]="files" [component]="component" [componentId]="componentId" [alwaysDownload]="true"></core-files>
    </div>
</ng-container>
