<span *ngIf="mode == 'edit'" [formGroup]="form">
    <span [core-mark-required]="field.required"></span>
    <core-input-errors *ngIf="error" [errorMessages]="error"></core-input-errors>
    <core-attachments [files]="files" [maxSize]="maxSizeBytes" maxSubmissions="1" [component]="component" [componentId]="componentId" [allowOffline]="true"></core-attachments>
</span>

<span *ngIf="mode == 'search'" [formGroup]="form">
    <ion-input type="text" [formControlName]="'f_'+field.id" [placeholder]="field.name"></ion-input>
</span>

<ng-container *ngIf="mode == 'show'">
    <div *ngFor="let file of files" no-lines>
        <!-- Files already attached to the submission. -->
        <core-file *ngIf="!file.name" [file]="file" [component]="component" [componentId]="componentId" [alwaysDownload]="true"></core-file>

        <!-- Files stored in offline to be sent later. -->
        <core-local-file *ngIf="file.name" [file]="file"></core-local-file>
    </div>
</ng-container>
