@import "~theme/globals";

:host {
    display: contents;

    ion-button {
        background: transparent;
        padding: 0 calc(var(--padding-start) / 2);
        position: absolute;
        @include safe-area-position(null, 0px, null, null);
        margin-top: 0;
        margin-bottom: 0;
        z-index: 3;
        bottom: 0;
    }
}

::ng-deep ion-input {
    --padding-end: 47px !important;
}

:host-context(.md.item-label.stacked) ion-button {
    bottom: 0;
}

:host-context(.iositem-label.stacked) ion-button {
    bottom: -5px;
}

:host-context(.ios) ion-button {
    bottom: 0;
}
