:host {
    display: contents;

    ion-button {
        background: transparent;
        padding: 0 calc(var(--padding-start) / 2);
        position: absolute;
        right: 0;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 3;
    }
}

::ng-deep ion-input {
    --padding-end: 47px !important;
}

:host-context([dir="rtl"]) ion-button {
    left: 0;
    right: unset;
}

:host-context(.md.item-label.stacked) ion-button {
    bottom: 0;
}

:host-context(.iositem-label.stacked) ion-button {
    bottom: -5px;
}

:host-context(.ios) ion-button {
    bottom: 0;
}
