@use "theme/globals" as *;

:host {
    display: contents;

    // Only applies to deprecated way (surrounding).
    ::ng-deep ion-input + ion-button {
        background: transparent;
        padding: 0 var(--inner-padding-end) 0 4px;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        @include safe-area-position(null, 0px, null, null);
        top: 0;
    }

    // Only applies to deprecated way (surrounding).
    ::ng-deep ion-input {
        --padding-end: 56px !important;
    }

    ::ng-deep ion-input.input-label-placement-stacked + ion-button {
        top: 14px;
    }

}

ion-button {
    z-index: 5;
    pointer-events: visible;
}
