<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" content="'mm.core.refresh' | translate" action="doRefresh()" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="ltiLoaded"></ion-refresher>
        <mm-loading hide-until="ltiLoaded">
            <mm-course-mod-description watch="true" description="description" component="{{component}}" component-id="{{componentId}}"></mm-course-mod-description>
            <a ng-if="isValidUrl" ng-click="launch()" class="button button-block icon-left ion-link">{{ 'mma.mod_lti.launchactivity' | translate }}</a>
            <p ng-if="!isValidUrl">{{ 'mma.mod_lti.errorinvalidlaunchurl' | translate }}</p>
        </mm-loading>
    </ion-content>
</ion-view>