/**
 * Core styles for the app.
 *
 * Here you will find all the styles that Moodle Mobile creates for you to use, as well
 * as all the necessary overrides for the app to look nice everywhere.
 *
 * Any style that cannot be re-used has to be placed in the its component or addon.
 *
 * There should always be a variable for anything that is styleable, but do not
 * over create variables try to re-use as manu as you can. Always remember to add !default
 * to your variable declarations to allow a themer to override in app.scss.
 */

/**
 * Variables
 */

// Bar content.
$bar-content-bg: #f70 !default;
$bar-content-border: transparent !default;
$bar-content-text: #fff !default;

// Small avatar ideal for icons.
$item-media-width: 32px !default;
$item-media-height: 32px !default;

// Messages.
$item-message-bg: $stable !default;
$item-message-note-text: #999 !default;
$item-message-note-font-size: $font-size-small !default;
$item-message-mine-bg: rgba(17, 193, 243, .1) !default;

// Completion
$completion-img-width: 24px !default;

// Disabled items.
$item-disabled-color: #999 !default;

/**
 * Styles revert.
 */

em {
  font-style: italic;
}

/**
 * Styles.
 */

// Default bar.
.bar-content {
  @include bar-style($bar-content-bg, $bar-content-border, $bar-content-text);
  .button {
    @include button-style($bar-content-bg, $bar-content-border, $bar-content-bg, $bar-content-border, $bar-content-text);
    @include button-clear(#fff, $bar-title-font-size);
  }
}

// Define an alternative way to set a heading in an item without using a heading tag.
// This is done for accessibility reasons when a heading is semantically incorrect.
.item .item-heading {
  @extend h2;
}

// More options fro grids.
.col-60 {
  @include flex(0, 0, 60%);
  max-width: 60%;
}
.col-40 {
  @include flex(0, 0, 40%);
  max-width: 40%;
}

// Media item, ideal for icons.
.item-media {
  @extend .item-avatar;
  padding-left: $item-media-width + ($item-padding * 2);
  min-height: $item-media-width + ($item-padding * 2);
  > img:first-child {
    max-width: $item-media-width;
    max-height: $item-media-height;
    border-radius: 0;
  }
  p {
    margin: 0px;
  }
  &.item-button-right {
    > .button,
    > .spinner {
      top: $item-padding;
    }
  }
}

// Message item.
.item-message {
  clear: both;
  max-width: 80%;
  border-radius: 12px;
  border-width: 0;
  padding: 4px 10px;
  margin: 4px 0;
  background-color: $item-message-bg;
  float: left;

  .item-note {
    color: $item-message-note-text;
    font-size: $item-message-note-font-size;
    margin-left: 10px;
  }
}

// Defines when an item-message is the user's.
.item-message-mine {
  background-color: $item-message-mine-bg;
  float: right;

  .spinner {
    float: right;
    margin-left: 5px;
    margin-right: -3px;
    margin-top: 2px;
    margin-bottom: -2px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

// Defines a "disabled" item.
.item.item-disabled {
  color: $item-disabled-color;
}

// Split pane.
.mm-split-pane {
  @include display-flex();
  @include align-items(stretch);
  width: 100%;
  height: 100%;
}

.mm-split-pane-menu {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.mm-split-pane-content {
  @include flex(1, 0, auto);
  position: relative;
  display: none;
}

.tablet {
  .mm-split-pane-menu {
    @include flex(0, 0, $menu-width);
    width: $menu-width;
    border-right: 1px solid #ddd;
  }
  .mm-split-pane-content {
    display: block;
  }
}

// Spinners.
.button-block {
  .spinner {
    position: absolute;
    right: $button-padding;
    padding-top: floor(($button-height + ($button-border-width * 2) + 1 - 28) / 2);
    line-height: 28px;
  }
}
.item-button-right {
  > .spinner {
    // Copied from .item-button-right > .button.
    @include display-flex();
    @include align-items(center);
    position: absolute;
    top: ceil($item-padding / 2);
    right: $item-padding;
    min-width: $item-icon-font-size + ($button-border-width * 2);
    min-height: $item-icon-font-size + ($button-border-width * 2);
    font-size: $item-button-font-size;
    line-height: $item-button-line-height;
  }
}
/**
 * Core directives.
 */
.mm-iframe {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// mm-format-text can have elements with float. These styles makes sure height is calculated right.
.mm-content-with-float {
  display: inline-block;
  width: 100%;
}

.mm-loading-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.mm-loading-content {
  height: 100%;
}

// Align ion-spinner right
.spinner-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.mm-split-item-selected, .mm-split-item-selected .item {
  border-color: #ccc;
  background-color: #D9D9D9;
}

.item.item-text-wrap.item-completion { // Add .item and .item-text-wrap to give more priority to the rule, otherwise it's overridden by Ionic styles.
  padding-right: $item-icon-font-size + ($button-border-width * 2) + $item-padding * 3 + $completion-img-width;
}

.mm-completion-container {
  // Based on .item-checkbox .checkbox and .item-checkbox.item-checkbox-right
  position: absolute;
  top: 50%;
  right: $item-padding / 2;
  margin-right: $item-icon-font-size + ($button-border-width * 2) + ($item-padding * 2);
  margin-top: ($completion-img-width / 2) * -1;

  img {
    float: right;
    width: $completion-img-width;
  }
}

.mm-media-adapt-width {
  max-width: 100%;
}
img.mm-media-adapt-width {
  height: auto;
}

.mm-adapted-img-container {
  position: relative;
}
.mm-image-viewer-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .5);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

// Remove padding-top and bottom from navigation bar to minimize height used.
mm-navigation-bar {
  .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .col {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

// Extra attributes to ionic classes to force frames via directive 100% height.

.scroll {
  height: 100%;
}

.iframe-wrapper {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  position: absolute !important; // Position fixed causes problems in Android 4.1-4.3.
}

.mm-has-navigation-bar {
  .iframe-wrapper {
    top: $button-height + 5px;
  }
}


/**
 * This CSS uses adjacent selectors instead of general sibling (~) selectors
 * for ion radio that are broken in iOS 9 UIWebView.
 *
 * To apply the patch, include this CSS after your ionic.css include.
 */
  .item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: #f7f7f7;
  }

  .item-radio input:checked + .radio-content .radio-icon {
    /* show the checkmark icon when its checked */
    visibility: visible;
  }
