:host {

    .addon-mod_quiz-table {
        .addon-mod_quiz-table-header {
            --detail-icon-opacity: 0;
        }

        ion-card-content {
            padding-left: 0;
            padding-right: 0;
        }

        .item:nth-child(even) {
            --background: var(--gray-lighter);
            // @include darkmode() {
            //     background-color: $core-dark-item-divider-bg-color;
            // }
        }

        .addon-mod_quiz-highlighted,
        .item.addon-mod_quiz-highlighted,
        .addon-mod_quiz-highlighted p,
        .item.addon-mod_quiz-highlighted p {
            --background: var(--blue-light);
            color: var(--blue-dark);
        }

    //     @include darkmode() {
    //         .addon-mod_quiz-highlighted,
    //         .item.addon-mod_quiz-highlighted,
    //         .addon-mod_quiz-highlighted p,
    //         .item.addon-mod_quiz-highlighted p {
    //             background-color: $blue-dark;
    //             color: $blue-light;
    //         }

    //         .item.addon-mod_quiz-highlighted.activated,
    //         .item.addon-mod_quiz-highlighted.activated p {
    //             background-color: $blue;
    //             color: $blue-light;
    //         }
    //     }
    }
}
