@use "theme/globals" as *;

:host {

    .addon-mod_quiz-attempts-summary {
        ion-card-header {
            border-bottom: 1px solid var(--stroke);
        }

        .addon-mod_quiz-grade-result {
            margin-top: var(--mdl-spacing-2);

            ion-label {
                @include margin-horizontal(0px, 0px);
            }

            .addon-mod_quiz-grade-overridden-notice {
                margin-top: var(--mdl-spacing-2);
                margin-bottom: 0px;
            }
        }

        .addon-mod_quiz-attempt-title-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            min-height: 60px;
            padding-top: var(--mdl-spacing-2);
            padding-bottom: var(--mdl-spacing-2);
            @include margin-horizontal(var(--mdl-spacing-2), null);

            font: var(--mdl-typography-body-font-md);

            p {
                margin: 0px;
                margin-top: var(--mdl-spacing-2);
            }
        }

        ion-accordion-group {
            h3 {
                font: var(--mdl-typography-subtitle-font-md);
            }
        }
    }

}
