ion-app.app-root page-addon-mod-h5pactivity-user-attempts {

    .item.addon-mod_h5pactivity-table-header[detail-push] .item-inner {
        background-image: none;
    }

    .item.addon-mod_h5pactivity-table-header .item-inner {
        font-size: 0.9em;
        font-weight: bold;

        .col[text-center] {
            @include padding-horizontal(0);
        }
    }

    .addon-mod_h5pactivity-table-header, .addon-mod_h5pactivity-table-row {

        .item-inner ion-label {
            @include margin(null, 0, null, null);
        }

        .item {
            @include padding(null, null, null, 0);
        }

        .label {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .addon-mod_h5pactivity-table-row {
        .addon-mod_h5pactivity-table-success-col {
            font-size: 1.4em;
        }
    }
}
