<ion-view view-title="{{ 'mma.notifications.notifications' | translate }}">
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="notificationsLoaded" on-refresh="refreshNotifications()">
        </ion-refresher>
        <mm-loading hide-until="notificationsLoaded">
            <article class="card" ng-repeat="notification in notifications track by $index">
                <div class="item item-avatar item-text-wrap">
                    <img ng-if="notification.profileimageurlfrom" ng-src="{{notification.profileimageurlfrom}}" mm-external-content ui-sref="{{userStateName}}({courseid: notification.courseid, userid: notification.useridfrom})" alt="{{ 'mm.core.pictureof' | translate:{$a: notification.userfromfullname} }}" role="presentation">
                    <img ng-if="!notification.profileimageurlfrom" src="img/user-avatar.png" alt="{{ 'mm.core.pictureof' | translate:{$a: notification.userfromfullname} }}" role="presentation">
                    <h2>{{notification.userfromfullname}}</h2>
                    <p>{{notification.timecreated | mmDateDayOrTime}}</p>
                </div>
                <div class="item item-body">
                    <p><mm-format-text class="mm-content-with-float" watch="true">{{ notification.mobiletext | mmCreateLinks | mmaNotificationsFormat }}</mm-format-text></p>
                </div>
                <mma-notifications-actions contexturl="notification.contexturl" courseid="notification.courseid"></mma-notifications-actions>
            </article>

            <ion-infinite-scroll ng-if="canLoadMore"
                    immediate-check="false"
                    on-infinite="loadMoreNotifications()" >
            </ion-infinite-scroll>

            <div class="padding" ng-if="!notifications || notifications.length <= 0">
                <p>{{ 'mma.notifications.therearentnotificationsyet' | translate}}</p>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>