ion-app.app-root page-addon-mod-quiz-player {
    .toolbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .core-has-fixed-timer form {
        padding-top: 56px;
    }

    .toolbar-ios .bar-buttons-ios .bar-button {
        @include padding-horizontal($content-padding);
    }

    .core-question-container {
        display: block;
        padding-bottom: $content-padding;
    }
}