<ion-view view-title="{{ 'mma.myoverview.pluginname' | translate }}">
    <ion-nav-buttons side="secondary">
        <a ui-sref="site.mm_searchcourses" ng-if="searchEnabled" class="button button-icon ion-ios-search-strong"></a>
    </ion-nav-buttons>
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="timeline.loaded || timelineCourses.loaded || courses.loaded" on-refresh="refreshMyOverview()">
        </ion-refresher>
        <div class="tabs tabs-striped tabs-free mm-tabs-color">
            <a class="tab-item" ng-class="{'active': tabShown == 'timeline'}" ng-click="switchTab('timeline')">{{ 'mma.myoverview.timeline' | translate }}</a>
            <a class="tab-item" ng-class="{'active': tabShown == 'courses'}" ng-click="switchTab('courses')">{{ 'mm.courses.courses' | translate }}</a>
        </div>
        <div class="padding">
            <div class="item-select mm-full-width-centered mm-timelinesort" ng-show="tabShown == 'timeline' && (timeline.loaded || timelineCourses.loaded)">
                <select ng-model="timeline.sort" ng-change="switchSort()">
                    <option value="sortbydates">{{ 'mma.myoverview.sortbydates' | translate }}</option>
                    <option value="sortbycourses">{{ 'mma.myoverview.sortbycourses' | translate }}</option>
                </select>
            </div>
            <mm-loading hide-until="timeline.loaded" ng-show="tabShown == 'timeline' && timeline.sort == 'sortbydates'" class="mm-loading-center">
                <mma-my-overview-event-list events="timeline.events" show-course="true" can-load-more="timeline.canLoadMore" load-more="loadMoreTimeline()"></mma-my-overview-event-list>
            </mm-loading>
            <mm-loading hide-until="timelineCourses.loaded" ng-show="tabShown == 'timeline' && timeline.sort == 'sortbycourses'" class="block mm-loading-center">
                <div class="block mm-course-grid">
                    <mm-course-list-progress ng-repeat="course in timelineCourses.courses" course="course" round-progress="true" show-summary="true">
                        <mma-my-overview-event-list events="course.events" can-load-more="course.canLoadMore" load-more="loadMoreCourse(course)"></mma-my-overview-event-list>
                    </mm-course-list-progress>
                </div>
                <mm-empty-box ng-if="timelineCourses.courses.length == 0" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocourses' | translate }}"></mm-empty-box>
            </mm-loading>
            <mm-loading hide-until="courses.loaded" ng-show="tabShown == 'courses'" class="mm-loading-center">
                <div class="row row-no-padding padding-bottom" ng-show="!showFilter">
                    <div class="col">
                        <div class="item-select mm-full-width-centered">
                            <select ng-model="courses.selected">
                                <option value="inprogress">{{ 'mma.myoverview.inprogress' | translate }}</option>
                                <option value="future">{{ 'mma.myoverview.future' | translate }}</option>
                                <option value="past">{{ 'mma.myoverview.past' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-10 text-right" ng-show="courses[courses.selected] && courses[courses.selected].length">
                        <mm-context-menu>
                            <mm-context-menu-item ng-show="courses[courses.selected] && courses[courses.selected].length > 1" priority="800" content="'mm.courses.downloadcourses' | translate" action="downloadCourses()" icon-action="prefetchCoursesData[courses.selected].icon" close-on-click="false" badge="prefetchCoursesData[courses.selected].badge"></mm-context-menu-item>
                            <mm-context-menu-item ng-show="courses[courses.selected] && courses[courses.selected].length > 5" priority="700" content="'mm.courses.filtermycourses' | translate" action="switchFilter()" icon-action="'ion-funnel'"></mm-context-menu-item>
                            <mm-context-menu-item ng-show="!showGrid" priority="601" content="'mm.core.layoutgrid' | translate" action="switchGrid()" icon-action="'ion-android-apps'"></mm-context-menu-item>
                            <mm-context-menu-item ng-show="showGrid" priority="600" content="'mm.core.list' | translate" action="switchGrid()" icon-action="'ion-ios-list-outline'"></mm-context-menu-item>
                        </mm-context-menu>
                    </div>
                </div>
                <div ng-show="showFilter" class="item mm-filter-box item-input-inset">
                    <button type="submit" class="button button-dark button-clear button-icon icon ion-close-circled" ng-click="switchFilter()"></button>
                    <ion-input class="item-input-wrapper">
                        <input type="text" placeholder="{{ 'mm.courses.filtermycourses' | translate}}" ng-model="courses.filter">
                        <i class="icon ion-funnel placeholder-icon"></i>
                    </ion-input>

                </div>

                <div ng-class="{'mm-course-grid': showGrid}">
                    <mm-course-list-progress ng-repeat="course in courses[courses.selected] | filter:{fullname: courses.filter}" course="course" round-progress="showGrid" show-summary="showGrid"></mm-course-list-progress>
                </div>

                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'inprogress'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursesinprogress' | translate }}"></mm-empty-box>
                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'future'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursesfuture' | translate }}"></mm-empty-box>
                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'past'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursespast' | translate }}"></mm-empty-box>
            </mm-loading>
        </div>
    </ion-content>
</ion-view>