:host {
    ion-card ion-note {
        font-size: 1.6rem;
    }
    h1 ion-icon, h1 img, h1 core-mod-icon {
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
    }
}
