
.mm-mm_login_sites {
  .item-thumbnail-left .item-content {
    padding-top: $item-padding;
    padding-right: $item-padding;
  }

  .list-left-editing .item-thumbnail-left .item-content {
    padding-right: (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5);
  }

  .avatar {
    margin: 0;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius : 50%;
    padding: 4px;
    border: 1px solid #ddd;
  }
}

.mm-login-sitepolicy-iframe {
  height: 300px;
}
