<a ion-item text-wrap (click)="openCourse(course)" [class.item-disabled]="course.visible == 0" [title]="course.fullname">
    <ion-icon name="ionic" item-start></ion-icon>
    <h2><core-format-text [text]="course.fullname"></core-format-text></h2>
    <div item-end>
        <span *ngIf="!course.isEnrolled">
            <span ion-button icon-only clear *ngFor="let instance of course.enrollment" [attr.aria-label]=" instance.name | translate">
                <ion-icon *ngIf="instance.icon" [name]="instance.icon" class="icon-accessory"></ion-icon>
                <img *ngIf="instance.img && !instance.icon" [src]="instance.img" class="mm-course-enrollment-img">
            </span>
        </span>
        <span ion-button icon-only clear>
            <ion-icon name="arrow-forward" md="ios-arrow-forward" class="icon-accessory"></ion-icon>
        </span>
    </div>
</a>
