:host {
    .image-edit-container {
        display: flex;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    image-cropper {
        --cropper-overlay-color: var(--ion-background-color);
    }
}
