<section ion-list *ngIf="question.text || question.text === ''">
    <!-- Question text. -->
    <ion-item text-wrap>
        <p><core-format-text [component]="component" [componentId]="componentId" [text]="question.text" [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId"></core-format-text></p>
    </ion-item>

    <!-- Editing the question. -->
    <ng-container *ngIf="!review">
        <!-- Textarea. -->
        <ion-item *ngIf="question.textarea && (!question.hasDraftFiles || uploadFilesSupported)">
            <!-- "Format" and draftid hidden inputs -->
            <input item-content *ngIf="question.formatInput" type="hidden" [name]="question.formatInput.name" [value]="question.formatInput.value" >
            <input item-content *ngIf="question.answerDraftIdInput" type="hidden" [name]="question.answerDraftIdInput.name" [value]="question.answerDraftIdInput.value" >
            <!-- Plain text textarea. -->
            <ion-textarea *ngIf="question.isPlainText" class="core-question-textarea" [ngClass]='{"core-monospaced": question.isMonospaced}' placeholder="{{ 'core.question.answer' | translate }}" [attr.name]="question.textarea.name" aria-multiline="true" [ngModel]="question.textarea.text"></ion-textarea>
            <!-- Rich text editor. -->
            <core-rich-text-editor item-content *ngIf="!question.isPlainText" placeholder="{{ 'core.question.answer' | translate }}" [control]="formControl" [name]="question.textarea.name" [component]="component" [componentId]="componentId" [autoSave]="false"></core-rich-text-editor>
        </ion-item>

        <!-- Draft files not supported. -->
        <ng-container *ngIf="question.textarea && question.hasDraftFiles && !uploadFilesSupported">
            <ion-item text-wrap class="core-danger-item">
                <p class="core-question-warning">{{ 'core.question.errorembeddedfilesnotsupportedinsite' | translate }}</p>
            </ion-item>
            <ion-item text-wrap>
                <p><core-format-text [component]="component" [componentId]="componentId" [text]="question.textarea.text" [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId"></core-format-text></p>
            </ion-item>
        </ng-container>

        <!-- Attachments. -->
        <ng-container *ngIf="question.allowsAttachments">
            <core-attachments *ngIf="uploadFilesSupported && question.attachmentsDraftIdInput" [files]="attachments" [component]="component" [componentId]="componentId" [maxSize]="question.attachmentsMaxBytes" [maxSubmissions]="question.attachmentsMaxFiles" [allowOffline]="offlineEnabled" [acceptedTypes]="question.attachmentsAcceptedTypes"></core-attachments>

            <input item-content *ngIf="question.attachmentsDraftIdInput" type="hidden" [name]="question.attachmentsDraftIdInput.name" [value]="question.attachmentsDraftIdInput.value" >

            <!-- Attachments not supported in this site. -->
            <ion-item text-wrap *ngIf="!uploadFilesSupported" class="core-danger-item">
                <p class="core-question-warning">{{ 'core.question.errorattachmentsnotsupportedinsite' | translate }}</p>
            </ion-item>
        </ng-container>
    </ng-container>

    <!-- Reviewing the question. -->
    <ng-container *ngIf="review">
        <!-- Answer to the question and attachments (reviewing). -->
        <ion-item text-wrap *ngIf="question.answer || question.answer == ''">
            <p><core-format-text [ngClass]='{"core-monospaced": question.isMonospaced}' [component]="component" [componentId]="componentId" [text]="question.answer" [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId"></core-format-text></p>
        </ion-item>

        <!-- List of attachments when reviewing. -->
        <core-files *ngIf="question.attachments" [files]="question.attachments" [component]="component" [componentId]="componentId"></core-files>
    </ng-container>
</section>
