<span *ngIf="!isShowOrListMode()" [formGroup]="form">
    <span *ngIf="mode == 'edit'" [core-mark-required]="field.required" class="core-mark-required"></span>
    <ion-input type="url" [formControlName]="'f_'+field.id" [placeholder]="field.name"></ion-input>
    <core-input-errors *ngIf="error && mode == 'edit'" [control]="form.controls['f_'+field.id]" [errorText]="error"></core-input-errors>
</span>

<ng-container *ngIf="isShowOrListMode() && value && value.content">
    <a *ngIf="autoLink" [href]="value.content" core-link capture="true">{{ displayValue }}</a>
    <span *ngIf="!autoLink">{{ displayValue }}</span>
</ng-container>