<ion-view view-title="Learn Moodle">
  <ion-content class="credentials">
    <div class="list list-inset">
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.username' | translate }}</span>
          <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.login.password' | translate }}</span>
          <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO">
        </label>
        <div>
          <button class="button button-block" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
        </div>
        <div>
          <button class="button button-block" ng-click="signup()">{{ 'mm.login.signup' | translate }}</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
