<ion-view view-title="{{ 'mm.core.login.credentials' | translate }}">
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap">{{ 'mm.core.login.credentialsdescription' | translate }}<strong>{{siteurl}}</strong></div>
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.core.login.username' | translate }}</span>
          <input type="text" placeholder="{{ 'mm.core.login.username' | translate }}" ng-model="credentials.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'mm.core.login.password' | translate }}</span>
          <input type="password" placeholder="{{ 'mm.core.login.password' | translate }}" ng-model="credentials.password">
        </label>
        <div class="item">
          <button class="button button-block" ng-click="login()">{{ 'mm.core.login.loginbutton' | translate }}</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
