<ion-view view-title="{{ 'mm.login.newaccount' | translate }}">
    <ion-nav-buttons side="secondary">
        <button ng-if="authInstructions" class="button button-icon ion-help-circled" ng-click="showAuthInstructions()" aria-label="{{ 'mm.login.instructions' | translate }}"></button>
    </ion-nav-buttons>
    <ion-content mm-state-class delegate-handle="mmLoginEmailSignupScroll">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="settingsLoaded && !isMinor" on-refresh="refreshSettings()">
        </ion-refresher>
        <mm-loading hide-until="settingsLoaded" ng-if="!isMinor">

            <form name="ageVerificationForm" class="list list-inset" ng-if="settings && ageDigitalConsentVerification" novalidate="">
                <div class="item item-divider item-text-wrap">
                    <p class="item-heading">{{ 'mm.core.agelocationverification' | translate }}</p>
                </div>
                <div class="item item-input item-stacked-label item-text-wrap">
                    <h2 mm-mark-required="true">{{ 'mm.core.whatisyourage' | translate }}</h2>
                    <input type="number" name="age" ng-model="verifyAgeData.age" autocapitalize="none" autocorrect="off" ng-required="true" placeholder="0" required>
                </div>
                <div class="item item-select item-stacked-label">
                    <h2 mm-mark-required="true">{{ 'mm.core.wheredoyoulive' | translate }}</h2>
                    <select name="country" ng-model="verifyAgeData.country" ng-options="code as name for (code, name) in countries" ng-required="true" aria-labelledby="mm-login-verify-country" mm-ios-select-fix required>
                        <option value="">{{ 'mm.login.selectacountry' | translate }}</option>
                    </select>
                </div>

                <div class="item padding">
                    <button class="button button-block button-positive" ng-click="verifyAge(ageVerificationForm)">{{ 'mm.core.proceed' | translate }}</button>
                </div>

                <div class="item item-text-wrap">
                    <p class="item-heading">{{ 'mm.core.whyisthisrequired' | translate }}</p>
                    <p>{{ 'mm.core.explanationdigitalminor' | translate }}</p>
                </div>
            </form>

            <form name="signupForm" class="list list-inset" ng-if="settings && !ageDigitalConsentVerification" novalidate="">
                <div class="item item-text-wrap text-center">
                    <!-- If no sitename show big siteurl. -->
                    <p ng-if="!sitename" class="item-heading padding">{{siteurl}}</p>
                    <!-- If sitename, show big sitename and small siteurl. -->
                    <p ng-if="sitename" class="item-heading padding"><mm-format-text>{{sitename}}</mm-format-text></p>
                    <p ng-if="sitename">{{siteurl}}</p>
                </div>
                <!-- Username and password. -->
                <div class="item item-divider item-text-wrap">
                    {{ 'mm.login.createuserandpass' | translate }}
                </div>
                <ion-input class="item item-input item-stacked-label item-text-wrap" mm-input-errors error-messages="usernameErrors">
                    <ion-label mm-mark-required="true">{{ 'mm.login.username' | translate }}</ion-label>
                    <input type="text" name="username" placeholder="{{ 'mm.login.username' | translate }}" ng-model="data.username" autocapitalize="none" autocorrect="off" required>
                </ion-input>
                <ion-input class="item item-input item-stacked-label item-text-wrap" mm-input-errors error-messages="passwordErrors">
                    <ion-label mm-mark-required="true">{{ 'mm.login.password' | translate }}</ion-label>
                    <input id="mm-login-emailsignup-password-input" type="password" name="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="data.password" required mm-show-password>
                    <p ng-if="settings.passwordpolicy" class="mm-input-footnote">
                        {{settings.passwordpolicy}}
                    </p>
                </ion-input>
                <!-- More details. -->
                <div class="item item-divider item-text-wrap">{{ 'mm.login.supplyinfo' | translate }}</div>
                <ion-input class="item item-input item-stacked-label item-text-wrap" mm-input-errors error-messages="emailErrors">
                    <ion-label mm-mark-required="true">{{ 'mm.user.email' | translate }}</ion-label>
                    <input type="email" name="email" placeholder="{{ 'mm.user.email' | translate }}" ng-model="data.email" autocapitalize="none" autocorrect="off" required>
                </ion-input>
                <ion-input class="item item-input item-stacked-label item-text-wrap" mm-input-errors error-messages="email2Errors">
                    <ion-label mm-mark-required="true">{{ 'mm.user.emailagain' | translate }}</ion-label>
                    <input type="email" name="email2" placeholder="{{ 'mm.user.emailagain' | translate }}" ng-model="data.email2" autocapitalize="none" autocorrect="off" required ng-pattern="escapeForRegex(data.email)">
                </ion-input>
                <ion-input ng-repeat="namefield in settings.namefields track by $index" class="item item-input item-stacked-label item-text-wrap" mm-input-errors field-name="{{namefield}}" error-messages="namefieldsErrors[namefield]">
                    <ion-label mm-mark-required="true">{{ 'mm.user.' + namefield | translate }}</ion-label>
                    <input type="text" name="{{namefield}}" placeholder="{{ 'mm.user.' + namefield | translate }}" ng-model="data[namefield]" autocorrect="off" required>
                </ion-input>
                <ion-input class="item item-input item-stacked-label item-text-wrap">
                    <ion-label>{{ 'mm.user.city' | translate }}</ion-label>
                    <input type="text" name="city" placeholder="{{ 'mm.user.city' | translate }}" ng-model="data.city" autocorrect="off">
                </ion-input>
                <ion-input class="item item-select">
                    <ion-label id="mm-login-signup-country">{{ 'mm.user.country' | translate }}</ion-label>
                    <select name="country" ng-model="data.country" ng-options="code as name for (code, name) in countries" aria-labelledby="mm-login-signup-country" mm-ios-select-fix>
                        <option value="">{{ 'mm.login.selectacountry' | translate }}</option>
                    </select>
                </ion-input>
                <!-- Other categories. -->
                <div ng-repeat="category in categories">
                    <div class="item item-divider item-text-wrap">{{ category.name }}</div>
                    <mm-user-profile-field ng-repeat="field in category.fields" field="field" edit="true" signup="true" register-auth="email" model="data" scroll-handle="mmLoginEmailSignupScroll"></mm-user-profile-field>
                </div>
                <!-- ReCAPTCHA -->
                <div ng-if="settings.recaptchapublickey">
                    <div class="item item-divider item-text-wrap">{{ 'mm.login.security_question' | translate }}</div>
                    <div class="item item-text-wrap">
                        <mm-recaptcha publickey="{{settings.recaptchapublickey}}" challengehash="{{settings.recaptchachallengehash}}" challengeimage="{{settings.recaptchachallengeimage}}" model="data" siteurl="{{siteurl}}" request-captcha="requestCaptchaV1()"></mm-recaptcha>
                    </div>
                </div>
                <!-- Site policy (if any). -->
                <div ng-if="settings.sitepolicy">
                    <div class="item item-divider item-text-wrap">{{ 'mm.login.policyagreement' | translate }}</div>
                    <div class="item item-text-wrap">
                        <p><a ng-href="{{settings.sitepolicy}}" mm-link capture-link="false">{{ 'mm.login.policyagreementclick' | translate }}</a></p>
                    </div>
                    <ion-checkbox name="policyagreed" class="item-text-wrap item-checkbox-right" ng-model="data.policyagreed" required="true" mm-input-errors error-messages="policyErrors">
                        <ion-label mm-mark-required="true">{{ 'mm.login.policyaccept' | translate }}</ion-label>
                    </ion-checkbox>
                </div>
                <!-- Submit button. -->
                <div class="item padding">
                    <button class="button button-block button-positive" ng-click="create(signupForm)">{{ 'mm.login.createaccount' | translate }}</button>
                </div>
            </form>
        </mm-loading>

        <div class="list list-inset" ng-if="isMinor">
            <div class="item item-text-wrap item-divider">
                <p ng-if="sitename" class="item-heading padding"><mm-format-text>{{sitename}}</mm-format-text></p>
            </div>
            <div class="item item-text-wrap">
                <p class="item-heading">{{ 'mm.core.considereddigitalminor' | translate }}</p>
                <p>{{ 'mm.core.digitalminor_desc' | translate }}</p>
                <p ng-if="supportName">{{ supportName }}</p>
                <p ng-if="supportEmail">{{ supportEmail }}</p>
                <div class="padding" ng-if="!supportName && !supportEmail">
                    <button class="button button-block button-positive" ng-click="showContactOnSite()">
                        {{ 'mm.core.openinbrowser' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
