<ion-view view-title="{{ 'mm.login.passwordforgotten' | translate }}">
    <ion-content mm-state-class>
        <div class="list">
            <div class="item item-text-wrap">
                {{ 'mm.login.passwordforgotteninstructions2' | translate }}
            </div>
            <div class="padding">
                <p class="item item-divider item-text-wrap mm-bold">
                    {{ 'mm.login.searchby' | translate }}
                </p>
                <ion-radio ng-model="data.field" value="username">{{ 'mm.login.username' | translate }}</ion-radio>
                <ion-radio ng-model="data.field" value="email">{{ 'mm.user.email' | translate }}</ion-radio>
                <ion-input class="item item-input padding">
                    <input type="text" placeholder="{{ 'mm.login.usernameoremail' | translate }}" ng-model="data.value" autocapitalize="none" autocorrect="off">
                </ion-input>
                <div class="item item-text-wrap padding">
                    <button class="button button-block button-positive" ng-click="resetPassword(data.field, data.value)" ng-disabled="!data.value">{{ 'mm.courses.search' | translate }}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
