<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mm.login.help' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeHelp()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <p>{{ 'mm.login.helpmeloginintro' | translate}}</p>
        <p>{{ 'mm.login.helpmeloginmid' | translate}}</p>
        <p><a ng-href="{{docsurl}}" mm-browser>{{docsurl}}</a></p>
        <p translate="mm.login.helpmeloginend"></p> <!-- We use directive to handle HTML tags -->
    </ion-content>
</ion-modal-view>