<ion-view view-title="Credentials">
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap">Please provide your username and password to login on <strong>{{siteurl}}</strong>.</div>
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="john.smith" ng-model="credentials.username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password">
        </label>
        <div class="item">
          <button class="button button-block" ng-click="login()">Login!</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
