<h3>{{ 'mm.core.whoops' | translate }}</h3>
<p>{{ 'mm.login.problemconnectingerror' | translate }}</p>
<p class="padding">{{loginData.siteurl}}</p>
<p>{{ 'mm.login.problemconnectingerrorcontinue' | translate }}</p>
<button class="button button-block" ng-click="closePopup()">{{ 'mm.core.tryagain' | translate }}</button>
<h3>{{ 'mm.login.stillcantconnect' | translate }}</h3>
<p>{{ 'mm.login.contactyouradministrator' | translate }}</p>
<p ng-if="issue">{{ 'mm.login.contactyouradministratorissue' | translate }}</p>
<p ng-if="issue"><mm-format-text>{{issue}}</mm-format-text></p>
