<ion-view view-title="{{ 'mm.login.reconnect' | translate }}">
    <ion-content mm-state-class padding="true">
        <div class="card">
            <div class="item item-text-wrap item-avatar-center">
                <img ng-src="{{site.avatar}}" class="avatar" mm-external-content siteid="site.id" alt="{{ 'mm.core.pictureof' | translate:{$a: site.fullname} }}" role="presentation">
                <h2 class="padding">{{siteurl}}</h2>
                <p ng-if="!isLoggedOut"><i class="icon ion-alert-circled padding"></i> {{ 'mm.login.reconnectdescription' | translate }}</p>
            </div>
        </div>
        <div class="list item padding">
            <h2>{{ 'mm.login.username' | translate }}</h2>
            <p>{{credentials.username}}</p>
        </div>
        <form>
            <ion-input class="list item item-input mm-ioninput-password">
                <input id="mm-login-reconnect-password-input" type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" mm-show-password>
            </ion-input>
            <div class="button-bar">
                <button class="button" ng-click="cancel()">{{ 'mm.login.cancel' | translate }}</button>
                <button class="button button-positive" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
            </div>
        </form>
        <div ng-if="identityProviders && identityProviders.length" class="padding-top list">
            <p>{{ 'mm.login.potentialidps' | translate }}</p>
            <a ng-repeat="provider in identityProviders" class="item item-icon-right item-text-wrap mm-oauth-icon" ng-click="oauthClicked(provider)" title="{{provider.name}}">
                <img ng-src="{{provider.iconurl}}" alt="{{provider.name}}">
                <span>{{provider.name}}</span>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
