<ion-view view-title="{{ 'mm.login.reconnect' | translate }}">
    <ion-content mm-state-class>
        <div class="card">
            <div class="item item-text-wrap item-avatar-center">
                <p>{{ 'mm.login.reconnectdescription' | translate }}</p>
                <img ng-src="{{site.avatar}}" class="avatar" mm-external-content siteid="site.id" alt="{{ 'mm.core.pictureof' | translate:{$a: site.fullname} }}" role="presentation">
                <h2 class="padding">{{siteurl}}</h2>
            </div>
        </div>
        <div class="list list-inset">
            <div class="item">
                <h2>{{ 'mm.login.username' | translate }}</h2>
                <p>{{credentials.username}}</p>
            </div>
            <form>
                <ion-input class="item item-input item-stacked-label">
                    <ion-label>{{ 'mm.login.password' | translate }}</ion-label>
                    <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" mm-auto-focus>
                </ion-input>
                <div class="item padding">
                    <button class="button button-block button-positive" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
                    <button class="button button-block button-outline button-positive" ng-click="cancel()">{{ 'mm.login.cancel' | translate }}</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
