<ion-view view-title="{{ 'mm.login.login' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show='data.hasSites'></button>
      <button class="button button-icon ion-plus" ng-click="add()"></button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list ng-repeat="site in sites track by $index" show-delete='data.showDelete'>
        <ion-item class="item item-thumbnail-left item-remove-animate" ng-click="login($index)">
          <ion-delete-button class="ion-minus-circled" ng-click='onItemDelete($event, $index)'></ion-delete-button>
          <mm-format-text siteid="{{site.id}}">
            <img ng-src="{{site.avatar}}">
            <h2>{{site.fullname}}</h2>
            <p>{{site.sitename}}</p>
            <p>{{site.siteurl}}</p>
          </mm-format-text>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

