<ion-view view-title="{{ 'mm.login.login' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show='data.hasSites'></button>
      <button class="button button-icon ion-plus" ng-click="add()"></button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list ng-repeat="site in sites track by $index" show-delete='data.showDelete'>
        <ion-item class="item item-thumbnail-left item-remove-animate" ng-click="login(site.id)">
          <ion-delete-button class="ion-minus-circled" ng-click='onItemDelete($event, $index)'></ion-delete-button>
            <img ng-src="{{site.avatar}}" mm-external-content siteid="site.id">
            <h2>{{site.fullname}}</h2>
            <p><mm-format-text clean="true" watch="true">{{site.sitename}}</mm-format-text></p>
            <p>{{site.siteurl}}</p>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

