<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content padding="true" id="mm-login-site" mm-state-class class="mm-center-view">
    <div class="mm-view-content">
      <h2 class="padding-top">{{ 'mm.login.siteaddress' | translate }}</h2>
      <div class="card">
        <div class="item item-text-wrap">{{ 'mm.login.newsitedescription' | translate }}</div>
      </div>
      <div class="list item item-input">
        <input type="url" placeholder="moodle.org" ng-model="siteurl" mm-no-input-validation mm-auto-focus >
      </div>
      <button class="button button-block button-positive" ng-click="connect(siteurl)" ng-disabled="!siteurl">{{ 'mm.login.connect' | translate }}</button>
    </div>
  </ion-content>
</ion-view>