@use "theme/globals" as *;
/*
.amep-nav-bg {
    background-color: #21344C;
}
.toolbar-background {
    background-color: #21344C !important;
}

.dfa-logo {
    background-image: url("../../../../../assets/img/dfa_logo.jpeg");
    min-height: 100px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.amep-phase-banner {
    color: #fff;
    background: #0f6cbf;
    padding: 10px 20px;
}
*/
