@import "~theme/globals";

@if ($core-dashboard-logo) {
    .in-toolbar h1 .core-header-logo {
        max-height: calc(var(--core-header-toolbar-height) - 24px);
    }

    .in-toolbar h1 core-format-text {
        display: none;
    }
} @else {
    .in-toolbar h1 .core-header-logo {
        display: none;
    }
}
