
$mma-mod-assign-warning-color:      #c00 !default;

.mm-site_mod_assign {

  div.latesubmission {
    background-color: #efcfcf;
  }

  div.earlysubmission {
    background-color: #cfefcf;
  }

  div.submissioneditable {
    color: red;
  }
}

p.mma-mod-assign-warning {
  color: $mma-mod-assign-warning-color;
}
