<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a ng-href="{{externalUrl}}" class="button button-icon ion-ios-browsers-outline" mm-browser></a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="loaded"></ion-refresher>
        <mm-loading hide-until="loaded">
            <mm-course-mod-description description="description"></mm-course-mod-description>
            <article>
                <mm-format-text class="mm-content-with-float" watch="true" component="{{ component }}" component-id="{{ componentId }}">{{ content }}</mm-format-text>
            </article>
        </mm-loading>
    </ion-content>
</ion-view>
