:host {

    .core-user-profile-maininfo::part(native) {
        flex-direction: column;
    }
    ::ng-deep {
        core-user-avatar {
            display: block;
            --core-avatar-size: var(--core-large-avatar-size);

            img {
                margin: 8px auto;
            }

            .contact-status {
                width: 24px !important;
                height: 24px !important;
            }

            .core-icon-foreground {
                position: absolute;
                right: 0;
                bottom: 0;
                line-height: 30px;
                text-align: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color:var(--background);

                :host-context([dir="rtl"]) & {
                    left: 0;
                    right: unset;
                }
            }
        }
    }

}

:host-context([dir="rtl"]) ::ng-deep core-user-avatar .core-icon-foreground {
    left: 0;
    right: unset;
}

