<ion-view view-title="{{ 'mm.courses.availablecourses' | translate }}">
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="coursesLoaded" on-refresh="refreshCourses()">
        </ion-refresher>
        <mm-loading hide-until="coursesLoaded">
            <div ng-if="courses.length > 0">
                <mm-course-list-item ng-repeat="course in courses track by course.id" course="course"></mm-course-list-item>
            </div>
            <div ng-if="!courses.length" class="item">
                {{ 'mm.courses.nocourses' | translate }}
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
