<ion-modal-view class="mm-courses-password-modal">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mm.courses.selfenrolment' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <form class="list">
            <ion-input class="item item-input item-text-wrap mm-item-input-padding-right">
                <input id="mm-courses-password-modal-input" type="password" placeholder="{{ 'mm.courses.password' | translate }}" ng-model="enroldata.password" mm-show-password>
            </ion-input>
            <div class="item">
                <button class="button button-block" ng-click="enrol(currentEnrolInstance, enroldata.password)">{{ 'mm.courses.enrolme' | translate }}</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
