<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="courseLoaded"></ion-refresher>
        <mm-loading hide-until="courseLoaded">
            <div ng-if="course" class="list card">
                <a class="item item-icon-right" ui-sref="site.mm_course({courseid: course.id, coursefullname: course.fullname})" title="{{course.fullname}}" ng-if="handlersShouldBeShown">
                    <h2><mm-format-text watch="true">{{course.fullname}}</mm-format-text></h2>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>
                <div class="item" ng-if="!handlersShouldBeShown">
                    <h2><mm-format-text watch="true">{{course.fullname}}</mm-format-text></h2>
                </div>
                <div class="item" ng-if="course.categoryname">
                    <p class="item-heading">{{ 'mm.core.category' | translate }}</p>
                    <p><mm-format-text watch="true">{{course.categoryname}}</mm-format-text></p>
                </div>
                <div class="item" ng-if="course.contacts && course.contacts.length" mm-user-link userid="{{course.contacts[0].id}}" aria-label="{{ 'mm.core.viewprofile' | translate }}">
                    <p class="item-heading">{{ 'mm.core.teachers' | translate }}</p>
                    <p ng-repeat="contact in course.contacts">{{contact.fullname}}</p>
                </div>
                <div class="item item-text-wrap" ng-if="course.summary">
                    <p>
                        <summary>
                            <mm-format-text class="mm-content-with-float" watch="true" shorten="40%" expand-on-click="true">{{course.summary}}</mm-format-text>
                        </summary>
                    </p>
                </div>
                <mm-file ng-repeat="file in course.overviewfiles" file="file" component="{{component}}" component-id="{{course.id}}"></mm-file>
                <div class="item" ng-if="!isEnrolled" ng-repeat="instance in selfEnrolInstances track by instance.id">
                    <p class="item-heading">{{ instance.name }}</p>
                    <button class="button button-block" ng-click="enrol(instance.id, enroldata.password)">{{ 'mm.courses.enrolme' | translate }}</button>
                </div>
                <div class="item" ng-if="!isEnrolled && !selfEnrolInstances.length">
                    <p>{{ 'mm.courses.notenrollable' | translate }}</p>
                </div>
                <div class="item mm-course-handlers" ng-show="(handlersShouldBeShown && course._handlers && course._handlers.length) || loadingHandlers()">
                    <div class="item tabs tabs-icon-top" ng-show="handlersShouldBeShown && course._handlers && course._handlers.length">
                        <a ng-repeat="handler in course._handlers | orderBy:'-priority'" ng-controller="handler.controller" ng-click="action($event, course)" class="tab-item active mm-courses-handler {{class}}" title="{{title | translate}}">
                            <i class="icon {{icon}}"></i> {{title | translate}}
                        </a>
                    </div>
                    <div class="mm-loading-course-handlers text-center" ng-if="!course._handlers || !course._handlers.length">
                        <ion-spinner></ion-spinner>
                    </div>
                </div>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
