<ion-item text-wrap>
    <p class="item-heading">{{ 'addon.mod_quiz.quizpassword' | translate }}</p>
    <p>{{ 'addon.mod_quiz.requirepasswordmessage' | translate}}</p>
</ion-item>
<ion-item [formGroup]="form">
    <core-show-password item-content [name]="'quizpassword'">
        <ion-input id="addon-mod_quiz-accessrule-password-input" name="quizpassword" type="password" placeholder="{{ 'addon.mod_quiz.quizpassword' | translate }}" [formControlName]="'quizpassword'" [clearOnEdit]="false"></ion-input>
    </core-show-password>
</ion-item>
