:host {
    .button-disabled {
        opacity: 0.4;
    }

    .addon-mod_lesson-highlight {
        --background: var(--primary-tint);

        ion-label, ion-label p {
            color: var(--primary-shade);
        }
    }

    .item-interactive-disabled ion-label {
        opacity: 0.5;
    }
}
