:host {
    .addon-mod_feedback-item ion-label.label-stacked {
        margin: 11px 0px 10px;
        transform: none;
    }

    .addon-mod_feedback-item-error {
        padding-top: 5px;
        padding-bottom: 8px;
    }
}
