.core-course-section-nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;

    ion-button {
        flex: 1;
        margin-left: 4px;
        margin-right: 4px;
    }
}
