.core-course-section-nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;

    ion-button {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: none;
        flex: 1;
        margin-left: 4px;
        margin-right: 4px;
    }
}

.course-section {
    --inner-padding-end: 12px;
}
