.core-course-section-nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;

    ion-button {
        flex: 1;
        margin-left: 4px;
        margin-right: 4px;
    }
}

.course-section {
    --inner-padding-end: 12px;
}

.multiple-sections .core-course-module-list-wrapper {
    border: var(--ion-card-border-width) solid var(--ion-card-border-color);
    border-radius: var(--ion-card-radius);
    margin: 8px 4px;
    width: calc(100% - 8px);

    ion-card {
        --ion-card-background: transparent;
    }

    ion-item-divider {
        --background: transparent;
    }
}
