@use "theme/globals" as *;

:host {
    display: contents;

    --textarea-background: var(--core-input-background);
    --textarea-color: var(--core-input-text);
    --textarea-border-width: var(--core-input-border-width);
    --textarea-border-color: var(--core-input-stroke);
    --textarea-radius: var(--mdl-shape-borderRadius-xl);

    form {
        display: flex;
        align-items: center;
        width: 100%;
        background: var(--ion-item-background);
    }

    .core-send-message-input {
        appearance: none;
        display: block;
        width: 100%;
        font-family: inherit;

        background: var(--textarea-background);
        color: var(--textarea-color);
        border: var(--textarea-border-width) solid var(--textarea-border-color);
        border-radius: var(--textarea-radius);

        min-height: var(--a11y-sizing-minTargetSize);
        line-height: 20px;
        padding: 10px;
        @include margin(4px, 0px, 4px, 8px);
        resize: vertical;
    }

    ion-button {
        --padding-start: 16px;
        --padding-end: 16px;
    }

    .core-send-message-input::placeholder {
        color: var(--ion-placeholder-color);
    }
}
