@use "theme/globals" as *;

:host {
    .core-user-menu-separator {
        --inner-border-width: 0;
        --border-width: 1px 0 0 0;
    }
}

.core-usermenu-siteinfo {
    text-align: center;
    ion-label {
        margin: 0;
    }
    --padding-top: 10px;
    --padding-bottom: 10px;
}

@if ($core-user-hide-siteinfo) {
    .core-usermenu-siteinfo {
        display: none;
    }
}

core-site-logo {
    --core-site-logo-margin: 0px auto 8px auto;
    --core-site-logo-max-height: var(--core-user-menu-site-logo-max-height);

    --core-site-logo-sitename-font: var(--mdl-typography-subtitle-font-lg);
    --core-site-logo-sitename-margin-bottom: 2px;
}

@if ($core-user-hide-sitename) {
    core-site-logo {
        --core-site-logo-sitename-display: none;
    }
}

@if ($core-user-hide-siteurl) {
    .core-usermenu-siteurl {
        display: none;
    }
}

ion-footer {
    background: var(--contrast-background);
}
