@import "~theme/globals";

:host {
    --loading-background: var(--ion-background-color);
    --loading-spinner: var(--ion-color-primary);
    --loading-text-color: var(--ion-text-color);
    --loading-inline-margin: 0;
    --loading-inline-min-height: 28px;

    position: static;
    color: var(--loading-text-color);

    &.margin {
        --loading-inline-margin: 10px;
    }

    &.core-loading-loaded {
        --loading-inline-margin: 0;
        --loading-inline-min-height: 0;
    }

    ion-spinner {
        --color: var(--loading-spinner);
        color: var(--color);
    }

    .core-loading-container {
        position: absolute;
        @include position(0, 0, 0, 0);
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 3;
        margin: 0;
        padding: 0;
        background-color: var(--loading-background);
        @include core-transition(all, 200ms);
    }

    .core-loading-message {
        @include margin(10px, 0, 0, 0);
    }

    .core-loading-content {
        display: contents;
    }

    &.core-loading-noheight .core-loading-content {
        height: auto;
    }

    &.core-loading-loaded {
        position: unset;
    }

    &.core-loading-inline {
        --loading-background: transparent;
        position: relative;
        display: block;
        min-height: var(--loading-inline-min-height);
        margin-top: var(--loading-inline-margin);
        margin-bottom: var(--loading-inline-margin);

        .core-loading-message {
            @include margin(0, 0, 0, 10px);
        }

        .core-loading-container {
            flex-direction: row;
        }
    }
}

:host-context(ion-item) {
    &.core-loading-inline {
        position: static;
        display: block;
    }
}
