:host {
    ion-list {
        display: flex;
        flex-direction: column;
        height: 100%;

        ion-item {
            flex-shrink: 0;
        }

        .core-site-policy-iframe-container {
            height: 100%;

            core-iframe {
                height: 100%;
                width: 100%;
            }
        }
    }
}
