<ion-view view-title="{{ 'mma.participants.participants' | translate }}">
    <mm-split-view load-when="participantsLoaded" component="mmaParticipantsList">
        <ion-content>
            <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="participantsLoaded" on-refresh="refreshParticipants()">
            </ion-refresher>
            <mm-loading hide-until="participantsLoaded">
                <p ng-if="participants && participants.length == 0" class="padding">{{ 'mma.participants.noparticipants' | translate }}</p>
                <ul class="list" ng-if="participants && participants.length > 0">
                    <li ng-repeat="participant in participants">
                        <a class="item item-avatar" mm-split-view-link="{{userStateName}}({courseid: courseid, userid: participant.id})" title="{{participant.fullname}}">
                            <img ng-src="{{participant.profileimageurl}}" alt="" mm-external-content>
                            <mm-format-text>{{participant.fullname}}</mm-format-text>
                        </a>
                    </li>
                </ul>

                <ion-infinite-scroll ng-if="canLoadMore"
                        immediate-check="false"
                        on-infinite="loadMoreParticipants()" >
                 </ion-infinite-scroll>
            </mm-loading>
        </ion-content>
    </mm-split-view>
</ion-view>