<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{title}}</mm-format-text></ion-nav-title>
    <ion-content mm-state-class>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="eventLoaded"
                       on-refresh="refreshEvent()">
        </ion-refresher>
        <mm-loading hide-until="eventLoaded">
            <article>
                <ul class="list card">
                    <li class="item item-text-wrap">
                        {{ event.timestart | mmToLocaleString }}
                        <span ng-if="event.timeduration > 0"> - {{ (event.timestart + event.timeduration) | mmToLocaleString }}</span>
                    </li>
                    <li class="item item-text-wrap">
                        <h2><mm-format-text watch="true">{{event.name}}</mm-format-text></h2>
                    </li>
                    <li class="item item-text-wrap" ng-if="coursename">
                        <h3>{{ 'mm.core.course' | translate}}</h3>
                        <p><mm-format-text watch="true">{{coursename}}</mm-format-text></p>
                    </li>
                    <li class="item item-text-wrap item-media" ng-if="event.moduleicon">
                        <img ng-src="{{event.moduleicon}}"> {{event.modulename}}
                    </li>
                    <li class="item item-text-wrap" ng-if="event.description">
                        <mm-format-text watch="true">{{event.description}}</mm-format-text>
                    </li>
                </ul>
            </article>
            <div class="card" ng-if="notificationsEnabled">
                <div class="item item-select">
                    {{ 'mma.calendar.notifications' | translate }}
                    <select ng-model="notification.time" convert-to-number ng-change="updateNotificationTime()" mm-ios-select-fix>
                        <option value="-1">{{ 'mm.core.defaultvalue' | translate:{$a: defaultTimeReadable} }}</option>
                        <option value="0">{{ 'mm.settings.disabled' | translate }}</option>
                        <option value="10">{{ 600 | mmDuration }}</option>
                        <option value="30">{{ 1800 | mmDuration }}</option>
                        <option value="60">{{ 3600 | mmDuration }}</option>
                        <option value="120">{{ 7200 | mmDuration }}</option>
                        <option value="360">{{ 21600 | mmDuration }}</option>
                        <option value="720">{{ 43200 | mmDuration }}</option>
                        <option value="1440">{{ 86400 | mmDuration }}</option>
                    </select>
                </div>
            </div>
        </mm-loading>
    </ion-content>
</ion-view>