name: Docker Build and Test

on:
  push:
    branches: [main, latest]
    tags: ["v*.x"]
  workflow_dispatch:

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.repository == 'moodlehq/moodleapp'
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Test build
        uses: docker/build-push-action@v6
        with:
          path: app
          context: .
          push: false
          tags: ${{ github.repository }}:${{ github.sha }}
