name: Merge

on:
  push:
    branches: [ main, unscheduled ]

jobs:
  merge:
    if: github.repository == 'moodlemobile/moodleapp'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Prepare builds
      env:
        GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      run: ./.github/scripts/merge.sh
