core-iframe {
    > div {
        height: 100%;
    }
    iframe {
        border: 0;
        display: block;
    }

    .core-loading-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: table;
        height: 100%;
        width: 100%;
        z-index: 1;
        margin: 0;
        padding: 0;
        clear: both;

        .core-loading-spinner {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}
