ion-app.app-root core-iframe {
    iframe {
        border: 0;
        display: block;
        max-width: 100%;
        background-color: $gray-light;
    }

    .core-loading-container {
        position: absolute;
        @include position(0, 0, 0, 0);
        display: table;
        height: 100%;
        width: 100%;
        z-index: 1;
        margin: 0;
        padding: 0;
        clear: both;

        .core-loading-spinner {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}
