<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mma.mod_quiz.startattempt' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <div class="item item-text-wrap" ng-if="requirePassword">
                <p>{{ 'mma.mod_quiz.requirepasswordmessage' | translate}}</p>
            </div>
            <div class="item item-input" ng-if="requirePassword">
                <input type="password" placeholder="{{ 'mma.mod_quiz.quizpassword' | translate }}" ng-model="preflightData.password">
            </div>
            <div class="item item-text-wrap" ng-if="isTimed">
                <p class="item-heading">{{ 'mma.mod_quiz.confirmstartheader' | translate }}</p>
                <p>{{ 'mma.mod_quiz.confirmstart' | translate:{$a: quiz.readableTimeLimit} }}</p>
            </div>
            <div class="item">
                <button class="button button-block" ng-click="start(preflightData.password)">{{ 'mma.mod_quiz.startattempt' | translate }}</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
