<ion-content id="mma-mod-quiz-toc">
    <nav>
        <ul class="list">
            <a menu-close ng-repeat="page in rsmScope.toc" class="item item-text-wrap" ng-class='{"mma-mod-quiz-highlighted": rsmScope.attempt.currentpage + 1 == page}' ng-click="rsmScope.loadPage(page - 1, true)">
                <span>{{ 'mm.core.pagea' | translate:{$a: page} }}</span>
            </a>
            <a menu-close class="item item-text-wrap" ng-click="rsmScope.loadPage(-1, true)" ng-class='{"mma-mod-quiz-highlighted": rsmScope.isReview && rsmScope.attempt.currentpage == -1}'>
                <span ng-if="!rsmScope.isReview">{{ 'mma.mod_quiz.finishattemptdots' | translate }}</span>
                <span ng-if="rsmScope.isReview">{{ 'mma.mod_quiz.showall' | translate }}</span>
            </a>
        </ul>
    </nav>
</ion-content>