<ion-view>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="userLoaded" on-refresh="refreshUser()"></ion-refresher>
        <mm-loading hide-until="userLoaded">
            <div ng-if="user && !isDeleted">
                <div class="item item-text-wrap item-avatar-center">
                    <span ng-class="{'foreground-ion-edit ion-edit': canChangeProfilePicture}" ng-click="canChangeProfilePicture && changeProfilePicture()">
                        <img ng-if="user.profileimageurl" class="avatar" ng-src="{{user.profileimageurl}}" mm-external-content alt="{{ 'mm.core.pictureof' | translate:{$a: user.fullname} }}" role="presentation">
                        <img ng-if="!user.profileimageurl" class="avatar" src="img/user-avatar.png" alt="{{ 'mm.core.pictureof' | translate:{$a: user.fullname} }}" role="presentation">
                    </span>
                    <h2><mm-format-text watch="true" clean="true">{{user.fullname}}</mm-format-text></h2>
                    <p><mm-format-text watch="true" clean="true" ng-if="user.address">{{user.address}}</mm-format-text></p>
                    <p ng-if="user.roles">
                        <strong>{{ 'mm.user.rolesoncourse' | translate}}</strong>{{'mm.core.fieldvalueseparator' | translate}} <mm-format-text watch="true" clean="true">{{user.roles}}</mm-format-text>
                    </p>
                </div>
                <div class="item item-borderless mm-tab-handlers" ng-if="(communicationHandlers && communicationHandlers.length) || isLoadingHandlers">
                    <div class="item tabs tabs-icon-top tabs-icon-round" ng-if="communicationHandlers && communicationHandlers.length">
                        <a ng-repeat="handler in communicationHandlers | orderBy:'-priority' track by $index" ng-controller="handler.controller" ng-click="action($event, course)" class="mm-user-profile-handler {{class}} tab-item active" title="{{title | translate}}">
                            <i class="icon {{icon}}"></i> {{title | translate}}
                        </a>
                    </div>
                    <div class="mm-loading-handlers text-center" ng-if="isLoadingHandlers">
                        <ion-spinner></ion-spinner>
                    </div>
                </div>

                <a class="item item-icon-left item-icon-right item-text-wrap mm-user-profile-handler {{class}}" ui-sref="site.mm_user-about({courseid: courseId, userid: userId})" title="{{ 'mm.user.about' | translate }}">
                    <i class="icon ion-person"></i>
                    <h2>{{ 'mm.user.about' | translate }}</h2>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>
                <div class="item text-center" ng-if="isLoadingHandlers">
                    <ion-spinner></ion-spinner>
                </div>
                <a class="item item-icon-right item-text-wrap mm-user-profile-handler {{class}}" ng-class="{'item-icon-left': icon}" ng-repeat="handler in newPageHandlers | orderBy:'-priority' track by $index" ng-controller="handler.controller" ng-click="action($event)" ng-hide="hidden" title="{{ title | translate }}">
                    <i ng-if="icon" class="icon {{icon}}"></i>
                    <h2>{{ title | translate }}</h2>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>

                <div class="padding" ng-if="actionHandlers && actionHandlers.length">
                    <a ng-repeat="handler in actionHandlers | orderBy:'-priority' track by $index" ng-controller="handler.controller" class="button button-block mm-user-profile-handler {{class}} {{icon}}" ng-click="action($event)" ng-hide="hidden" title="{{ title | translate }}" ng-class="{'icon-left': icon}">
                        {{ title | translate }}
                        <ion-spinner class="icon" ng-if="spinner"></ion-spinner>
                    </a>
                </div>
            </div>

            <div ng-if="!user && !isDeleted">
                {{ 'mm.user.detailsnotavailable' | translate }}
            </div>

            <div ng-if="isDeleted">
                {{ 'mm.core.userdeleted' | translate }}
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
