<ion-view>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content padding="true" mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="userLoaded" on-refresh="refreshUser()"></ion-refresher>
        <mm-loading hide-until="userLoaded">
            <div class="list" ng-if="user && !isDeleted">
                <div class="item item-avatar">
                    <img ng-if="user.profileimageurl" ng-src="{{user.profileimageurl}}" mm-external-content alt="{{ 'mm.core.pictureof' | translate:{$a: user.fullname} }}" role="presentation">
                    <img ng-if="!user.profileimageurl" src="img/user-avatar.png" alt="{{ 'mm.core.pictureof' | translate:{$a: user.fullname} }}" role="presentation">
                    <h2><mm-format-text watch="true" clean="true">{{user.fullname}}</mm-format-text></h2>
                </div>
                <div class="item item-divider" ng-if="hasContact">
                    <h2>{{ 'mm.user.contact' | translate}}</h2>
                </div>
                <div class="item" ng-if="user.email">
                    <p class="item-heading">{{ 'mm.user.email' | translate}}</p>
                    <p>
                        <a href="mailto:{{user.email}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.email}}</mm-format-text>
                        </a>
                    </p>
                </div>
                <div class="item" ng-if="user.phone1">
                    <p class="item-heading">{{ 'mm.user.phone1' | translate}}</p>
                    <p>
                        <a href="tel:{{user.phone1}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.phone1}}</mm-format-text>
                        </a>
                    </p>
                </div>
                <div class="item" ng-if="user.phone2">
                    <p class="item-heading">{{ 'mm.user.phone2' | translate}}</p>
                    <p>
                        <a href="tel:{{user.phone2}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.phone2}}</mm-format-text>
                        </a>
                    </p>
                </div>
                <div class="item" ng-if="user.address">
                    <p class="item-heading">{{ 'mm.user.address' | translate}}</p>
                    <p>
                        <a ng-if="isAndroid" href="geo:0,0?q={{user.encodedAddress}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.address}}</mm-format-text>
                        </a>
                        <a ng-if="!isAndroid" href="http://maps.google.com?q={{user.encodedAddress}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.address}}</mm-format-text>
                        </a>
                    </p>
                </div>
                <div class="item" ng-if="user.city && !user.address">
                    <p class="item-heading">{{ 'mm.user.city' | translate}}</p>
                    <p>
                        <mm-format-text watch="true" clean="true">{{user.city}}</mm-format-text>
                    </p>
                </div>
                <div class="item" ng-if="user.country && !user.address">
                    <p class="item-heading">{{ 'mm.user.country' | translate}}</p>
                    <p>
                        <mm-format-text watch="true" clean="true">{{user.country}}</mm-format-text>
                    </p>
                </div>
                <div class="item item-divider" ng-if="hasDetails">
                    <h2>{{ 'mm.user.details' | translate}}</h2>
                </div>
                <div class="item" ng-if="user.url">
                    <p class="item-heading">{{ 'mm.user.webpage' | translate}}</p>
                    <p>
                        <a href="{{user.url}}" mm-link>
                            <mm-format-text watch="true" clean="true">{{user.url}}</mm-format-text>
                        </a>
                    </p>
                </div>
                <div class="item" ng-if="user.roles">
                    <p class="item-heading">{{ 'mm.user.roles' | translate}}</p>
                    <p>
                        <mm-format-text watch="true" clean="true">{{user.roles}}</mm-format-text>
                    </p>
                </div>
                <div class="item" ng-if="user.interests">
                    <p class="item-heading">{{ 'mm.user.interests' | translate}}</p>
                    <p>
                        <mm-format-text watch="true" clean="true">{{user.interests}}</mm-format-text>
                    </p>
                </div>
                <div class="item item-divider" ng-if="user.description">
                    <h2>{{ 'mm.user.description' | translate}}</h2>
                </div>
                <div class="item item-text-wrap" ng-if="user.description">
                    <mm-format-text class="mm-content-with-float" watch="true">{{user.description}}</mm-format-text>
                </div>

                <div class="item text-center" ng-if="(!profileHandlers || !profileHandlers.length) && isLoadingHandlers">
                    <ion-spinner></ion-spinner>
                </div>
                <div ng-repeat="handler in profileHandlers | orderBy:'-priority'" ng-controller="handler.controller" class="mm-user-profile-handler {{class}}">
                    <a class="button button-block" ng-click="action($event)" ng-hide="hidden" title="{{ title | translate }}">
                        {{ title | translate }} <ion-spinner class="icon" ng-if="spinner"></ion-spinner>
                    </a>
                </div>
            </div>

            <div ng-if="!user && !isDeleted">
                {{ 'mm.user.detailsnotavailable' | translate }}
            </div>

            <div ng-if="isDeleted">
                {{ 'mm.core.userdeleted' | translate }}
            </div>
        </mm-loading>
    </ion-content>
</ion-view>
